<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>

	<div class="tabbable-custom ">
		<ul class="nav nav-tabs " id="region_tabs">
			<li class="active">
				<a href="#generationParameters" data-toggle="tab">Параметры формирования</a>
			</li>
			<li>
				<a href="#aokmotuListOfRegion" data-toggle="tab">Параметры фильтрации</a>
			</li>
			<li>
				<a href="#seloListOfRegion" data-toggle="tab">Параметры содержания</a>
			</li>
			<li>
				<a href="#debtorListOfRegion" data-toggle="tab">3</a>
			</li>
			<li>
				<a href="#loanListOfRegion" data-toggle="tab">4</a>
			</li>
		</ul>
		
		<div class="tab-content">
			<div class="tab-pane" id="debtorListOfRegion">
			</div>
			<div class="tab-pane" id="loanListOfRegion">
			</div>
		</div>
	</div>

</body>
</html>