<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__body">
            <ul class="nav nav-tabs " id="aokmotu_tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link m--font-primary active" data-toggle="tab" href="#villageListOfAokmotu">Село</a>
                </li>
            </ul>
            <div class="tab-content">
			<div class="tab-pane active" id="villageListOfAokmotu" role="tabpanel">
				<table class="table" id="villageTable">
					<thead class="thead-default">
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Code</th>
							<th>Aokmotu</th>
							<th>View</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="villageInList : ${aokmotu.village}">
							<td th:text="${villageInList.id}">Id</td>
							<td th:text="${villageInList.name}">Name</td>
							<td th:text="${villageInList.code}">Code</td>
							<td th:text="${villageInList.aokmotu.name}">District</td>
							<td><a th:href="@{/village/__${villageInList.id}__/details}"
								role="button" class="btn btn-xs green-stripe"> View </a></td>
							<td><a data-remote="false" data-toggle="modal"
								data-target="#aokmotuFormModal"
								th:href="@{/village/__${villageInList.id}__/edit}"
								role="button" class="btn btn-xs blue-stripe"> Edit </a></td>

							<td>
								<form th:action="@{/village/__${villageInList.id}__/remove}"
									method="post">
									<button type="submit" class="btn btn-xs red-stripe">Delete</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	    </div>
    </div>
</div>