<form th:action="@{/bankData/save}" class="form-horizontal" method="post" th:object="${bankData}">
	<div class="modal-header">
		<h5 class="modal-title" th:text="#{label.add.bankData}"></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">

		<div class="alert alert-danger alert-dismissible alert-hidden" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
			<span th:text="#{label.modal.error.name}"></span>
		</div>

		<!--hidden-->
		<input hidden="true" type="text" id="id" name="id"
			   th:field="${bankData.id}" />
		<input hidden="true" type="text" id="organization_id" name="organizationId"
			   th:field="${bankData.organization.id}" />

		<div class="form-group m-form__group row">
			<label class="col-form-label col-lg-4 col-sm-12">
				<span th:text="#{label.bankData.name}"></span>
				<span class="m--font-danger">*</span>
			</label>
			<div class="col-lg-8 col-md-9 col-sm-12">
				<input type="text" class="form-control" name="name" th:field="${bankData.name}"/>
			</div>
		</div>

		<div class="form-group m-form__group row">
			<label class="col-form-label col-lg-4 col-sm-12">
				<span th:text="#{label.bankData.description}"></span>
				<span class="m--font-danger">*</span>
			</label>
			<div class="col-lg-8 col-md-9 col-sm-12">
				<textarea rows="2" class="form-control" name="description" th:field="${bankData.description}"></textarea>
			</div>
		</div>

		<div class="form-group m-form__group row">
			<label class="col-form-label col-lg-4 col-sm-12">
				<span th:text="#{label.bankData.bik}"></span>
				<span class="m--font-danger">*</span>
			</label>
			<div class="col-lg-8 col-md-9 col-sm-12">
				<input type="text" class="form-control"  name="bik" th:field="${bankData.bik}"/>
			</div>
		</div>

		<div class="form-group m-form__group row">
			<label class="col-form-label col-lg-4 col-sm-12">
				<span th:text="#{label.bankData.accountNumber}"></span>
				<span class="m--font-danger">*</span>
			</label>
			<div class="col-lg-8 col-md-9 col-sm-12">
				<input type="text" class="form-control" name="account_number" th:field="${bankData.account_number}"/>
			</div>
		</div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{label.orgForm.button.cancel}"></button>
		<button type="submit" class="btn btn-primary" th:text="#{label.button.save}"></button>
	</div>
</form>

