<div class="m-content">
	<div class="m-portlet">
		<div class="m-portlet__body">
			<ul class="nav nav-tabs " id="district_tabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link m--font-primary active" data-toggle="tab" href="#aokmotuListOfDistrict">А.Округ</a>
				</li>
			</ul>
			<div class="tab-content">
			<div class="tab-pane active" id="aokmotuListOfDistrict" role="tabpanel">
				<table class="table" id="aokmotuTable">
					<thead class="thead-default">
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Code</th>
							<th>District</th>
							<th>View</th>
							<th>Edit</th>
							<th hidden="hidden">Delete</th>
						</tr>
					</thead>

					<tbody>

						<tr th:each="aokmotuInList : ${district.aokmotu}">
							<td th:text="${aokmotuInList.id}">Id</td>
							<td th:text="${aokmotuInList.name}">Name</td>
							<td th:text="${aokmotuInList.code}">Code</td>
							<td th:text="${aokmotuInList.district.name}">District</td>
							<td><a th:href="@{/aokmotu/__${aokmotuInList.id}__/details}"
								role="button" class="btn btn-xs green-stripe"> View </a></td>
							<td sec:authorize="hasAnyAuthority('ADMIN','PERM_UPDATE_AOKMOTU')"><a data-remote="false" data-toggle="modal"
								data-target="#districtFormModal"
								th:href="@{/aokmotu/__${aokmotuInList.id}__/edit}"
								role="button" class="btn btn-xs blue-stripe"> Edit </a></td>

							<td hidden="hidden">
								<form th:action="@{/aokmotu/__${aokmotuInList.id}__/remove}"
									method="post">
									<button type="submit" class="btn btn-xs red-stripe">Delete</button>
								</form>
							</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
		</div>
	</div>
</div>