<form th:action="@{/employmentHistoryEvent/save}" class="form-horizontal" method="post" th:object="${employmentHistoryEvent}">
	<div class="modal-header">
		<h5 class="modal-title" th:text="#{label.add.employmentHistoryEvent}"></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">

		<!--hidden-->
		<input hidden="true" type="text" th:field="*{id}" />
		<input hidden="true" type="text" th:field="*{employmentHistory.id}" />

		<div class="form-group ">
			<label for="name" class="form-control-label" th:text="#{label.staff.empoymentHistoryEventNumber}">Code</label>
			<input type="text" class="form-control" id="name"  th:field="*{name}"/>
		</div>


		<div class="form-group m-form__group row">
			<label class="col-form-label col-lg-4 col-sm-12">
				<span th:text="#{label.employmentHistoryEvent.type}"></span>
				<span class="m--font-danger">*</span>
			</label>

			<select class="form-control m_selectpicker" id="srs" th:field="*{employmentHistoryEventType}" style="width: 100%" th:title="#{label.select}">
				<option
						th:each="employmentHistoryEventTypeInList : ${employmentHistoryEventTypeList}"
						th:value="${{employmentHistoryEventTypeInList}}"
						th:text="${employmentHistoryEventTypeInList.name}">employmentHistoryEventTypeInList.name</option>
			</select>
		</div>
		<div class="form-group m-form__group row">
			<label class="col-form-label col-lg-4 col-sm-12">
				<span th:text="#{label.empoymentHistoryEvent.date}"></span>
				<span class="m--font-danger">*</span>
			</label>
			<div class="input-group date m_datetimepicker_6">
				<input type="text" class="form-control m-input" th:placeholder="#{label.select.date}" th:field="*{date}"/>
				<span class="input-group-addon">
													<i class="la la-calendar glyphicon-th"></i>
												</span>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{label.orgForm.button.cancel}"></button>
		<button type="submit" class="btn btn-primary" th:text="#{label.button.save}"></button>
	</div>
</form>

<script>
    $('.m_selectpicker').selectpicker('refresh');

    $('.m_datetimepicker_6').datetimepicker({
        format: "dd.mm.yyyy",
        todayHighlight: true,
        autoclose: true,
        startView: 2,
        minView: 2,
        forceParse: 0,
        pickerPosition: 'bottom-left'
    });




</script>