<form th:action="@{/identityDocGivenBy/save}" id="form_sample_2" class="form-horizontal" method="post" th:object="${identityDocGivenBy}">
	<div class="modal-header">
		<h5 class="modal-title"  th:text="#{label.identityDocGivenBy.modal.title}"></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">
				&times;
			</span>
		</button>
	</div>
	<div class="modal-body">

		<div class="alert alert-danger alert-dismissible alert-hidden" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
			<span th:text="#{label.identityDocGivenBy.modal.error.name}"></span>
		</div>

		<div class="form-group">
			<label for="name" class="form-control-label" th:text="#{label.district.modal.name}">Name<span class="required"> * </span></label>
			<input hidden="true" type="text" id="id" name="id" th:value="${identityDocGivenBy.id}" />
			<input type="text" class="form-control" id="name" name="name" th:value="${identityDocGivenBy.name}">
		</div>

		<div class="form-group">
			<label class="form-control-label" th:text="#{label.identityDocGivenBy.modal.enabled}"></label>
			<div class="col-3">
				<div class="row">
					<span class="m-switch m-switch--outline m-switch--primary">
						<label>
							<input type="checkbox" id="enabled" name="enabled" th:field="${identityDocGivenBy.enabled}">
							<span></span>
						</label>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{label.identityDocGivenBy.button.cancel}"></button>
		<button type="submit" class="btn btn-primary" th:text="#{label.identityDocGivenBy.button.submit}"></button>
	</div>
</form>