<form th:action="@{/organization/save}" class="form-horizontal" method="post" th:object="${organization}">
	<div class="modal-header">
		<h5 class="modal-title" th:text="#{label.add.organization}"></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">

		<div class="alert alert-danger alert-dismissible alert-hidden" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
			<span th:text="#{label.orgForm.modal.error.name}"></span>
		</div>

		<!--hiddens-->
		<input hidden="true" type="text" id="id" name="id" th:field="*{id}" />
		<input hidden="true" type="text" id="orgFormId" name="orgForm.id" th:field="*{orgForm.id}" />
		<input hidden="true" type="text" id="addressId" name="address.id" th:field="*{address.id}" />
		<input hidden="true" type="text" id="regionId" name="address.region.id" th:field="*{address.region.id}" />
		<input hidden="true" type="text" id="districtId" name="address.district.id" th:field="*{address.district.id}" />
		<input hidden="true" type="text" id="aokmotuId" name="address.aokmotu.id" th:field="*{address.aokmotu.id}" />
		<input hidden="true" type="text" id="villageId" name="address.village.id" th:field="*{address.village.id}" />
		<input hidden="true" type="text" id="identityDocTypeId" name="identityDoc.identityDocType.id" th:field="*{identityDoc.identityDocType.id}" />
		<input hidden="true" type="text" id="identityDocGivenById" name="identityDoc.identityDocGivenBy.id" th:field="*{identityDoc.identityDocGivenBy.id}" />

		<div class="form-group m-form__group row">
			<label class="col-form-label col-lg-4 col-sm-12">
				<span th:text="#{label.org.name}"></span>
				<span class="m--font-danger">*</span>
			</label>
			<div class="col-lg-8 col-md-9 col-sm-12">
				<input type="text" class="form-control" name="name" th:field="*{name}"/>
			</div>
		</div>

		<div class="form-group m-form__group row">
			<label class="col-form-label col-lg-4 col-sm-12">
				<span th:text="#{label.org.description}"></span>
				<span class="m--font-danger">*</span>
			</label>
			<div class="col-lg-8 col-md-9 col-sm-12">
				<textarea rows="2" class="form-control" id="description" name="description" th:field="*{description}"></textarea>
			</div>
		</div>

		<div class="form-group m-form__group row">
			<label class="col-form-label col-lg-4 col-sm-12">
				<span th:text="#{label.org.orgForm}"></span>
				<span class="m--font-danger">*</span>
			</label>
			<div class="col-lg-8 col-md-9 col-sm-12">
				<select class="form-control m-bootstrap-select m_selectpicker" th:value="${organization.orgForm}" id="orgFormSelect" onchange="updateOrgFormId(this);" title="Select...">
					<option th:each="orgFormInList : ${orgFormList}"
							th:value="${orgFormInList.id}"
							th:selected="(${orgFormInList.id} == *{orgForm.id})"
							th:text="${orgFormInList.name}"></option>
				</select>
			</div>
		</div>

		<div class="m-portlet__body">
			<ul class="nav nav-tabs nav-fill" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#addressData" th:text="#{label.addressData}"></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#identityDocData" th:text="#{label.identityDocData}"></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#contacts" th:text="#{label.contacts}"></a>
				</li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="addressData" role="tabpanel">
					<div class="form-body">
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-4 col-sm-12">
								<span th:text="#{label.org.address}"></span>
								<span class="m--font-danger">*</span>
							</label>
							<div class="col-lg-8 col-md-9 col-sm-12">
								<input type="text" class="form-control" name="address.line" th:field="*{address.line}"/>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-4 col-sm-12">
								<span th:text="#{label.org.region}"></span>
								<span class="m--font-danger">*</span>
							</label>
							<div class="col-lg-8 col-md-9 col-sm-12">
								<select class="form-control m-bootstrap-select m_selectpicker" th:value="${organization.address.region}" onchange="updateRegionId(this);" title="Select...">
									<option th:each="regionInList : ${regionList}"
											th:value="${regionInList.id}"
											th:selected="(${regionInList.id} == *{address.region.id})"
											th:text="${regionInList.name}"

									></option>
								</select>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-4 col-sm-12">
								<span th:text="#{label.org.district}"></span>
								<span class="m--font-danger">*</span>
							</label>
							<div class="col-lg-8 col-md-9 col-sm-12">
								<select class="form-control m-bootstrap-select m_selectpicker" th:value="${organization.address.district}" onchange="updateDistrictId(this);" title="Select...">
									<option th:each="districtInList : ${districtList}"

											th:value="${districtInList.id}"
											th:selected="(${districtInList.id} == *{address.district.id})"
											th:text="${districtInList.name}"></option>
								</select>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-4 col-sm-12">
								<span th:text="#{label.org.aokmotu}"></span>
								<span class="m--font-danger">*</span>
							</label>
							<div class="col-lg-8 col-md-9 col-sm-12">
								<select class="form-control m-bootstrap-select m_selectpicker" th:value="${organization.address.aokmotu}" onchange="updateAokmotuId(this);" title="Select...">
									<option th:each="aokmotuInList : ${aokmotuList}"
											th:value="${aokmotuInList.id}"
											th:selected="(${aokmotuInList.id} == *{address.aokmotu.id})"
											th:text="${aokmotuInList.name}"></option>
								</select>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-4 col-sm-12">
								<span th:text="#{label.org.village}"></span>
								<span class="m--font-danger">*</span>
							</label>
							<div class="col-lg-8 col-md-9 col-sm-12">
								<select class="form-control m-bootstrap-select m_selectpicker" th:value="${organization.address.village}" onchange="updateVillageId(this);" title="Select...">
									<option th:each="villageInList : ${villageList}"
											th:value="${villageInList.id}"
											th:selected="(${villageInList.id} == *{address.village.id})"
											th:text="${villageInList.name}"></option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="identityDocData" role="tabpanel">
					<div class="form-body">
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-4 col-sm-12">
								<span th:text="#{label.identityDoc.name}"></span>
								<span class="m--font-danger">*</span>
							</label>
							<div class="col-lg-8 col-md-9 col-sm-12">
								<input type="text" class="form-control" name="identityDoc.name" th:field="${organization.identityDoc.name}"/>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-4 col-sm-12">
								<span th:text="#{label.identityDoc.enabled}"></span>
								<span class="m--font-danger">*</span>
							</label>
							<div class="col-lg-8 col-md-9 col-sm-12">
								<input type="text" class="form-control" name="enabled" th:field="${organization.identityDoc.enabled}"/>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-4 col-sm-12">
								<span th:text="#{label.identityDoc.number}"></span>
								<span class="m--font-danger">*</span>
							</label>
							<div class="col-lg-8 col-md-9 col-sm-12">
								<input type="text" class="form-control" name="number" th:field="${organization.identityDoc.number}"/>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-4 col-sm-12">
								<span th:text="#{label.identityDoc.pin}"></span>
								<span class="m--font-danger">*</span>
							</label>
							<div class="col-lg-8 col-md-9 col-sm-12">
								<input type="text" class="form-control" name="pin" th:field="${organization.identityDoc.pin}"/>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-4 col-sm-12">
								<span th:text="#{label.identityDoc.type}"></span>
								<span class="m--font-danger">*</span>
							</label>
							<div class="col-lg-8 col-md-9 col-sm-12">
								<select class="form-control m-bootstrap-select m_selectpicker" th:value="${organization.identityDoc.identityDocType}"  onchange="updateIdentityDocTypeId(this);" title="Select...">
									<option
											th:each="identityDocTypeInList : ${identityDocTypeList}"
											th:value="${identityDocTypeInList.id}"
											th:selected="(${identityDocTypeInList.id} == *{identityDoc.identityDocType.id})"
											th:text="${identityDocTypeInList.name}"></option>
								</select>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-4 col-sm-12">
								<span th:text="#{label.identityDoc.givenBy}"></span>
								<span class="m--font-danger">*</span>
							</label>
							<div class="col-lg-8 col-md-9 col-sm-12">
								<select class="form-control m-bootstrap-select m_selectpicker" th:value="${organization.identityDoc.identityDocGivenBy}" onchange="updateIdentityDocGivenById(this);" title="Select...">
									<option
											th:each="identityDocGivenByInList : ${identityDocGivenByList}"
											th:value="${identityDocGivenByInList.id}"
											th:selected="(${identityDocGivenByInList.id} == *{identityDoc.identityDocGivenBy.id})"
											th:text="${identityDocGivenByInList.name}"></option>
								</select>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-4 col-sm-12">
								<span th:text="#{label.identityDoc.date}"></span>
								<span class="m--font-danger">*</span>
							</label>
							<div class="col-lg-8 col-md-9 col-sm-12">
								<div class="input-group date m_datetimepicker_6">
									<input type="text" class="form-control m-input" placeholder="Select date" name="date" th:value="${organization.identityDoc.date}"/>
									<span class="input-group-addon">
													<i class="la la-calendar glyphicon-th"></i>
												</span>
								</div>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-4 col-sm-12">
								<span th:text="#{label.identityDoc.firstname}"></span>
								<span class="m--font-danger">*</span>
							</label>
							<div class="col-lg-8 col-md-9 col-sm-12">
								<input type="text" class="form-control" name="identityDocDetails.firstname"
									   th:field="${organization.identityDoc.identityDocDetails.firstname}"/>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-4 col-sm-12">
								<span th:text="#{label.identityDoc.lastname}"></span>
								<span class="m--font-danger">*</span>
							</label>
							<div class="col-lg-8 col-md-9 col-sm-12">
								<input type="text" class="form-control" name="identityDocDetails.lastname"
									   th:field="${organization.identityDoc.identityDocDetails.lastname}"/>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-4 col-sm-12">
								<span th:text="#{label.identityDoc.midname}"></span>
								<span class="m--font-danger">*</span>
							</label>
							<div class="col-lg-8 col-md-9 col-sm-12">
								<input type="text" class="form-control" name="identityDocDetails.midname"
									   th:field="${organization.identityDoc.identityDocDetails.midname}"/>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-4 col-sm-12">
								<span th:text="#{label.identityDoc.fullname}"></span>
								<span class="m--font-danger">*</span>
							</label>
							<div class="col-lg-8 col-md-9 col-sm-12">
								<input type="text" class="form-control" name="identityDocDetails.fullname"
									   th:field="${organization.identityDoc.identityDocDetails.fullname}"/>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="contacts" role="tabpanel">
					<div class="form-body">
						<input hidden="true" type="text" id="contactID" name="contact.id" th:field="${organization.contact.id}" />
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-4 col-sm-12">
								<span th:text="#{label.contact.name}"></span>
								<span class="m--font-danger">*</span>
							</label>
							<div class="col-lg-8 col-md-9 col-sm-12">
								<input type="text" class="form-control" name="contact.name" th:field="${organization.contact.name}"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{label.orgForm.button.cancel}"></button>
		<button type="submit" class="btn btn-primary" th:text="#{label.orgForm.button.submit}"></button>
	</div>
</form>

<script>
    $('.m_selectpicker').selectpicker('refresh');
</script>