<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- begin::Head -->
<head>
	<title th:text="#{label.persons}"></title>

	<div th:replace="fragments/header :: header-css"/>
</head>
<!-- end::Head -->

<!-- end::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
	<!-- BEGIN: Header -->
	<div th:replace="layout/header"/>
	<!-- END: Header -->

	<!-- begin::Body -->
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
		<!-- BEGIN: Left Aside -->
		<div th:replace="layout/sidebar"/>
		<!-- END: Left Aside -->
		<div class="m-grid__item m-grid__item--fluid m-wrapper">

			<div class="m-content">

				<div class="m-portlet m-portlet--mobile">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text" th:text="#{label.persons}"></h3>
							</div>
						</div>
						<div class="m-portlet__head-tools">
							<ul class="m-portlet__nav">
								<li class="m-portlet__nav-item">
									<form th:action="@{/person/search}" method="get">
										<input type="hidden" name="pageSize" th:value="${selectedPageSize}">
										<input type="hidden" name="page" th:value="${current}">
										<div class="m-input-icon m-input-icon--left">
											<input type="text" class="form-control m-input" th:placeholder="#{label.search}" name="q">
											<span class="m-input-icon__icon m-input-icon__icon--left">
												<span>
													<i class="la la-search"></i>
												</span>
											</span>
										</div>
									</form>
								</li>
							</ul>
						</div>
					</div>
					<div class="m-portlet__body">

						<div class="m-section">
							<div class="m-section__content">
								<a sec:authorize="hasRole('ADMIN')" data-remote="false"
								   data-toggle="modal"
								   data-target="#personFormModal"
								   th:href="@{/person/add}"
								   role="button"
								   class="m-portlet__nav-link btn btn-success m-btn m-btn--air"
								   th:text="#{label.add.person}"></a>
								<!--<a data-remote="false"-->
								   <!--data-toggle="modal"-->
								   <!--data-target="#personFormModal"-->
								   <!--th:href="@{/information/add}"-->
								   <!--role="button"-->
								   <!--class="m-portlet__nav-link btn btn-success m-btn m-btn&#45;&#45;air"-->
								   <!--th:text="#{label.add.information}"></a>-->
							</div>
						</div>

						<div class="m-section">
							<table class="table" id="personTable">
								<thead class="thead-default">
								<tr>
									<th>ID</th>
									<th th:text="#{label.person.name}"></th>
									<th th:text="#{label.person.district}"></th>
									<th>&nbsp;</th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="s : ${personList}">
									<td th:text="${s.id}"></td>
									<td th:text="${s.name}"></td>
									<td th:text="${s.address.district.name}"></td>
									<td class="table-actions text-right">
										<span>
											<div class="dropdown">
												<a href="#" class="btn m-btn m-btn--hover-metal m-btn--icon m-btn--icon-only m-btn--pill btn-dropdown" data-toggle="dropdown">
													<i class="la la-ellipsis-h"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<a sec:authorize="hasRole('ADMIN')"  class="dropdown-item"
													   data-remote="false" data-toggle="modal"
													   data-target="#personFormModal"
													   th:href="@{/person/__${s.id}__/edit}" role="button">
														<span th:text="#{label.table.edit}"></span>
													</a>
													<a class="dropdown-item" th:href="@{/person/__${s.id}__/details}">
																	<span th:text="#{label.table.view}"></span>
																</a>
													<a sec:authorize="hasRole('ADMIN')" class="dropdown-item" href="#">
														<span>
															<form th:action="@{/person/__${s.id}__/remove}" method="post">
																<input hidden="true" type="text" id="id" name="id" th:value="${s.id}" />
																<button type="submit" class="btn btn-reset" th:text="#{label.table.delete}"></button>
															</form>
														</span>
													</a>
												</div>
											</div>
										</span>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>



					<div class="m-portlet__foot">
						<div class="m-datatable m-datatable--default">
							<div class="m-datatable__pager m-datatable--paging-loaded clearfix">
								<ul class="m-datatable__pager-nav">
									<li th:class="${current == 0} ? disabled">
										<a th:title="#{label.pagination.first}" class="m-datatable__pager-link m-datatable__pager-link--first" th:href="${q} ? @{/person/search(pageSize=${selectedPageSize}, page=1, q=${q})} : @{/person/list(pageSize=${selectedPageSize}, page=1)}">
											<i class="la la-angle-double-left"></i>
										</a>
									</li>
									<li th:class="${current == 0} ? disabled">
										<a th:title="#{label.pagination.prev}" class="m-datatable__pager-link m-datatable__pager-link--prev" th:href="${q} ? @{/person/search(pageSize=${selectedPageSize}, page=${current}, q=${q})} : @{/person/list(pageSize=${selectedPageSize}, page=${current})}">
											<i class="la la-angle-left"></i>
										</a>
									</li>

									<li th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
										<a th:href="${q} ? @{/person/search(pageSize=${selectedPageSize}, page=${page}, q=${q})} : @{/person/list(pageSize=${selectedPageSize}, page=${page})}" class="m-datatable__pager-link m-datatable__pager-link-number" th:text="${page}" th:classappend="${current == (page - 1)} ? 'm-datatable__pager-link--active'"></a>

									</li>

									<li th:class="${current == count-2} ? disabled">
										<a th:title="#{label.pagination.next}" class="m-datatable__pager-link m-datatable__pager-link--next" th:href="${q} ? @{/person/search(pageSize=${selectedPageSize}, page=${current + 2}, q=${q})} : @{/person/list(pageSize=${selectedPageSize}, page=${current + 2})}">
											<i class="la la-angle-right"></i>
										</a>
									</li>
									<li th:class="${current == count-1} ? disabled">
										<a th:href="${q} ? @{/person/search(pageSize=${selectedPageSize}, page=${count}, q=${q})} : @{/person/list(pageSize=${selectedPageSize}, page=${count})}" th:title="#{label.pagination.last}" class="m-datatable__pager-link m-datatable__pager-link--last">
											<i class="la la-angle-double-right"></i>
										</a>
									</li>
								</ul>
								<div class="m-datatable__pager-info">
									<span class="m-datatable__pager-detail" th:text="#{label.pageSize}"></span>
									<div class="btn-group bootstrap-select m-datatable__pager-size" style="width: 70px;">
										<select id="pageSizeSelect" class="selectpicker m-datatable__pager_size" title="Select page size" data-width="70px">
											<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
													th:selected="${pageSize} == ${selectedPageSize}"></option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>

				<!--begin::Modal-->
				<div class="modal fade" id="personFormModal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
						</div>
					</div>
				</div>
				<!--end::Modal-->

			</div>

			<div class="row">
				<div class="col-md-12">
					<input hidden="true" type="text" id="person_id" name="person_id" />
					<div id="content"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- end:: Body -->
	<!-- begin::Footer -->
	<div th:replace="layout/footer"/>
	<!-- end::Footer -->
</div>

<div th:replace="fragments/footer :: footer-js"/>

<!--begin::Page Resources -->
<script th:src="@{/assets/global/plugins/datatables/datatables.js}" type="text/javascript"></script>
<script th:src="@{/assets/custom/demo/default/custom/components/forms/widgets/bootstrap-datetimepicker.js}" type="text/javascript"></script>
<script th:src="@{/assets/custom/demo/default/custom/components/forms/widgets/bootstrap-select.js}" type="text/javascript"></script>
<!--end::Page Resources -->

<script>
    function updateOrgFormId(sel)
    {
        $("#orgFormId").val(sel.value);
    }

    function updateAddressId(sel)
    {
        $("#addressId").val(sel.value);
    }

    function updateRegionId(sel)
    {
        $("#regionId").val(sel.value);
    }

    function updateDistrictId(sel)
    {
        $("#districtId").val(sel.value);
    }

    function updateAokmotuId(sel)
    {
        $("#aokmotuId").val(sel.value);
    }

    function updateVillageId(sel)
    {
        $("#villageId").val(sel.value);
    }

    function updateIdentityDocTypeId(sel)
    {
        $("#identityDocTypeId").val(sel.value);
    }

    function updateIdentityDocGivenById(sel)
    {
        $("#identityDocGivenById").val(sel.value);
    }
</script>

<script type="text/javascript">

    $(document).ready(function()
    {
        var table = $('#personTable').DataTable({
            stateSave: 	true,
            info: false,
            sDom: '',
            language: {
                paginate: {
                    previous: '<i class="la la-angle-left"></i>',
                    next: '<i class="la la-angle-right"></i>'
                },
                lengthMenu: '[[ #{label.pageSize} ]] _MENU_',
            },
            keys: {
                focus: ':eq(0)'
            }
        });

        table.on('key-focus', function(e, datatable, cell) {

            var rowData = datatable.row(cell.index().row).data();

            $("#person_id").val(rowData[0]);

            var sUrl ="/MFCredit/person/" + rowData[0]+"/view";

            $.get(sUrl, function(data) {

                $('#content').html(data);
            });

        });

        $('#generalSearch').keyup(function(){
            table.search($(this).val()).draw() ;
        });

        $('.dataTables_length select').addClass('selectpicker').attr('data-width','70px');
        $('.selectpicker').selectpicker('refresh');

    });

    $("#personFormModal").on("show.bs.modal", function(e) {

        var link = $(e.relatedTarget);

        var personID = $("#person_id").val();

        $(this).find(".modal-content").load(link.attr("href"));

        // if(link.attr("href").indexOf('bankData/add')>0) {
        //
        //     $(this).find(".modal-content").load(link.attr("href").replace("/bankData/add","/person/"+personID+"/bankData/add"));
        //
        // } else if(link.attr("href").indexOf('information/add')>0) {
        //
        //     $(this).find(".modal-content").load(link.attr("href").replace("/information/add","/3/"+personID+"/information/add"));
        //
        // } else if(link.attr("href").indexOf('department/add')>0) {
        //
        //     $(this).find(".modal-content").load(link.attr("href").replace("/department/add","/person/"+personID+"/department/add"));
        //
        // } else {
        //
        //     $(this).find(".modal-content").load(link.attr("href"));
        //
        // }
    });
</script>

</body>
<!-- end::Body -->
</html>