<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- begin::Head -->
<head>
	<title>Физ.лицо</title>

	<div th:replace="fragments/header :: header-css"/>
</head>
<!-- end::Head -->

<!-- end::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
	<!-- BEGIN: Header -->
	<div th:replace="layout/header"/>
	<!-- END: Header -->
	<!-- begin::Body -->
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
		<!-- BEGIN: Left Aside -->
		<div th:replace="layout/sidebar"/>
		<!-- END: Left Aside -->
		<div class="m-grid__item m-grid__item--fluid m-wrapper">
			<!-- BEGIN: Subheader -->
			<div class="m-subheader ">
				<div class="d-flex align-items-center">
					<div class="mr-auto">
						<h3 class="m-subheader__title m-subheader__title--separator">
							Физ.лица
						</h3>
						<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
							<li class="m-nav__item m-nav__item--home">
								<a th:href="@{/}" class="m-nav__link m-nav__link--icon">
									<i class="m-nav__link-icon la la-home"></i>
								</a>
							</li>
							<li class="m-nav__separator">
								-
							</li>
							<li class="m-nav__item">
								<span class="m-nav__link-text">Список физ.лиц</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- END: Subheader -->
			<div class="m-content">
				<!--begin::Portlet-->
				<div class="m-portlet">
					<div class="m-portlet__body">
						<!--begin: Search Form -->
						<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
							<div class="row align-items-center">
								<div class="col-xl-8 order-2 order-xl-1">
									<div class="form-group m-form__group row align-items-center">
										<div class="col-md-4">
											<div class="m-input-icon m-input-icon--left">
												<input type="text" class="form-control m-input m-input--solid" placeholder="Искать..." id="m_form_search">
												<span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
											</div>
										</div>
										<div class="col-md-4">
											<div class="m-form__group m-form__group--inline">
												<div class="m-form__label">
													<label>
														Район:
													</label>
												</div>
												<div class="m-form__control">
													<select class="form-control m-bootstrap-select m-bootstrap-select--solid" id="m_form_district">
														<option value="">
															Все
														</option>
														<option th:each="district : ${districts}" th:value="${district.id}" th:text="${district.name}"></option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 order-1 order-xl-2 m--align-right">
									<a sec:authorize="hasRole('ADMIN')" data-remote="false"
									   data-toggle="modal"
									   data-target="#personFormModal"
									   th:href="@{/person/add}"
									   role="button"
									   class="m-portlet__nav-link btn btn-success m-btn m-btn--air">
												<span>
													<i class="la la-plus"></i>
													<span>
														Add new person
													</span>
												</span>
									</a>
									<div class="m-separator m-separator--dashed d-xl-none"></div>
								</div>
							</div>
						</div>
						<!--end: Search Form -->
						<!--begin: Datatable -->
						<div class="m_datatable" id="ajax_data"></div>
						<!--end: Datatable -->
						<!--begin: Modal-->
						<div class="modal fade" id="personFormModal" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
								</div>
							</div>
						</div>
						<!--end: Modal-->
					</div>
				</div>
				<!--end::Portlet-->

			</div>
		</div>
	</div>
	<!-- end:: Body -->
	<!-- begin::Footer -->
	<div th:replace="layout/footer"/>
	<!-- end::Footer -->
</div>
<!-- end:: Page -->

<div th:replace="fragments/footer :: footer-js"/>

<!--begin::Page Resources -->
<!--<script th:src="@{/assets/custom/demo/default/custom/components/datatables/base/data-json.js}" type="text/javascript"></script>-->
<!--end::Page Resources -->

<div th:with="isAdmin = ${#authorization.expression('hasRole(''ADMIN'')')}">
	<script th:inline="javascript">
        /*<![CDATA[*/
        var hasRoleAdmin = /*[[${isAdmin}]]*/ [];
        console.log(hasRoleAdmin);
        /*]]>*/
	</script>
</div>

<script type="text/javascript">
    //== Class definition

    var DatatableJsonRemoteDemo = function () {
        //== Private functions

        // basic demo
        var demo = function () {

            var datatable = $('.m_datatable').mDatatable({
                // datasource definition
                data: {
                    type: 'remote',
                    source: '/api/persons',
                    pageSize: 10,
                    saveState: {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    theme: 'default', // datatable theme
                    class: '', // custom wrapper class
                    scroll: false, // enable/disable datatable scroll both horizontal and vertical when needed.
                    height: 550, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: true,

                // column based filtering
                filterable: false,

                pagination: true,

                // columns definition
                columns: [{
                    field: "View",
                    width: 80,
                    textAlign: 'center',
                    title: "Просмотр",
                    sortable: false,
                    selector: false,
                    overflow: 'visible',
                    template: function (row) {
                        return '\
						<a href="/person/'+ row.id +'/view" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="View "><i class="la la-arrow-circle-o-right"></i></a>\
					';
                    }
                },  {
                    field: "id",
                    title: "#",
                    sortable: 'desc',
                    responsive: {hidden: 'xl'},
                }, {
                    field: "personName",
                    title: "Имя"
                }, {
                    field: "personDescription",
                    title: "Примечание"
                }, {
                    field: "districtName",
                    title: "Район"
                }, {
                    field: "",
                    width: 110,
                    title: "",
                    sortable: false,
                    template: function (row) {
                        var dropup = (row.getDatatable().getPageSize() - row.getIndex()) <= 4 ? 'dropup' : '';

                        return '\
						<a href="/person/'+ row.id +'/edit" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Редактировать">\
							<i class="la la-edit"></i>\
						</a>\
						<a href="/person/'+ row.id +'/delete" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Удалить">\
							<i class="la la-trash"></i>\
						</a>\
					';
                    }
                }],
                translate: {
                    records: {
                        processing: 'Подождите пожалуйста...',
                        noRecords: 'Записей не найдено'
                    },
                    toolbar: {
                        pagination: {
                            items: {
                                default: {
                                    first: 'Первая страница',
                                    prev: 'Предыдущая страница',
                                    next: 'Следующая страница',
                                    last: 'Последняя страница',
                                    more: 'Другие страницы',
                                    input: 'Номер страницы',
                                    select: 'Выбрать размер страницы'
                                },
                                info: 'Отображение {{start}} - {{end}} из {{total}} записей'
                            }
                        }
                    }
                }
            });


            var query = datatable.getDataSourceQuery();
            $('#m_form_search').on('keyup', function (e) {
                // shortcode to datatable.getDataSourceParam('query');
                var query = datatable.getDataSourceQuery();
                query.generalSearch = $(this).val().toLowerCase();
                // shortcode to datatable.setDataSourceParam('query', query);
                datatable.setDataSourceQuery(query);
                datatable.load();
            }).val(query.generalSearch);


            $('#m_form_district').on('change', function () {
                datatable.search($(this).val(), 'districtId');
            }).val(typeof query.districtId !== 'undefined' ? query.districtId : '');


            $('#m_form_district').selectpicker();


        };

        return {
            // public functions
            init: function () {
                demo();
            }
        };
    }();

    jQuery(document).ready(function () {
        DatatableJsonRemoteDemo.init();
    });
</script>
<script type="text/javascript">
    function updateOrgFormId(sel)
    {
        $("#orgFormId").val(sel.value);
    }

    function updateAddressId(sel)
    {
        $("#addressId").val(sel.value);
    }

    function updateRegionId(sel)
    {
        $("#regionId").val(sel.value);
    }

    function updateDistrictId(sel)
    {
        $("#districtId").val(sel.value);
    }

    function updateAokmotuId(sel)
    {
        $("#aokmotuId").val(sel.value);
    }

    function updateVillageId(sel)
    {
        $("#villageId").val(sel.value);
    }

    function updateIdentityDocTypeId(sel)
    {
        $("#identityDocTypeId").val(sel.value);
    }

    function updateIdentityDocGivenById(sel)
    {
        $("#identityDocGivenById").val(sel.value);
    }


    $("#personFormModal").on("show.bs.modal", function(e) {
        var link = $(e.relatedTarget);
        $(this).find(".modal-title").html(link.attr("href"));
        $(this).find(".modal-content").load(link.attr("href"));
        // }
    });
</script>
</body>
<!-- end::Body -->
</html>