<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

</head>



<body>

	<!--<form th:action="@{/position/save}" id="form_sample_2"-->
		<!--class="form-horizontal" method="post" th:object="${position}" >-->
		<!--<div class="form-body">-->
			<!--<div class="alert alert-danger display-hide">-->
				<!--<button class="close" data-close="alert"></button>-->
				<!--You have some form errors. Please check below.-->
			<!--</div>-->
			<!--&lt;!&ndash; -->
                     <!--<div class="alert alert-success display-hide">-->
                     	<!--<button class="close" data-close="alert"></button> Your form validation is successful! -->
                     <!--</div>-->
                     <!--&ndash;&gt;-->
			<!--<div class="form-group  margin-top-20">-->
				<!--<label class="control-label col-md-3">Name <span-->
					<!--class="required"> * </span>-->
				<!--</label>-->
				<!--<div class="col-md-4">-->
					<!--<input hidden="true" type="text" id="id" name="id"-->
						<!--th:field="${position.id}" />-->
					<!--<input hidden="true" type="text" id="department_id" name="departmentId"-->
											<!--th:field="${position.department.id}" />						-->
					<!--<div class="input-icon right">-->
						<!--<i class="fa"></i> <input type="text" class="form-control"-->
							<!--name="name" th:field="${position.name}" />-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!---->
		<!--</div>-->
		<!--<div class="form-actions">-->
			<!--<div class="row">-->
				<!--<div class="col-md-offset-3 col-md-9">-->
					<!--<button type="submit" class="btn green">Submit</button>-->
					<!--<button type="button" class="btn default"-->
						<!--onclick="window.location.href='/position/list'">Cancel</button>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</form>-->



	<form th:action="@{/position/save}" class="form-horizontal" method="post" th:object="${position}">
		<div class="modal-header">
			<h5 class="modal-title" id="orgFormFormModalTitle" >Добавить должность</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">
				&times;
			</span>
			</button>
		</div>
		<div class="modal-body">

			<div class="alert alert-danger alert-dismissible alert-hidden" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
				<span th:text="#{label.orgForm.modal.error.name}"></span>
			</div>

			<input hidden="true" type="text" name="id" th:value="${position.id}" />

			<input hidden="true" type="text" id="department_id" name="departmentId"
				   th:field="${position.department.id}" />

			<div class="form-group">
				<label for="name" class="form-control-label" th:text="#{label.orgForm.modal.name}"></label>
				<input type="text" class="form-control" id="name" name="name" th:value="${position.name}">
			</div>


		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{label.orgForm.button.cancel}"></button>
			<button type="submit" class="btn btn-primary" th:text="#{label.orgForm.button.submit}"></button>
		</div>
	</form>
</body>
</html>


