<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

</head>



<body>





	<div class="row">
		<div class="col-md-12">



			<div class="m-portlet m-portlet--mobile">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text" th:text="#{label.staffs}"></h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							<li class="m-portlet__nav-item">
								<div class="m-input-icon m-input-icon--left">
									<input type="text" class="form-control m-input" th:placeholder="#{label.search}" id="generalSearch">
									<span class="m-input-icon__icon m-input-icon__icon--left">
											<span>
												<i class="la la-search"></i>
											</span>
										</span>
								</div>
							</li>
							<li class="m-portlet__nav-item">
								<a data-remote="false" data-toggle="modal"
								   data-target="#staffFormModal"
								   th:href="@{/staff/add}"
								   role="button"
								   class="m-portlet__nav-link btn btn-success m-btn m-btn--air"
								   th:text="#{label.add.staff}"></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="m-portlet__body">

					<div class="m-section">
						<table class="table" id="orgFormTable">
							<thead class="thead-default">
							<tr>
								<th>ID</th>
								<th th:text="#{label.staff.name}"></th>
								<!--<th th:text="#{label.person.username}"></th>-->
								<!--<th th:text="#{label.person.enabled}"></th>-->
								<th>&nbsp;</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="s : ${staffList}">
								<td th:text="${s?.id}"></td>
								<td th:text="${s?.name}"></td>
								<!--<td th:text="${s?.user?.username}"></td>-->
								<!--<td th:text="${s?.enabled}"></td>-->
								<td class="table-actions text-right">
										<span>
											<div class="dropdown">
												<a href="#" class="btn m-btn m-btn--hover-metal m-btn--icon m-btn--icon-only m-btn--pill btn-dropdown" data-toggle="dropdown">
													<i class="la la-ellipsis-h"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" th:href="@{/staff/__${s.id}__/details}">
																	<span th:text="#{label.table.view}"></span>
																</a>
													<a class="dropdown-item"
													   data-remote="false" data-toggle="modal"
													   data-target="#staffFormModal"
													   th:href="@{/staff/__${s.id}__/edit}" role="button">
														<span th:text="#{label.table.edit}"></span>
													</a>
													<a class="dropdown-item" href="#">
														<span>
															<form th:action="@{/staff/__${s.id}__/remove}" method="post">
																<input hidden="true" type="text" id="id" name="id" th:value="${s.id}" />
																<button type="submit" class="btn btn-reset" th:text="#{label.table.delete}"></button>
															</form>
														</span>
													</a>
												</div>
											</div>
										</span>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>







		</div>


	</div>


	<script type="text/javascript">

$(document).ready(function() {
    if (location.hash) {
        $("a[href='" + location.hash + "']").tab("show");
    }
    $(document.body).on("click", "a[data-toggle]", function(event) {
        location.hash = this.getAttribute("href");
    });
});
$(window).on("popstate", function() {
    var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
    $("a[href='" + anchor + "']").tab("show");
});
</script>







</body>
</html>