<form th:action="@{/staff/save}" class="form-horizontal" method="post" th:object="${staff}">
	<div class="modal-header">
		<h5 class="modal-title" th:text="#{label.add.staff}"></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">

		<div class="alert alert-danger alert-dismissible alert-hidden" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
			<span th:text="#{label.modal.error.name}"></span>
		</div>

		<!--hidden-->
		<input hidden="true" type="text" id="id" name="id" th:field="*{id}" />
		<input hidden="true" type="text" id="employmentHistory.id" name="employmentHistory.id" th:field="*{employmentHistory.id}" />

		<input hidden="true" type="text" id="organization.id" name="organization.id" th:field="*{organization.id}" />
		<input hidden="true" type="text" id="department.id" name="department.id" th:field="*{department.id}" />

		<input hidden="true" type="text" class="form-control" name="name" th:field="*{name}"/>
		<input hidden="true" type="text" class="form-control" name="enabled" th:field="*{enabled}"/>
		<input hidden="true" type="text" class="form-control" name="employmentHistory.number" th:field="*{employmentHistory.number}"/>

		<div class="form-group m-form__group row">
			<label class="col-form-label col-lg-4 col-sm-12">
				<span th:text="#{label.staff.person}"></span>
				<span class="m--font-danger">*</span>
			</label>
			<div class="col-lg-8 col-md-9 col-sm-12">
				<select class="form-control" id="srs" th:field="*{person}" style="width: 100%" th:title="#{label.select}">
					<option th:each="personInList : ${personList}"
					th:value="${personInList.id}"
					th:text="${personInList.name}"></option>
				</select>
			</div>
		</div>

		<div class="form-group m-form__group row">
			<label class="col-form-label col-lg-4 col-sm-12">
				<span th:text="#{label.staff.organization}"></span>
				<span class="m--font-danger">*</span>
			</label>
			<div class="col-lg-8 col-md-9 col-sm-12">
				<span th:text="${organization.name}">

				</span>
			</div>
		</div>
		<div class="form-group m-form__group row">
			<label class="col-form-label col-lg-4 col-sm-12">
				<span th:text="#{label.staff.department}"></span>
				<span class="m--font-danger">*</span>
			</label>
			<div class="col-lg-8 col-md-9 col-sm-12">
				<span th:text="${department.name}">

				</span>
			</div>
		</div>


		<div class="form-group m-form__group row">
			<label class="col-form-label col-lg-4 col-sm-12">
				<span th:text="#{label.staff.position}"></span>
				<span class="m--font-danger">*</span>
			</label>
			<div class="col-lg-8 col-md-9 col-sm-12">
				<select class="form-control selectpicker" th:field="*{position}" th:title="#{label.select}">
					<option th:each="positionInList : ${positionList}"
							th:value="${positionInList.id}"
							th:text="${positionInList.name}"></option>
				</select>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{label.orgForm.button.cancel}"></button>
		<button type="submit" class="btn btn-primary" th:text="#{label.button.save}"></button>
	</div>
</form>

<script type="text/javascript" th:inline="javascript">

    $('#srs').select2({
        placeholder: /*[[#{label.select}]]*/ "1Выбрать из списка",
        tags: true,
        minimumInputLength: 4,
        ajax: {
            url: '/personByName/list',
            data: function (params) {
                var query = {
                    name: params.term
                }
                return query;
            },
            processResults: function (data) {

                // alert(data.length);


                return {
                    results: data
                };

                // $('#srs').empty();
                //
                // var len = data.length;
                //
                // for ( var i = 0; i < len; i++) {
                //     $('#srs').append("<option value='"+data[i].id+"'>"+data[i].name+"</option>");
                // }
                //
                // $('#srs').select2('refresh');

            }
        }
    });
    $('.selectpicker').selectpicker('refresh');


</script>
