<form th:action="@{/village/save}" id="form_sample_2" th:object="${village}" class="form-horizontal" method="post">
	<div class="modal-header">
		<h5 class="modal-title" id="orgFormFormModalTitle" th:text="#{label.village.modal.title}"></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">
				&times;
			</span>
		</button>
	</div>

	<div class="modal-body">

		<div class="alert alert-danger alert-dismissible alert-hidden" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
			<span th:text="#{label.village.modal.error.name}"></span>
		</div>

		<div class="form-group">
			<label for="name" class="form-control-label" th:text="#{label.village.modal.name}"></label>
			<input hidden="true" type="text" id="id" name="id"
				   th:field="*{id}" />
			<input hidden="true" type="text" id="aokmotu.id" name="aokmotu.id"
				   th:field="*{aokmotu.id}" />
			<input type="text" class="form-control" id="name" name="name" th:value="*{name}">
		</div>

		<div class="form-group ">
			<label for="name" class="form-control-label" th:text="#{label.village.modal.code}">Code<span class="required"> * </span></label>
			<input type="text" class="form-control" id="code" name="code" th:value="*{code}">
		</div>

		<div class="form-group ">
			<label class="form-control-label" th:text="#{label.village.modal.aokmotu}">Aokmotu<span class="required"> * </span></label>
			<div class="row">
				<div class="col-12">
					<select th:value="${village.aokmotu}" class="selectpicker">
						<option th:each="aokmotuInList : ${aokmotuList}"
								th:value="${aokmotuInList.id}"
								th:selected="(${aokmotuInList.id} == *{aokmotu.id})"
								th:text="${aokmotuInList.name}">Aokmotu</option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{label.village.button.cancel}"></button>
		<button type="submit" class="btn btn-primary" th:text="#{label.village.button.submit}"></button>
	</div>

</form>

<script>
    $('.selectpicker').selectpicker('refresh');
</script>