<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- begin::Head -->
<head>
	<title th:text="#{label.entity.details.title}"></title>

	<div th:replace="fragments/header :: header-css"/>
</head>
<!-- end::Head -->

<!-- end::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
	<!-- BEGIN: Header -->
	<div th:replace="layout/header"/>
	<!-- END: Header -->
	<!-- begin::Body -->
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
		<!-- BEGIN: Left Aside -->
		<div th:replace="layout/sidebar"/>
		<!-- END: Left Aside -->
		<div class="m-grid__item m-grid__item--fluid m-wrapper">
			<div class="m-content">
				<!--begin::Portlet-->
				<div class="m-portlet m-portlet--full-height">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text" th:text="${entity.owner.name}"></h3>
							</div>
						</div>
					</div>
					<div class="m-portlet__body m-portlet__body--no-padding">
						<div class="row m-row--no-padding m-row--col-separator-xl">
							<div class="col-md-12 col-lg-12 col-xl-4">
								<!--begin:: Widgets/Stats2-1 -->
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">ID</h3>
												<span class="m-widget1__desc m--font-brand" th:text="${entity.id}"></span>
											</div>
										</div>
									</div>
								</div>
								<!--end:: Widgets/Stats2-1 -->
							</div>
							<div class="col-md-12 col-lg-12 col-xl-4">
								<!--begin:: Widgets/Stats2-2 -->
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.entity.owner}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${entity.owner.name}"></span>
											</div>
										</div>
									</div>
								</div>
								<!--begin:: Widgets/Stats2-2 -->
							</div>
							<div class="col-md-12 col-lg-12 col-xl-4">
								<!--begin:: Widgets/Stats2-3 -->
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.entity.state}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${entity.appliedEntityState.name}"></span>
											</div>
										</div>
									</div>
								</div>
								<!--begin:: Widgets/Stats2-3 -->
							</div>
						</div>
					</div>
				</div>
				<!--end::Portlet-->

				<!--begin::Portlet-->
				<div class="m-portlet m-portlet--mobile">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text" th:text="#{label.documentPackages}"></h3>
							</div>
						</div>
					</div>
					<div class="m-portlet__body">

						<div class="m-section">
							<div class="m-section__content">
								<a th:href="@{/manage/order/__${orderId}__/entitylist/__${listId}__/entity/__${entityId}__/documentpackage/0/save}" class="m-portlet__nav-link btn btn-success m-btn m-btn--air" th:text="#{label.documentPackage.add}"></a>
							</div>
						</div>

						<!--begin::Section-->
						<div class="m-section">
							<div class="m-section__content">
								<div class="m-scrollable" data-scrollbar-shown="true"  data-axis="x" data-scrollable="true" data-height="200">
									<div>
										<table class="table">
											<thead class="thead-default">
											<tr>
												<th class="table-id">Id</th>
												<th th:text="#{label.documentPackage.name}"></th>
												<th th:text="#{label.documentPackage.completedDate}"></th>
												<th th:text="#{label.documentPackage.approvedDate}"></th>
												<th th:text="#{label.documentPackage.completedRatio}"></th>
												<th th:text="#{label.documentPackage.approvedRatio}"></th>
												<th th:text="#{label.documentPackage.registeredRatio}"></th>
												<th th:text="#{label.documentPackage.state}"></th>
												<th th:text="#{label.documentPackage.type}"></th>
												<th>&nbsp;</th>
											</tr>
											</thead>
											<tbody>
											<tr th:each="dp : ${dPackages}">
												<td class="table-id" th:text="${dp.id}"></td>
												<td th:text="${dp.name}"></td>
												<td th:text="${dp.completedDate}"></td>
												<td th:text="${dp.approvedDate}"></td>
												<td th:text="${#numbers.formatInteger(dp.completedRatio*100, 0)+'%'}"></td>
												<td th:text="${#numbers.formatInteger(dp.approvedRatio*100, 0)+'%'}"></td>
												<td th:text="${#numbers.formatInteger(dp.registeredRatio*100, 0)+'%'}"></td>
												<td th:text="${dp.documentPackageState?.name}"></td>
												<td th:text="${dp.documentPackageType?.name}"></td>
												<td class="table-actions text-right">
													<span>
														<div class="dropdown">
															<a href="#" class="btn m-btn m-btn--hover-metal m-btn--icon m-btn--icon-only m-btn--pill btn-dropdown" data-toggle="dropdown">
																<i class="la la-ellipsis-h"></i>
															</a>
															<div class="dropdown-menu dropdown-menu-right">
																<a class="dropdown-item" th:href="@{/manage/order/__${orderId}__/entitylist/__${listId}__/entity/__${entityId}__/documentpackage/__${dp.id}__/view}">
																	<span th:text="#{label.table.view}"></span>
																</a>
																<a class="dropdown-item" th:href="@{/manage/order/__${orderId}__/entitylist/__${listId}__/entity/__${entityId}__/documentpackage/__${dp.id}__/save}">
																	<span th:text="#{label.table.edit}"></span>
																</a>
																<a class="dropdown-item" href="#">
																	<span>
																		<form th:action="@{/manage/order/__${orderId}__/entitylist/__${listId}__/entity/__${entityId}__/documentpackage/delete}" method="post">
																			<input hidden="true" type="text" id="id" name="id" th:value="${dp.id}" />
																			<button type="submit" class="btn btn-reset" th:text="#{label.table.delete}"></button>
																		</form>
																	</span>
																</a>
															</div>
														</div>
													</span>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<!--end::Section-->

					</div>
				</div>
				<!--end::Portlet-->

			</div>
		</div>
	</div>
	<!-- end:: Body -->
	<!-- begin::Footer -->
	<div th:replace="layout/footer"/>
	<!-- end::Footer -->
</div>
<!-- end:: Page -->

<div th:replace="fragments/footer :: footer-js"/>

</body>
<!-- end::Body -->
</html>