<form th:action="@{/loanFinGroup/{loanId}/save(loanId=${loanId})}" class="form-horizontal" method="POST" th:object="${loanFinGroup}"
      xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal-header">
        <h5 class="modal-title" th:text="#{label.change.loanFinGroup}"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="alert alert-danger alert-dismissible alert-hidden" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            <span th:text="#{label.modal.error.name}"></span>
        </div>

        <!--hidden-->
        <!--<input hidden="true" type="text" id="id" name="id" th:value="${loanId}" />-->

        <div class="form-group m-form__group row">
            <label class="col-form-label col-lg-4 col-sm-12">
                <span th:text="#{label.loan.finGroup}"></span>
                <span class="m--font-danger">*</span>
            </label>
            <div class="col-lg-8 col-md-9 col-sm-12">
                <select class="form-control m-bootstrap-select m_selectpicker"  th:field="*{id}">
                    <option th:each="finGroup : ${finGroupList}"
                            th:value="${finGroup.id}"
                            th:text="${finGroup.name}"></option>
                </select>
            </div>
        </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{label.orgForm.button.cancel}"></button>
        <button type="submit" class="btn btn-primary" th:text="#{label.button.save}"></button>
    </div>
</form>


<script>
    $('.m_selectpicker').selectpicker('refresh');
</script>