<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<!-- begin::Head -->
<head>
	<title th:text="${'Кредит: ' + loan.regNumber}"></title>

	<div th:replace="fragments/header :: header-css"/>
</head>
<!-- end::Head -->

<!-- end::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-aside-left--minimize m-brand--minimize"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
	<!-- BEGIN: Header -->
	<div th:replace="layout/header"/>
	<!-- END: Header -->
	<!-- begin::Body -->
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
		<!-- BEGIN: Left Aside -->
		<div th:replace="layout/sidebar"/>
		<!-- END: Left Aside -->
		<div class="m-grid__item m-grid__item--fluid m-wrapper">
			<!-- BEGIN: Subheader -->
			<div class="m-subheader ">
				<div class="d-flex align-items-center">
					<div class="mr-auto">

						<input hidden="true" th:value="${isEmptyChild}" id="isEmptyChild">
						<h3 class="m-subheader__title m-subheader__title--separator" th:text="#{label.loan}">
							Кредит
						</h3>
						<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
							<li class="m-nav__item m-nav__item--home">
								<a th:href="@{/}" class="m-nav__link m-nav__link--icon">
									<i class="m-nav__link-icon la la-home"></i>
								</a>
							</li>
							<li class="m-nav__separator">
								-
							</li>
							<li class="m-nav__item">
								<a th:href="@{/manage/debtor/list}" class="m-nav__link">
											<span class="m-nav__link-text" th:text="#{label.debtors}">
												Список заемщиков
											</span>
								</a>
							</li>
							<li class="m-nav__separator">
								-
							</li>
							<li class="m-nav__item">
								<a th:href="@{/manage/debtor/__${debtorId}__/view}" class="m-nav__link">
											<span class="m-nav__link-text" th:text="${debtor.name}">
												Заемщик
											</span>
								</a>
							</li>
							<li class="m-nav__separator">
								-
							</li>
							<li class="m-nav__item">
								<span class="m-nav__link-text" th:text="#{label.loan}">
												Кредит
											</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- END: Subheader -->
			<div class="m-content">
				<!--begin::Portlet-->
				<div class="m-portlet m-portlet--full-height">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text" th:text="${creditOrder.regNumber}+' '+${loan.regNumber}+' от '+${loan.regDate}+' ('+${#numbers.formatDecimal(loan.amount, 0, 'DEFAULT', 2, 'DEFAULT')}+' '+${loan.currency.name}+')'"></h3>
							</div>
						</div>
					</div>
				</div>
				<!--end::Portlet-->

				<!--begin::Portlet-->
				<div class="m-portlet m-portlet--mobile">
					<div class="m-portlet__body">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link m--font-primary active" data-toggle="tab" href="#main" th:text="#{label.loan.credit}" id="main1"></a>
							</li>
							<li class="nav-item">
								<a class="nav-link m--font-primary" data-toggle="tab" href="#loanSummary" th:text="#{label.loan.loanSummary}" id="loanSummaryFunction"></a>
							</li>
							<li class="nav-item">
								<a class="nav-link m--font-primary" data-toggle="tab" href="#paymentSchedules" th:text="#{label.loan.paymentSchedules}" id="paymentScheduleFunction"></a>
							</li>
							<li class="nav-item">
								<a class="nav-link m--font-primary" data-toggle="tab" href="#payments" th:text="#{label.loan.payments}" id="paymentFunction"></a>
							</li>
							<li class="nav-item">
								<a class="nav-link m--font-primary" data-toggle="tab" href="#supervisorPlans" th:text="#{label.loan.supervisorPlans}" id="supervisorPlanFunction"></a>
							</li>
							<li class="nav-item">
								<a class="nav-link m--font-primary" data-toggle="tab" href="#writeOffs" th:text="#{label.loan.writeOffs}" id="writeOffFunction"></a>
							</li>
							<li class="nav-item">
								<a class="nav-link m--font-primary" data-toggle="tab" href="#creditTerms" th:text="#{label.loan.creditTerms}" id="creditTermFunction"></a>
							</li>
                            <li class="nav-item" id="childListe">
                                <a class="nav-link m--font-primary" data-toggle="tab" href="#childList" th:text="#{label.loan.childList}" id="childListFunction"></a>
                            </li>
							<li class="nav-item">
								<a class="nav-link m--font-primary" data-toggle="tab" href="#loanDetailedSummary" th:text="#{label.loan.loanDetailedSummary}" id="detailedLoanSummaryFunction"></a>
							</li>
							<li class="nav-item">
								<a class="nav-link m--font-primary" data-toggle="tab" href="#accrue" th:text="#{label.loan.accrue}" id="accrueFunction"></a>
							</li>
							<li class="nav-item">
								<a class="nav-link m--font-primary" data-toggle="tab" href="#initializaPhase" th:text="#{label.debtor.tab.initializaPhase}"></a>
							</li>
							<li class="nav-item">
								<a class="nav-link m--font-primary" data-toggle="tab" href="#additional" th:text="#{label.additional}"></a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="main" role="tabpanel">
								<div class="m-portlet__body m-portlet__body--no-padding">
									<div class="row m-row--no-padding m-row--col-separator-xl">
										<div class="col-md-12 col-lg-12 col-xl-4">
											<!--begin:: Widgets/Stats2-1 -->
											<div class="m-widget1">
												<div class="m-widget1__item">
													<div class="row m-row--no-padding align-items-center">
														<div class="col">
															<h3 class="m-widget1__title" th:text="#{label.loan.amount}"></h3>
															<span class="m-widget1__desc m--font-brand" th:text="${#numbers.formatDecimal(loan.amount, 0, 'DEFAULT', 2, 'DEFAULT')}"></span>
														</div>
													</div>
												</div>
												<div class="m-widget1__item">
													<div class="row m-row--no-padding align-items-center">
														<div class="col">
															<h3 class="m-widget1__title" th:text="#{label.loan.currency}"></h3>
															<span class="m-widget1__desc m--font-brand" th:text="${loan.currency.name}"></span>
														</div>
													</div>
												</div>
												<div class="m-widget1__item">
													<div class="row m-row--no-padding align-items-center">
														<div class="col">
															<h3 class="m-widget1__title" th:text="#{label.loan.type}"></h3>
															<span class="m-widget1__desc m--font-brand" th:text="${loan.loanType.name}"></span>
														</div>
													</div>
												</div>
												<div class="m-widget1__item">
													<div class="row m-row--no-padding align-items-center">
														<div class="col">
															<h3 class="m-widget1__title" th:text="#{label.loan.finGroup}"></h3>
															<span class="m-widget1__desc m--font-brand" th:text="${loan.loanFinGroup.name}"></span>
														</div>
														<a sec:authorize="hasRole('ADMIN')" data-remote="false" data-toggle="modal" data-target="#loanFinGroupModal" th:href="@{'/loanFinGroup/'+${loan.id}+'/save'}" role="button" class="m-portlet__nav-link btn btn-success m-btn m-btn--air">
															<span>
																<span th:text="#{label.change.loanFinGroup}">
																Change Fin group
																</span>
															</span>
														</a>
													</div>
												</div>
											</div>
											<!--end:: Widgets/Stats2-1 -->
										</div>
										<div class="col-md-12 col-lg-12 col-xl-4">
											<!--begin:: Widgets/Stats2-2 -->
											<div class="m-widget1">
												<div class="m-widget1__item">
													<div class="row m-row--no-padding align-items-center">
														<div class="col">
															<h3 class="m-widget1__title" th:text="#{label.loan.regDate}"></h3>
															<span class="m-widget1__desc m--font-brand" th:text="${#dates.format(loan.regDate,'dd.MM.yyyy')}"></span>
														</div>
													</div>
												</div>
												<div class="m-widget1__item">
													<div class="row m-row--no-padding align-items-center">
														<div class="col">
															<h3 class="m-widget1__title" th:text="#{label.loan.state}"></h3>
															<span class="m-widget1__desc m--font-brand" th:text="${loan.loanState.name}"></span>
														</div>
													</div>
												</div>
												<div class="m-widget1__item">
													<div class="row m-row--no-padding align-items-center">
														<div class="col">
															<h3 class="m-widget1__title" th:text="#{label.loan.creditOrderId}"></h3>
															<span class="m-widget1__desc m--font-brand"><a th:href="@{/manage/order/__${loan.creditOrder.id}__/view}" th:text="${loan.creditOrder.regNumber}"></a> </span>
														</div>
													</div>
												</div>
											</div>
											<!--begin:: Widgets/Stats2-2 -->
										</div>
										<div class="col-md-12 col-lg-12 col-xl-4">
											<!--begin:: Widgets/Stats2-3 -->
											<div class="m-widget1">
												<div class="m-widget1__item">
													<div class="row m-row--no-padding align-items-center">
														<div class="col">
															<h3 class="m-widget1__title" th:text="#{label.loan.superId}"></h3>
															<span class="m-widget1__desc m--font-brand" th:text="${supervisorName}"></span>
														</div>
													</div>
												</div>
												<div class="m-widget1__item" th:if="${loan.parent != null}">
													<div class="row m-row--no-padding align-items-center">
														<div class="col">
															<h3 class="m-widget1__title" th:text="#{label.loan.parent}"></h3>
															<span class="m-widget1__desc m--font-brand"><a th:href="@{/manage/debtor/__${debtor.id}__/loan/__${loan.parent.id}__/view}" th:text="${loan.parent.regNumber}"></a></span>
														</div>
													</div>
												</div>
											</div>
											<!--begin:: Widgets/Stats2-3 -->
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="creditTerms" role="tabpanel">
                                <!--begin: Search Form -->
                                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                                    <div class="row align-items-center">
                                        <div class="col-xl-9 order-1 order-xl-1">
                                            <div class="form-group m-form__group row align-items-center">
                                                <div class="col-lg-6">
                                                    <div class="m-input-icon m-input-icon--left">
                                                        <input type="text" class="form-control m-input m-input--solid" th:placeholder="#{label.search}" id="m_form_search1">
                                                        <span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-3 order-3 order-xl-3 m--align-right">
                                            <a sec:authorize="hasAnyAuthority('ADMIN','PERM_ADD_ORDERTERM')" th:href="@{/manage/debtor/__${debtorId}__/loan/__${loan.id}__/term/0/save}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
												<span>
													<i class="la la-plus"></i>
													<span th:text="#{label.loan.add.supervisorTerm}">
														Добавить условие кред-я
													</span>
												</span>
                                            </a>
                                            <div class="m-separator m-separator--dashed d-xl-none"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Search Form -->
                                <!--begin: Datatable -->
                                <div class="m_datatable" id="termsTable"></div>
                                <!--end: Datatable -->
							</div>
                            <div class="tab-pane" id="childList" role="tabpanel">
                                <!--begin: Datatable -->
                                <div class="m_datatable" id="childTable"></div>
                                <!--end: Datatable -->
                            </div>
							<div class="tab-pane" id="writeOffs" role="tabpanel">
                                <!--begin: Search Form -->
                                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                                    <div class="row align-items-center">
                                        <div class="col-xl-9 order-1 order-xl-1">
                                            <div class="form-group m-form__group row align-items-center">
                                                <div class="col-lg-6">
                                                    <div class="m-input-icon m-input-icon--left">
                                                        <input type="text" class="form-control m-input m-input--solid" th:placeholder="#{label.search}" id="m_form_search7">
                                                        <span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-3 order-3 order-xl-3 m--align-right">
                                            <a sec:authorize="hasAnyAuthority('ADMIN','PERM_ADD_WRITEOFF')" th:href="@{/manage/debtor/__${debtorId}__/loan/__${loan.id}__/wo/0/save}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
												<span>
													<i class="la la-plus"></i>
													<span th:text="#{label.loan.add.writeOff}">
														Добавить списание
													</span>
												</span>
                                            </a>
                                            <div class="m-separator m-separator--dashed d-xl-none"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Search Form -->
                                <!--begin: Datatable -->
                                <div class="m_datatable" id="WOsTable"></div>
                                <!--end: Datatable -->
							</div>
							<div class="tab-pane" id="paymentSchedules" role="tabpanel">
                                <!--begin: Search Form -->
                                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                                    <div class="row align-items-center">
                                        <div class="col-xl-9 order-1 order-xl-1">
                                            <div class="form-group m-form__group row align-items-center">
                                                <div class="col-lg-6">
                                                    <div class="m-input-icon m-input-icon--left">
                                                        <input type="text" class="form-control m-input m-input--solid" th:placeholder="#{label.search}" id="m_form_search2">
                                                        <span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-3 order-3 order-xl-3 m--align-right">
                                            <a sec:authorize="hasAnyAuthority('ADMIN','PERM_ADD_PAYMENTSCHEDULE')" th:href="@{/manage/debtor/__${debtorId}__/loan/__${loan.id}__/paymentschedule/0/save}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
												<span>
													<i class="la la-plus"></i>
													<span th:text="#{label.loan.add.paymentSchedule}">
														Добавить ср. обьязательство
													</span>
												</span>
                                            </a>
                                            <div class="m-separator m-separator--dashed d-xl-none"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Search Form -->
                                <!--begin: Datatable -->
                                <div class="m_datatable" id="paymentSchedulesTable"></div>
                                <!--end: Datatable -->
							</div>
							<div class="tab-pane" id="payments" role="tabpanel">
                                <!--begin: Search Form -->
                                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                                    <div class="row align-items-center">
                                        <div class="col-xl-9 order-1 order-xl-1">
                                            <div class="form-group m-form__group row align-items-center">
                                                <div class="col-lg-6">
                                                    <div class="m-input-icon m-input-icon--left">
                                                        <input type="text" class="form-control m-input m-input--solid" th:placeholder="#{label.search}" id="m_form_search3">
                                                        <span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-3 order-3 order-xl-3 m--align-right">
                                            <!--<div>-->
												<!--<form th:action="@{/printoutTemplate/1/objectId/1/generate}" method="post">-->

													<!--<div class="m-form__group m-form__group&#45;&#45;inline">-->
														<!--<div class="m-form__label">-->
															<!--<label class="m-label m-label&#45;&#45;single">-->
																<!--Дата:-->
															<!--</label>-->
														<!--</div>-->
														<!--<div class="m-form__control">-->
															<!--<div class="input-group date m_datetimepicker_6">-->
																<!--<input type="text" class="form-control m-input" id="paymentPrintoutDate" name="paymentPrintoutDate"/>-->
																<!--<span class="input-group-addon">-->
																<!--<i class="la la-calendar glyphicon-th"></i>-->
															<!--</span>-->
															<!--</div>-->
														<!--</div>-->
														<!--<div class="m-form__control">-->
															<!--&lt;!&ndash;<a sec:authorize="hasRole('ADMIN')" th:href="@{/printoutTemplate/4/objectId/1/generate}" class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;air m-btn&#45;&#45;pill">&ndash;&gt;-->
															<!--&lt;!&ndash;<span>&ndash;&gt;-->
															<!--&lt;!&ndash;<i class="la la-plus"></i>&ndash;&gt;-->
															<!--&lt;!&ndash;<span>&ndash;&gt;-->
															<!--&lt;!&ndash;Добавить расчет&ndash;&gt;-->
															<!--&lt;!&ndash;</span>&ndash;&gt;-->
															<!--&lt;!&ndash;</span>&ndash;&gt;-->
															<!--&lt;!&ndash;</a>&ndash;&gt;-->

															<!--<button class="btn btn-sm btn-accent" type="button" id="bnt_init_paymentPrintout">-->
																<!--Сохранить расчет-->
															<!--</button>-->
														<!--</div>-->
													<!--</div>-->
												<!--</form>-->
											<!--</div>-->

											<a sec:authorize="hasAnyAuthority('ADMIN','PERM_ADD_PAYMENT')" th:href="@{/manage/debtor/__${debtorId}__/loan/__${loan.id}__/payment/0/save}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
												<span>
													<i class="la la-plus"></i>
													<span th:text="#{label.loan.add.payment}">
														Добавить погашение
													</span>
												</span>
                                            </a>
                                            <div class="m-separator m-separator--dashed d-xl-none"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Search Form -->
                                <!--begin: Datatable -->
                                <div class="m_datatable" id="paymentsTable"></div>
                                <!--end: Datatable -->
							</div>
							<div class="tab-pane" id="supervisorPlans" role="tabpanel">
                                <!--begin: Search Form -->
                                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                                    <div class="row align-items-center">
                                        <div class="col-xl-9 order-1 order-xl-1">
                                            <div class="form-group m-form__group row align-items-center">
                                                <div class="col-lg-6">
                                                    <div class="m-input-icon m-input-icon--left">
                                                        <input type="text" class="form-control m-input m-input--solid" th:placeholder="#{label.search}" id="m_form_search8">
                                                        <span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-3 order-3 order-xl-3 m--align-right">
                                            <a sec:authorize="hasAnyAuthority('ADMIN','PERM_ADD_SUPERVISORPLAN')" th:href="@{/manage/debtor/__${debtorId}__/loan/__${loan.id}__/sp/0/save}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
												<span>
													<i class="la la-plus"></i>
													<span th:text="#{label.loan.add.supervisorPlan}">
														Добавить план
													</span>
												</span>
                                            </a>
                                            <div class="m-separator m-separator--dashed d-xl-none"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Search Form -->
                                <!--begin: Datatable -->
                                <div class="m_datatable" id="SPsTable"></div>
                                <!--end: Datatable -->
							</div>
							<div class="tab-pane" id="loanDetailedSummary" role="tabpanel">
                                <!--begin: Search Form -->
                                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                                    <div class="row align-items-center">
                                        <div class="col-xl-9 order-1 order-xl-1">
                                            <div class="form-group m-form__group row align-items-center">
                                                <div class="col-lg-6">
                                                    <div class="m-input-icon m-input-icon--left">
                                                        <input type="text" class="form-control m-input m-input--solid" th:placeholder="#{label.search}" id="m_form_search4">
                                                        <span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Search Form -->
                                <!--begin: Datatable -->
                                <div class="m_datatable" id="detailedSummariesTable"></div>
                                <!--end: Datatable -->
							</div>
							<div class="tab-pane" id="loanSummary" role="tabpanel">
                                <!--begin: Search Form -->
                                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                                    <div class="row align-items-center">
                                        <div class="col-xl-9 order-1 order-xl-1">
                                            <div class="form-group m-form__group row align-items-center">
                                                <div class="col-lg-6">
                                                    <div class="m-input-icon m-input-icon--left">
                                                        <input type="text" class="form-control m-input m-input--solid" th:placeholder="#{label.search}" id="m_form_search5">
                                                        <span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
                                                    </div>
                                                </div>
												<div class="col-lg-6 m--align-right">

													<form th:action="@{/printoutTemplate/1/objectId/1/generate}" method="post">

													<div class="m-form__group m-form__group--inline">
														<div class="m-form__label">
															<label class="m-label m-label--single">
																Дата:
															</label>
														</div>
														<div class="m-form__control">
															<div class="input-group date m_datetimepicker_6">
																<input type="text" class="form-control m-input" id="manualCalculationDate" name="manualCalculationDate"/>
																<span class="input-group-addon">
																<i class="la la-calendar glyphicon-th"></i>
															</span>
															</div>
														</div>
														<div class="m-form__control">
															<!--<a sec:authorize="hasRole('ADMIN')" th:href="@{/printoutTemplate/4/objectId/1/generate}" class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;air m-btn&#45;&#45;pill">-->
																<!--<span>-->
																	<!--<i class="la la-plus"></i>-->
																	<!--<span>-->
																		<!--Добавить расчет-->
																	<!--</span>-->
																<!--</span>-->
															<!--</a>-->

															<button sec:authorize="hasAnyAuthority('ADMIN','PERM_ADD_LOANSUMMARY')" class="btn btn-sm btn-accent" type="button" id="bnt_init_manualCalculator" th:text="#{label.button.calculate.manual}">
																Сохранить расчет
															</button>
														</div>
													</div>
													</form>

												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Search Form -->
                                <!--begin: Datatable -->
                                <div class="m_datatable" id="summariesTable"></div>
                                <!--end: Datatable -->
							</div>
							<div class="tab-pane" id="accrue" role="tabpanel">
                                <!--begin: Search Form -->
                                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                                    <div class="row align-items-center">
                                        <div class="col-xl-9 order-1 order-xl-1">
                                            <div class="form-group m-form__group row align-items-center">
                                                <div class="col-lg-6">
                                                    <div class="m-input-icon m-input-icon--left">
                                                        <input type="text" class="form-control m-input m-input--solid" th:placeholder="#{label.search}" id="m_form_search6">
                                                        <span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Search Form -->
                                <!--begin: Datatable -->
                                <div class="m_datatable" id="accruesTable"></div>
                                <!--end: Datatable -->
							</div>
							<div class="tab-pane" id="initializaPhase" role="tabpanel">
								<div class="m-form__content">
									<div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_2_msg">
										<div class="m-alert__icon">
											<i class="la la-warning"></i>
										</div>
										<div class="m-alert__text" th:text="#{label.select.date}">
											Выберите пожалуйста дату.
										</div>
										<div class="m-alert__close">
											<button type="button" class="close" data-close="alert" aria-label="Close"></button>
										</div>
									</div>
								</div>
								<!--begin: Selected Rows Group Action Form -->
								<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30" id="m_datatable_group_action_form">
									<div class="row align-items-center">
										<div class="col-xl-8 order-2 order-xl-1">
											<div class="form-group m-form__group row align-items-center">
												<div class="col-md-5">
													<div class="m-form__group m-form__group--inline">
														<div class="m-form__label">
															<label class="m-label m-label--single" th:text="#{label.date}">
																Дата:
															</label>
														</div>
														<div class="m-form__control">
															<div class="input-group date m_datetimepicker_6">
																<input type="text" class="form-control m-input" id="phaseInitDate"/>
																<span class="input-group-addon">
																<i class="la la-calendar glyphicon-th"></i>
															</span>
															</div>
														</div>
													</div>
													<div class="d-md-none m--margin-bottom-10"></div>
												</div>
												<div class="col-md-4">
													<button th:text="#{label.add.collection.phase}" sec:authorize="hasAnyAuthority('ADMIN','PERM_ADD_COLLECTIONPHASE')" class="btn btn-sm btn-accent" type="button" data-toggle="collapse" data-target="#phaseDetailsDiv" id="bnt_init_phase">
														Сохранить претензию
													</button>

													<!--<form th:action="@{/printoutTemplate/1/objectId/1/generate}" method="post">-->
														<!--<button class="btn btn-sm btn-accent" type="submit" th:text="#{label.table.generate}"></button>-->
													<!--</form>-->
													<!--<button th:action="@{/printoutTemplate/1/objectId/1/generate}" class="btn btn-sm btn-accent" type="button" id="printGenerate" th:text="#{label.table.generate}"></button>-->
												</div>
											</div>
											<div id="phaseDetailsDiv" class="collapse">
												<div class="m_datatable" id="phaseDetailsTable"></div>
												<button class="btn btn-sm btn-accent" type="button" id="initPhaseSaveBtn" th:text="#{label.form.save}"></button>
											</div>
										</div>
									</div>
								</div>
								<!--end: Selected Rows Group Action Form -->
							</div>
							<div class="tab-pane" id="additional" role="tabpanel">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item">
										<a class="nav-link m--font-primary active" data-toggle="tab" href="#loanGoods" th:text="#{label.loan.good}"></a>
									</li>
									<li class="nav-item">
										<a class="nav-link m--font-primary" data-toggle="tab" href="#debtTransfers" th:text="#{label.loan.debtTransfer}"></a>
									</li>
									<!--<li class="nav-item">-->
										<!--<a class="nav-link m&#45;&#45;font-primary" data-toggle="tab" href="#targetedUses" th:text="#{label.targetedUses}"></a>-->
									<!--</li>-->
									<!--<li class="nav-item">-->
										<!--<a class="nav-link m&#45;&#45;font-primary" data-toggle="tab" href="#reconstructedLists" th:text="#{label.reconstructedLists}"></a>-->
									<!--</li>-->
									<li class="nav-item">
										<a class="nav-link m--font-primary" data-toggle="tab" href="#bankrupts" th:text="#{label.loan.bankrupt}"></a>
									</li>
									<!--<li class="nav-item">-->
										<!--<a class="nav-link m&#45;&#45;font-primary" data-toggle="tab" href="#collectionPhases" th:text="#{label.collectionPhases}"></a>-->
									<!--</li>-->
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="loanGoods" role="tabpanel">
										<!--begin: Search Form -->
										<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
											<div class="row align-items-center">
												<div class="col-xl-9 order-1 order-xl-1">
													<div class="form-group m-form__group row align-items-center">
														<div class="col-lg-6">
															<div class="m-input-icon m-input-icon--left">
																<input type="text" class="form-control m-input m-input--solid" th:placeholder="#{label.search}" id="m_form_search9">
																<span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
															</div>
														</div>
													</div>
												</div>

												<div class="col-xl-3 order-3 order-xl-3 m--align-right">
													<a sec:authorize="hasAnyAuthority('ADMIN','PERM_ADD_LOANGOODS')" th:href="@{/manage/debtor/__${debtorId}__/loan/__${loan.id}__/loangoods/0/save}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
												<span>
													<i class="la la-plus"></i>
													<span th:text="#{label.loan.add.good}">
														Добавить товар
													</span>
												</span>
													</a>
													<div class="m-separator m-separator--dashed d-xl-none"></div>
												</div>
											</div>
										</div>
										<!--end: Search Form -->
										<!--begin: Datatable -->
										<div class="m_datatable" id="goodsTable"></div>
										<!--end: Datatable -->
									</div>
									<div class="tab-pane" id="debtTransfers" role="tabpanel">
										<!--begin: Search Form -->
										<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
											<div class="row align-items-center">
												<div class="col-xl-9 order-1 order-xl-1">
													<div class="form-group m-form__group row align-items-center">
														<div class="col-lg-6">
															<div class="m-input-icon m-input-icon--left">
																<input type="text" class="form-control m-input m-input--solid" th:placeholder="#{label.search}" id="m_form_search10">
																<span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
															</div>
														</div>
													</div>
												</div>

												<div class="col-xl-3 order-3 order-xl-3 m--align-right">
													<a sec:authorize="hasAnyAuthority('ADMIN','PERM_ADD_DEBTTRANSFER')" th:href="@{/manage/debtor/__${debtorId}__/loan/__${loan.id}__/debttransfer/0/save}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
												<span>
													<i class="la la-plus"></i>
													<span th:text="#{label.loan.debtTransfer}">
														Добавить перевод долга
													</span>
												</span>
													</a>
													<div class="m-separator m-separator--dashed d-xl-none"></div>
												</div>
											</div>
										</div>
										<!--end: Search Form -->
										<!--begin: Datatable -->
										<div class="m_datatable" id="DTsTable"></div>
										<!--end: Datatable -->
									</div>
									<div class="tab-pane" id="targetedUses" role="tabpanel">
										<!--begin: Search Form -->
										<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
											<div class="row align-items-center">
												<div class="col-xl-9 order-1 order-xl-1">
													<div class="form-group m-form__group row align-items-center">
														<div class="col-lg-6">
															<div class="m-input-icon m-input-icon--left">
																<input type="text" class="form-control m-input m-input--solid" th:placeholder="#{label.search}" id="m_form_search11">
																<span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
															</div>
														</div>
													</div>
												</div>

												<div class="col-xl-3 order-3 order-xl-3 m--align-right">
													<a sec:authorize="hasAnyAuthority('ADMIN','PERM_ADD_TARGETEDUSE')" th:href="@{/manage/debtor/__${debtorId}__/loan/__${loan.id}__/targeteduse/0/save}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
												<span>
													<i class="la la-plus"></i>
													<span >
														Добавить целевое использование
													</span>
												</span>
													</a>
													<div class="m-separator m-separator--dashed d-xl-none"></div>
												</div>
											</div>
										</div>
										<!--end: Search Form -->
										<!--begin: Datatable -->
										<div class="m_datatable" id="TUsTable"></div>
										<!--end: Datatable -->
									</div>
									<div class="tab-pane" id="reconstructedLists" role="tabpanel">
										<!--begin: Search Form -->
										<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
											<div class="row align-items-center">
												<div class="col-xl-9 order-1 order-xl-1">
													<div class="form-group m-form__group row align-items-center">
														<div class="col-lg-6">
															<div class="m-input-icon m-input-icon--left">
																<input type="text" class="form-control m-input m-input--solid" placeholder="Искать..." id="m_form_search12">
																<span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
															</div>
														</div>
													</div>
												</div>

												<div class="col-xl-3 order-3 order-xl-3 m--align-right">
													<a sec:authorize="hasAnyAuthority('ADMIN','PERM_ADD_RECONSTRUCTEDLIST')" th:href="@{/manage/debtor/__${debtorId}__/loan/__${loan.id}__/reconstructedlist/0/save}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
												<span>
													<i class="la la-plus"></i>
													<span>
														Добавить реструктуризацию
													</span>
												</span>
													</a>
													<div class="m-separator m-separator--dashed d-xl-none"></div>
												</div>
											</div>
										</div>
										<!--end: Search Form -->
										<!--begin: Datatable -->
										<div class="m_datatable" id="RLsTable"></div>
										<!--end: Datatable -->
									</div>
									<div class="tab-pane" id="bankrupts" role="tabpanel">
										<!--begin: Search Form -->
										<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
											<div class="row align-items-center">
												<div class="col-xl-9 order-1 order-xl-1">
													<div class="form-group m-form__group row align-items-center">
														<div class="col-lg-6">
															<div class="m-input-icon m-input-icon--left">
																<input type="text" class="form-control m-input m-input--solid" placeholder="Искать..." id="m_form_search13">
																<span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
															</div>
														</div>
													</div>
												</div>

												<div class="col-xl-3 order-3 order-xl-3 m--align-right">
													<a sec:authorize="hasAnyAuthority('ADMIN','PERM_ADD_BANKRUPT')" th:href="@{/manage/debtor/__${debtorId}__/loan/__${loan.id}__/bankrupt/0/save}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
												<span>
													<i class="la la-plus"></i>
													<span th:text="#{label.loan.bankrupt}">
														Добавить банкротство
													</span>
												</span>
													</a>
													<div class="m-separator m-separator--dashed d-xl-none"></div>
												</div>
											</div>
										</div>
										<!--end: Search Form -->
										<!--begin: Datatable -->
										<div class="m_datatable" id="bankruptsTable"></div>
										<!--end: Datatable -->
									</div>
									<div class="tab-pane" id="collectionPhases" role="tabpanel">
										<!--begin: Search Form -->
										<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
											<div class="row align-items-center">
												<div class="col-xl-9 order-1 order-xl-1">
													<div class="form-group m-form__group row align-items-center">
														<div class="col-lg-6">
															<div class="m-input-icon m-input-icon--left">
																<input type="text" class="form-control m-input m-input--solid" th:placeholder="#{label.search}" id="m_form_search14">
																<span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!--end: Search Form -->
										<!--begin: Datatable -->
										<div class="m_datatable" id="phasesTable"></div>
										<!--end: Datatable -->
									</div>
								</div>
							</div>
							</div>
						<div class="modal fade bs-modal-lg in" id="loanFinGroupModal" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content">
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
				<!--end::Portlet-->
			</div>
		</div>
	</div>
	<!-- end:: Body -->
	<!-- begin::Footer -->

<div th:replace="fragments/footer :: footer-js"/>
	<!-- end::Footer -->
</div>
<!-- end:: Page -->



<!--begin::Page Resources -->
<script>
    var d = document.getElementById('isEmptyChild').value;
    if(d=="true"){
        document.getElementById("childListe").style.display = 'none';
	}
</script>
<!--<script th:src="@{/js/data-debtor-loan-terms.js}" th:inline="javascript" type="text/javascript"></script>-->
<!--<script th:src="@{/js/data-debtor-loan-children.js}" th:inline="javascript" type="text/javascript"></script>-->
<!--<script th:src="@{/js/data-debtor-loan-paymentSchedules.js}" th:inline="javascript" type="text/javascript"></script>-->
<!--<script th:src="@{/js/data-debtor-loan-payments.js}" th:inline="javascript" type="text/javascript"></script>-->
<!--<script th:src="@{/js/data-debtor-loan-writeOffs.js}" th:inline="javascript" type="text/javascript"></script>-->
<!--<script th:src="@{/js/data-debtor-loan-supervisorPlans.js}" th:inline="javascript" type="text/javascript"></script>-->
<script th:src="@{/js/data-debtor-loan-goods.js}" th:inline="javascript" type="text/javascript"></script>
<script th:src="@{/js/data-debtor-loan-debtTransfers.js}" th:inline="javascript" type="text/javascript"></script>
<script th:src="@{/js/data-debtor-loan-targetedUses.js}" th:inline="javascript" type="text/javascript"></script>
<script th:src="@{/js/data-debtor-loan-reconstructedLists.js}" th:inline="javascript" type="text/javascript"></script>
<script th:src="@{/js/data-debtor-loan-bankrupts.js}" th:inline="javascript" type="text/javascript"></script>
<script th:src="@{/js/data-debtor-loan-phases.js}" th:inline="javascript" type="text/javascript"></script>
<!--<script th:src="@{/js/data-debtor-loan-detailedSummaries.js}" th:inline="javascript" type="text/javascript"></script>-->
<!--<script th:src="@{/js/data-debtor-loan-summaries.js}" th:inline="javascript" type="text/javascript"></script>-->
<!--<script th:src="@{/js/data-debtor-loan-accrues.js}" th:inline="javascript" type="text/javascript"></script>-->
<script th:src="@{/js/data-debtor-loan-phasedetails.js}" th:inline="javascript" type="text/javascript"></script>
<!--end::Page Resources -->

<div th:with="isAdmin = ${#authorization.expression('hasRole(''ADMIN'')')}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var hasRoleAdmin = /*[[${isAdmin}]]*/ [];
        /*]]>*/
    </script>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var debtorId = /*[[${debtor.id}]]*/ [];
    var loanId = /*[[${loan.id}]]*/ [];
    // var jsonWOs = /*[[${WOs}]]*/ [];
    // var jsonChildren = /*[[${children}]]*/ [];
    // var jsonTerms = /*[[${terms}]]*/ [];
    // var jsonPaymentSchedules = /*[[${paymentSchedules}]]*/ [];
    // var jsonPayments = /*[[${payments}]]*/ [];
    // var jsonSPs = /*[[${SPs}]]*/ [];
    var jsonGoods = /*[[${goods}]]*/ [];
    var jsonDTs = /*[[${DTs}]]*/ [];
    var jsonTUs = /*[[${TUs}]]*/ [];
    var jsonRLs = /*[[${RLs}]]*/ [];
    var jsonBankrupts = /*[[${bankrupts}]]*/ [];
    var jsonPhases = /*[[${phases}]]*/ [];
    // var jsonDetailedSummaries = /*[[${detailedSummaries}]]*/ [];
    // var jsonSummaries = /*[[${summaries}]]*/ [];
    // var jsonAccrues = /*[[${accrues}]]*/ [];
    /*]]>*/
</script>
<script>
	$("#printGenerate").on('click',function () {
        var initDate = $("#phaseInitDate").val();
        var loanIds=new Array();
        loanIds.push(loanId);
        loanIds = JSON.stringify({
            'id' : loanIds
        });
        console.log(loanIds)
        $.ajax({
            type : 'GET',
            url : "/printoutTemplate/1/objectId/1/generate",
            data: {loanIds:loanIds,initDate: initDate}
        });
    });
    $('#bnt_init_phase')
        .on('click', function () {
            if (!$("#phaseInitDate").val())
            {
                var alert = $('#m_form_2_msg');
                alert.removeClass('m--hide').show();
                mApp.scrollTo(alert, -200);
            }
            else
            {
                var initDate = $("#phaseInitDate").val();
                $.ajax({
                    type : 'POST',
                    url : "/manage/debtor/"+debtorId+"/initializephase",
                    data: {selectedLoans:loanId, initDater: initDate},
                    success:function (data) {
                        phaseDetailsTableInit(data);
                        // var divT = $('#phaseDetailsDiv');
                        // divT.collapse('show');
                        // mApp.scrollTo(divT, -200);
                    }
                });
                //$.post( "/manage/debtor/"+debtorId+"/initializephase", );
            }
        });
    $("#bnt_init_manualCalculator").on('click',function () {
        if (!$("#manualCalculationDate").val())
        {
        }
        else
        {
            var initDate = $("#manualCalculationDate").val();
            $.ajax({
                type : 'POST',
                url : "/manage/debtor/"+debtorId+"/initializeManualCalculator",
                data: {selectedLoans:loanId, initDater: initDate},
				success:function () {
                    location.reload();
                }
            });
        }



    });
    // $('#initPhaseSaveBtn')
    //     .on('click', function () {
    //         // var options = { year: 'numeric',month: 'long', day: 'numeric' };
    //         var initDate = $("#phaseInitDate").val();
    //
    //         $.ajax({
    //             type:'post',
    //             data:{initdate:initDate},
    //             url:"/initializephasesave/initdate"
    //         });
    //         var phaseDetailsModels = [];
    //
		// 	var PhaseDetailsModel = {};
		// 	var startPrincInput ="#startPrinc";
		// 	var startIntInput ="#startInt";
		// 	var startPenInput ="#startPen";
		// 	var totalInput = "#total";
    //
		// 	PhaseDetailsModel['loanId'] = loanId;
		// 	PhaseDetailsModel['startPrincipal'] = parseFloat($(startPrincInput).val());
		// 	PhaseDetailsModel['startInterest'] = parseFloat($(startIntInput).val());
		// 	PhaseDetailsModel['startPenalty'] = parseFloat($(startPenInput).val());
		// 	PhaseDetailsModel['startTotalAmount'] = parseFloat($(totalInput).val());
		// 	// PhaseDetailsModel['initDate'] = d;
		// 	phaseDetailsModels.push(PhaseDetailsModel);
    //
    //         console.log(phaseDetailsModels);
    //         phaseDetailsModels = JSON.stringify({
    //             'phaseDetailsModels' : phaseDetailsModels
    //         });
    //         $.ajax({
    //             headers: {
    //                 'Accept': 'application/json',
    //                 'Content-Type': 'application/json'
    //             },
    //             type : 'POST',
    //             url : "/manage/debtor/"+debtorId+"/initializephasesave",
    //             data: phaseDetailsModels,
    //             dataType: 'json',
    //             success:function (data) {
    //                 if(data == 'OK')
    //                     window.location.replace("/manage/debtor/"+debtorId+"/view");
    //             }
    //         });
    //     });
    //
		// var startPrincInput ="#startPrinc";
		// var startIntInput ="#startInt";
		// var startPenInput ="#startPen";
		// var totalInput = "#total";
    //
		// $(startPrincInput).on('input', function () {
		// 	updateTotal();
		// });
    //
		// $(startIntInput).on('input', function () {
		// 	updateTotal();
		// });
    //
		// $(startPenInput).on('input', function () {
		// 	updateTotal();
		// });
    //
		// function updateTotal() {
		// 	var sum = 0.0;
		// 	sum = ((parseFloat($(startPrincInput).val()) + parseFloat($(startIntInput).val()) + parseFloat($(startPenInput).val())));
		// 	$(totalInput).val(sum.toFixed(2));
    //
    // }
</script>
<script>
    $('.m_datetimepicker_6').datetimepicker({
        format: "dd.mm.yyyy",
        todayHighlight: true,
        autoclose: true,
        startView: 2,
        minView: 2,
        forceParse: 0,
        pickerPosition: 'bottom-left'
    });
</script>
<!--<div th:replace="layout/footer"/>-->
<script>
	$("#writeOffFunction").on('click',function () {
        $.ajax({
			type:'post',
            url: '/writeOffsRequest/'+loanId,
            success:function (data) {
				jsonWOs=data;
                $.getScript("/js/data-debtor-loan-writeOffs.js");
            }
        });
    });
    $("#paymentScheduleFunction").on('click',function () {
        $.ajax({
            type:'post',
            url: '/paymentScheduleRequest/'+loanId,
            success:function (data) {
                jsonPaymentSchedules=data;
                $.getScript("/js/data-debtor-loan-paymentSchedules.js");
            }
        });
    });
    $("#paymentFunction").on('click',function () {
        $.ajax({
            type:'post',
            url: '/paymentRequest/'+loanId,
            success:function (data) {
                jsonPayments=data;
                $.getScript("/js/data-debtor-loan-payments.js");
            }
        });
    });
    $("#loanSummaryFunction").on('click',function () {
        $.ajax({
            type:'post',
            url: '/loanSummaryRequest/'+loanId,
            success:function (data) {
                jsonSummaries=data;
                $.getScript("/js/data-debtor-loan-summaries.js");
            }
        });
    });
    $("#detailedLoanSummaryFunction").on('click',function () {
        $.ajax({
            type:'post',
            url: '/detailedLoanSummaryRequest/'+loanId,
            success:function (data) {
                jsonDetailedSummaries=data;
                $.getScript("/js/data-debtor-loan-detailedSummaries.js");
            }
        });
    });
	$("#supervisorPlanFunction").on('click',function () {
        $.ajax({
            type:'post',
            url: '/supervisorPlanRequest/'+loanId,
            success:function (data) {
                jsonSPs=data;
                $.getScript("/js/data-debtor-loan-supervisorPlans.js");
            }
        });
    });
    $("#childListFunction").on('click',function () {
        $.ajax({
            type:'post',
            url: '/childrenRequest/'+loanId,
            success:function (data) {
                jsonChildren=data;
                $.getScript("/js/data-debtor-loan-children.js");
            }
        });
    });
    $("#creditTermFunction").on('click',function () {
        $.ajax({
            type:'post',
            url: '/creditTermRequest/'+loanId,
            success:function (data) {
                jsonTerms=data;
                $.getScript("/js/data-debtor-loan-terms.js");
            }
        });
    });

    $("#accrueFunction").on('click',function () {
        $.ajax({
            type:'post',
            url: '/accrueRequest/'+loanId,
            success:function (data) {
                jsonAccrues=data;
                $.getScript("/js/data-debtor-loan-accrues.js");
            }
        });
    });



</script>
<script>
    $("#loanFinGroupModal").on("show.bs.modal", function(e) {
        var link = $(e.relatedTarget);
        $(this).find(".modal-content").load(link.attr("href"));
    });
</script>
</body>
<!-- end::Body -->
</html>