<div th:fragment="footer-js">
    <!--begin::Base Scripts -->
    <script th:src="@{/assets/custom/vendors/base/vendors.bundle.js}" type="text/javascript"></script>
    <script th:src="@{/assets/custom/demo/default/base/scripts.bundle.js}" type="text/javascript"></script>
    <!--end::Base Scripts -->

    <script>
        $('body').addClass('m-brand--minimize m-aside-left--minimize');
        $('#m_aside_left_minimize_toggle').addClass('m-brand__toggler--active');

        $(document).ready(function() {
            changePageAndSize();
        });

        function changePageAndSize() {
            $('#pageSizeSelect').change(function(evt) {
                var currentLocation = window.location.pathname;
                window.location.replace(currentLocation + "?pageSize=" + this.value + "&page=1");
            });
        }

    </script>
</div>