<div th:fragment="footer-js">
    <!--begin::Base Scripts -->
    <script th:src="@{/assets/custom/vendors/base/vendors.bundle.js}" type="text/javascript"></script>
    <script th:src="@{/assets/custom/demo/default/base/scripts.bundle.js}" type="text/javascript"></script>
    <!--end::Base Scripts -->

    <script th:src="@{/js/sockjs.js}" type="text/javascript"></script>
    <script th:src="@{/js/stomp.js}" type="text/javascript"></script>

    <script type="text/javascript" th:inline="javascript">

        var username = [[${#authentication.name}]];
        // Chat Begin
        /*
        var messageForm = document.querySelector('#messageForm');
        var messageInput = document.querySelector('#message');
        var messageArea = document.querySelector('#messageArea');
        var chatModalTitle = document.querySelector('#chatModalTitle');
        var stompClient = null;
        var username = [ [${#authentication.name}] ];
        var receiver = null;
        var prevdate = null;

        function connect() {
            var socket = new SockJS('/ws');
                stompClient = Stomp.over(socket);
                stompClient.connect({}, onConnected, onError);
        }
        function onConnected() {
            stompClient.subscribe('/topic/public', onMessageReceived);
            stompClient.send("/app/chat.addUser", {}, JSON.stringify({sender: username, type: 'JOIN'}))
            chatModalTitle.innerHTML = "Online"
            messageInput.disabled = false;
        }
        function sendMessage(event) {
            var messageContent = messageInput.value.trim();

            if(messageContent && stompClient && receiver) {
                var chatMessage = {
                    sender: username,
                    receiver: receiver,
                    content: messageInput.value,
                    type: 'CHAT'
                };

                stompClient.send("/app/chat.sendMessage", {}, JSON.stringify(chatMessage));
                messageInput.value = '';
            }
            event.preventDefault();
        }
        function buildMessage(message) {

            var curdate = new Date(message.date).toLocaleDateString("ru", {day:"2-digit", month:"2-digit", year:"2-digit"});

            if((prevdate == null) || (prevdate < curdate))
            {
                prevdate = new Date(message.date).toLocaleDateString("ru", {day:"2-digit", month:"2-digit", year:"2-digit"});

                var dtContainer = document.createElement('div');
                    dtContainer.classList.add('center');

                var dt = document.createElement('span');
                    dt.classList.add('date-title');

                var dttxt = document.createTextNode(prevdate);
                    dt.appendChild(dttxt);

                    dtContainer.appendChild(dt);

                messageArea.appendChild(dtContainer);
            }

            var mc = document.createElement('div');
                mc.classList.add('message');
            var mctxt = document.createTextNode(message.content);
                mc.appendChild(mctxt);

            var s2 = document.createElement('span');
            var d = new Date(message.date);
            var s2txt = document.createTextNode(d.toLocaleTimeString([], {hour12: false, hour: '2-digit', minute:'2-digit'}));
                s2.appendChild(s2txt);

            var s1 = document.createElement('span');
                s1.classList.add('metadata');
                s1.appendChild(s2);
                mc.appendChild(s1);

            if(message.sender === username)
            {
                mc.classList.add('sent');
            }
            else
            {
                mc.classList.add('received');
            }

            messageArea.appendChild(mc);
            messageArea.scrollTop = messageArea.scrollHeight;
        }
        function onMessageReceived(payload) {

            var message = JSON.parse(payload.body);

            if(message.type === 'CHAT' && (message.receiver === username || message.sender === username))
            {
                if(($("#chat_window").data('bs.modal') || {})._isShown)
                {
                    buildMessage(message);
                }
                else {
                    receiver = message.sender;
                    $('#cu').val(receiver).trigger('change');
                    notipy(message.senderfullname, message.content)
                }
            }
        }
        function onError() {
            messageInput.disabled = true;
            chatModalTitle.innerHTML = "Offline"
        }
        function notipy(t, m, r) {

            $.notify({
                title: t,
                message: '<a href="#" class="m-nav__link" data-toggle="modal" data-target="#chat_window">' + m + '</a>'
            }, {
                delay: 5000,
                type: "info",
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                '<button type="button" aria-hidden="true" class="close" data-notify="dismiss"></button>' +
                '<span data-notify="icon"></span> ' +
                '<span data-notify="title">{1}</span> ' +
                '<span data-notify="message">{2}</span>' +
                '<div class="progress" data-notify="progressbar">' +
                '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                '</div>' +
                '<a href="{3}" target="{4}" data-notify="url"></a>' +
                '</div>'
            });
        }
        function loadMessages(usr) {
                messageArea.innerHTML = "";

                prevdate = null;
                $.ajax({
                    type: "POST",
                    url: "/chat/messages",
                    data: { sender: username, receiver: receiver },
                    success: function(result){
                        for(var i = 0; i < result.length; i++)
                        {
                            buildMessage(result[i]);
                        }
                    }
                });
                this.scrollTop = this.scrollHeight;
        }

        $('#chat_window').on('show.bs.modal', function (e) {
            loadMessages(receiver)
        });

        messageForm.addEventListener('submit', sendMessage, true);

        connect();

        $('#cu').select2();
        $('#cu').on('select2:select', function (e) {
            receiver = e.params.data.id
            loadMessages(receiver)
        });
        */
        // Chat End

        function changePageAndSize() {
            $('#pageSizeSelect').change(function(evt) {
                var currentLocation = window.location.pathname;
                window.location.replace(currentLocation + "?pageSize=" + this.value + "&page=1");
            });
        }

        $(document).ready(function() {

            /*
            var path = window.location.pathname.split("/");

                if (path[2] != "edit") {

                    var tasks = [ [ ${@taskService.getTasksByUserId(@userServiceJpaImpl.findByUsername(#authentication.name).id)} ] ];

                    for (var i = 0; i < tasks.length; i++) {

                        if(username === "obsh003" || username === "obsh002") {
                            if(tasks[i].description !== "Завершить") {
                                $.notify({
                                    title: 'Задача №: ' + (i + 1),
                                    message: '<a href="/doc/edit/' + tasks[i].objectId + '" role="button" class="btn btn-link text-light" style="text-decoration: none;">' + tasks[i].description + '</a>'
                                }, {
                                    delay: 2000,
                                    type: "info",
                                    template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss"></button>' +
                                    '<span data-notify="icon"></span> ' +
                                    '<span data-notify="title">{1}</span> ' +
                                    '<span data-notify="message">{2}</span>' +
                                    '<div class="progress" data-notify="progressbar">' +
                                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                                    '</div>' +
                                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                                    '</div>'
                                });
                            }
                        }
                        else
                        {
                            $.notify({
                                title: 'Задача №: ' + (i + 1),
                                message: '<a href="/doc/edit/' + tasks[i].objectId + '" role="button" class="btn btn-link text-light" style="text-decoration: none;">' + tasks[i].description + '</a>'
                            }, {
                                delay: 2000,
                                type: "info",
                                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                                '<button type="button" aria-hidden="true" class="close" data-notify="dismiss"></button>' +
                                '<span data-notify="icon"></span> ' +
                                '<span data-notify="title">{1}</span> ' +
                                '<span data-notify="message">{2}</span>' +
                                '<div class="progress" data-notify="progressbar">' +
                                '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                                '</div>' +
                                '<a href="{3}" target="{4}" data-notify="url"></a>' +
                                '</div>'
                            });
                        }
                    }
                }

                */

            changePageAndSize();
        });


    </script>



</div>