<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- begin::Head -->
<head>
	<title th:text="${debtor.name}"></title>

	<div th:replace="fragments/header :: header-css"/>
</head>
<!-- end::Head -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
	<!-- BEGIN: Header -->
	<div th:replace="layout/header"/>
	<!-- END: Header -->
	<!-- begin::Body -->
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
		<!-- BEGIN: Left Aside -->
		<div th:replace="layout/sidebar"/>
		<!-- END: Left Aside -->
		<div class="m-grid__item m-grid__item--fluid m-wrapper">
			<div class="m-content">
				<!--begin::Portlet-->
				<div class="m-portlet m-portlet--full-height">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text" th:text="${debtor.name}"></h3>
							</div>
						</div>
					</div>
					<div class="m-portlet__body m-portlet__body--no-padding">
						<div class="row m-row--no-padding m-row--col-separator-xl">
							<div class="col-md-12 col-lg-12 col-xl-4">
								<!--begin:: Widgets/Stats2-1 -->
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.debtor.table.id}">ID</h3>
												<span class="m-widget1__desc m--font-brand" th:text="${debtor.id}"></span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.debtor.table.name}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${debtor.name}"></span>
											</div>
										</div>
									</div>
								</div>
								<!--end:: Widgets/Stats2-1 -->
							</div>
							<div class="col-md-12 col-lg-12 col-xl-4">
								<!--begin:: Widgets/Stats2-2 -->
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.debtor.table.debtorType}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${debtor.debtorType.name}"></span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.debtor.table.orgForm}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${debtor.orgForm.name}"></span>
											</div>
										</div>
									</div>
								</div>
								<!--begin:: Widgets/Stats2-2 -->
							</div>
							<div class="col-md-12 col-lg-12 col-xl-4">
								<!--begin:: Widgets/Stats2-3 -->
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.debtor.table.workSector}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${debtor.workSector.name}"></span>
											</div>
										</div>
									</div>
								</div>
								<!--begin:: Widgets/Stats2-3 -->
							</div>
						</div>
					</div>
				</div>
				<!--end::Portlet-->

				<!--begin::Portlet-->
				<div class="m-portlet m-portlet--mobile">
					<div class="m-portlet__body">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link m--font-primary active" data-toggle="tab" href="#loanListOfDebtor" th:text="#{label.debtor.tab.loans}"></a>
							</li>
							<li class="nav-item">
								<a class="nav-link m--font-primary" data-toggle="tab" href="#agreementListOfDebtor" th:text="#{label.debtor.tab.agreements}"></a>
							</li>
							<li class="nav-item">
								<a class="nav-link m--font-primary" data-toggle="tab" href="#procedureListOfDebtor" th:text="#{label.debtor.tab.procedures}"></a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="loanListOfDebtor" role="tabpanel">
								<div class="m-section">
									<div class="m-section__content">
										<a th:href="@{/manage/debtor/__${debtorId}__/loan/0/save}" class="m-portlet__nav-link btn btn-success m-btn m-btn--air" th:text="#{label.debtor.addLoan}" sec:authorize="hasRole('ADMIN')"></a>
									</div>
								</div>
								<!--begin::Section-->
								<div class="m-section">
									<div class="m-section__content">
										<div class="m-scrollable" data-scrollbar-shown="true"  data-axis="x" data-scrollable="true" data-height="200">
											<div>
												<table class="table">
													<thead class="thead-default">
													<tr>
														<th class="table-id">Id</th>
														<th th:text="#{label.loan.table.regNumber}"></th>
														<th th:text="#{label.loan.table.regDate}"></th>
														<th th:text="#{label.loan.table.amount}"></th>
														<th th:text="#{label.loan.table.currency}"></th>
														<th th:text="#{label.loan.table.type}"></th>
														<th th:text="#{label.loan.table.state}"></th>
														<th th:text="#{label.loan.table.superId}"></th>
														<!--<th th:text="#{label.loan.table.hasSubLoan}"></th>-->
														<!--<th th:text="#{label.loan.table.parentId}"></th>-->
														<th th:text="#{label.loan.table.creditOrderId}"></th>
														<th>&nbsp;</th>
													</tr>
													</thead>
													<tbody>
													<tr th:each="loan : ${loans}">
														<td class="table-id" th:text="${loan.id}"></td>
														<td th:text="${loan.regNumber}"></td>
														<td th:text="${loan.regDate}"></td>
														<td th:text="${loan.amount}"></td>
														<td th:text="${loan.currency.name}"></td>
														<td th:text="${loan.loanType.name}"></td>
														<td th:text="${loan.loanState.name}"></td>
														<td th:text="${loan.supervisorId}"></td>
														<!--<td th:text="${loan.hasSubLoan}"></td>-->
														<!--<td th:text="${loan.parentLoan!=null} ? ${loan.parentLoan.id} : 'null'"></td>-->
														<td th:text="${loan.creditOrder.id}"></td>
														<td class="table-actions text-right">
															<span>
																<div class="dropdown">
																	<a href="#" class="btn m-btn m-btn--hover-metal m-btn--icon m-btn--icon-only m-btn--pill btn-dropdown" data-toggle="dropdown">
																		<i class="la la-ellipsis-h"></i>
																	</a>
																	<div class="dropdown-menu dropdown-menu-right">
																		<a class="dropdown-item" th:href="@{/manage/debtor/__${debtorId}__/loan/__${loan.id}__/view}">
																			<span th:text="#{label.table.view}"></span>
																		</a>
																		<a class="dropdown-item" th:href="@{/manage/debtor/__${debtorId}__/loan/__${loan.id}__/save}" sec:authorize="hasRole('ADMIN')">
																			<span th:text="#{label.table.edit}"></span>
																		</a>
																		<a class="dropdown-item" href="#" sec:authorize="hasRole('ADMIN')">
																			<span>
																				<form th:action="@{/manage/debtor/__${debtorId}__/loan/delete}" method="post">
																					<input hidden="true" type="text" id="id" name="id" th:value="${loan.id}" />
																					<button type="submit" class="btn btn-reset" th:text="#{label.table.delete}"></button>
																				</form>
																			</span>
																		</a>
																	</div>
																</div>
															</span>
														</td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!--end::Section-->
							</div>
							<div class="tab-pane" id="agreementListOfDebtor" role="tabpanel">
								<div class="m-section">
									<div class="m-section__content">
										<a th:href="@{/manage/debtor/__${debtorId}__/collateralagreement/0/save}" class="m-portlet__nav-link btn btn-success m-btn m-btn--air" th:text="#{label.debtor.addAgreement}"></a>
									</div>
								</div>
								<!--begin::Section-->
								<div class="m-section">
									<div class="m-section__content">
										<div class="m-scrollable" data-scrollbar-shown="true"  data-axis="x" data-scrollable="true" data-height="200">
											<div>
												<table class="table">
													<thead class="thead-default">
													<tr>
														<th class="table-id">Id</th>
														<th th:text="#{label.agreement.table.number}"></th>
														<th th:text="#{label.agreement.table.date}"></th>
														<!--<th th:text="#{label.agreement.table.collRegNumber}"></th>-->
														<!--<th th:text="#{label.agreement.table.collRegDate}"></th>-->
														<th th:text="#{label.agreement.table.notaryRegNumber}"></th>
														<th th:text="#{label.agreement.table.notaryRegDate}"></th>
														<th th:text="#{label.agreement.table.arrestRegNumber}"></th>
														<th th:text="#{label.agreement.table.arrestRegDate}"></th>
														<th>&nbsp;</th>
													</tr>
													</thead>
													<tbody>
													<tr th:each="agreement : ${agreements}">
														<td class="table-id" th:text="${agreement.id}"></td>
														<td th:text="${agreement.agreementNumber}"></td>
														<td th:text="${agreement.agreementDate}"></td>
														<!--<td th:text="${agreement.collateralOfficeRegNumber}"></td>-->
														<!--<td th:text="${agreement.collateralOfficeRegDate}"></td>-->
														<td th:text="${agreement.notaryOfficeRegNumber}"></td>
														<td th:text="${agreement.notaryOfficeRegDate}"></td>
														<td th:text="${agreement.arrestRegNumber}"></td>
														<td th:text="${agreement.arrestRegDate}"></td>
														<td class="table-actions text-right">
															<span>
																<div class="dropdown">
																	<a href="#" class="btn m-btn m-btn--hover-metal m-btn--icon m-btn--icon-only m-btn--pill btn-dropdown" data-toggle="dropdown">
																		<i class="la la-ellipsis-h"></i>
																	</a>
																	<div class="dropdown-menu dropdown-menu-right">
																		<a class="dropdown-item" th:href="@{/manage/debtor/__${debtorId}__/collateralagreement/__${agreement.id}__/view}">
																			<span th:text="#{label.table.view}"></span>
																		</a>
																		<a class="dropdown-item" th:href="@{/manage/debtor/__${debtorId}__/collateralagreement/__${agreement.id}__/save}">
																			<span th:text="#{label.table.edit}"></span>
																		</a>
																		<a class="dropdown-item" href="#">
																			<span>
																				<form th:action="@{/manage/debtor/__${debtorId}__/collateralagreement/delete}" method="post">
																					<input hidden="true" type="text" id="id" name="id" th:value="${agreement.id}" />
																					<button type="submit" class="btn btn-reset" th:text="#{label.table.delete}"></button>
																				</form>
																			</span>
																		</a>
																	</div>
																</div>
															</span>
														</td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!--end::Section-->
							</div>
							<div class="tab-pane" id="procedureListOfDebtor" role="tabpanel">
								<!--
								<div class="m-section">
									<div class="m-section__content">
										<a th:href="@{/manage/debtor/__${debtorId}__/collectionprocedure/0/save}" class="m-portlet__nav-link btn btn-success m-btn m-btn--air" th:text="#{label.debtor.addProcedure}"></a>
									</div>
								</div>
								-->
								<div class="m-section">
									<div class="m-section__content">
										<a th:href="@{/manage/debtor/__${debtorId}__/initializephase}" class="m-portlet__nav-link btn btn-success m-btn m-btn--air" th:text="#{label.debtor.initializePhase}"></a>
									</div>
								</div>
								<!--begin::Section-->
								<div class="m-section">
									<div class="m-section__content">
										<div class="m-scrollable" data-scrollbar-shown="true"  data-axis="x" data-scrollable="true" data-height="200">
											<div>
												<table class="table">
													<thead class="thead-default">
													<tr>
														<th class="table-id" th:text="#{label.table.id}"></th>
														<th th:text="#{label.procedure.table.startDate}"></th>
														<th th:text="#{label.procedure.table.closeDate}"></th>
														<th th:text="#{label.procedure.table.lastPhase}"></th>
														<th th:text="#{label.procedure.table.lastStatusId}"></th>
														<th th:text="#{label.procedure.table.status}"></th>
														<th th:text="#{label.procedure.table.type}"></th>
														<th>&nbsp;</th>
													</tr>
													</thead>
													<tbody>
													<tr th:each="proc : ${procs}">
														<td class="table-id" th:text="${proc.id}"></td>
														<td th:text="${proc.startDate}"></td>
														<td th:text="${proc.closeDate}"></td>
														<td th:text="${proc.lastPhase}"></td>
														<td th:text="${proc.lastStatusId}"></td>
														<td th:text="${proc.procedureStatus.name}"></td>
														<td th:text="${proc.procedureType.name}"></td>
														<td class="table-actions text-right">
															<span>
																<div class="dropdown">
																	<a href="#" class="btn m-btn m-btn--hover-metal m-btn--icon m-btn--icon-only m-btn--pill btn-dropdown" data-toggle="dropdown">
																		<i class="la la-ellipsis-h"></i>
																	</a>
																	<div class="dropdown-menu dropdown-menu-right">
																		<a class="dropdown-item" th:href="@{/manage/debtor/__${debtorId}__/collectionprocedure/__${proc.id}__/view}">
																			<span th:text="#{label.table.view}"></span>
																		</a>
																		<a class="dropdown-item" th:href="@{/manage/debtor/__${debtorId}__/collectionprocedure/__${proc.id}__/save}">
																			<span th:text="#{label.table.edit}"></span>
																		</a>
																		<a class="dropdown-item" href="#">
																			<span>
																				<form th:action="@{/manage/debtor/__${debtorId}__/collectionprocedure/delete}" method="post">
																					<input hidden="true" type="text" id="id" name="id" th:value="${proc.id}" />
																					<button type="submit" class="btn btn-reset" th:text="#{label.table.delete}"></button>
																				</form>
																			</span>
																		</a>
																	</div>
																</div>
															</span>
														</td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!--end::Section-->
							</div>
						</div>
					</div>
				</div>
				<!--end::Portlet-->
			</div>
		</div>
	</div>
	<!-- end:: Body -->
	<!-- begin::Footer -->
	<div th:replace="layout/footer"/>
	<!-- end::Footer -->
</div>
<!-- end:: Page -->

<div th:replace="fragments/footer :: footer-js"/>

</body>
<!-- end::Body -->
</html>