<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{label.collection.procedure.group}">MFLoan | Credit Orders</title>
    <div th:replace="fragments/header :: header-css" />
</head>

<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-aside-left--minimize m-brand--minimize"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- BEGIN: Header -->
    <div th:replace="layout/header"/>
    <!-- END: Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
        <div th:replace="layout/sidebar"/>
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-content">
                <div class="m-portlet m-portlet--mobile">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text" th:text="#{label.collection.phase}">Collection Procedure Types</h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <form th:action="@{/manage/debtor/__${debtorId}__/collectionprocedure/__${procId}__/collectionphase/__${phase.id}__/groupAndIndex/change}" th:object="${phase}" method="post" class="m-form m-form--fit m-form--label-align-right">
                            <input hidden="hidden" th:field="*{id}">
                            <input id="valueOfSubIndex" hidden="hidden" th:field="*{sub_index_id}">
                            <div class="m-portlet__body">
                                <div class="m-form__section">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-4 col-sm-12" th:text="#{label.phase.group.name}">
                                            Agreement number <span class="m--font-danger">*</span>
                                        </label>
                                        <div class="col-lg-4 col-md-9 col-sm-12">
                                            <select class="form-control m-bootstrap-select m_selectpicker"  th:field="*{collectionPhaseGroup.id}">
                                                <option th:each="group : ${groupList}"
                                                        th:value="${group.id}"
                                                        th:selected="${group.id}==${phase.collectionPhaseGroup.id}"
                                                        th:text="${group.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-4 col-sm-12" th:text="#{label.phase.index.name}">
                                            Collateral office registration number <span class="m--font-danger">*</span>
                                        </label>
                                        <div class="col-lg-4 col-md-9 col-sm-12">
                                            <select class="form-control m-bootstrap-select m_selectpicker" th:field="*{collectionPhaseIndex.id}" id="collectionPhaseIndex">
                                                <option th:each="index : ${indexList}"
                                                        th:value="${index.id}"
                                                        th:selected="${index.id}==${phase.collectionPhaseIndex.id}"
                                                        th:text="${index.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-4 col-sm-12" th:text="#{label.phase.subIndex.name}">
                                            Collateral office registration number <span class="m--font-danger">*</span>
                                        </label>
                                        <div class="col-lg-4 col-md-9 col-sm-12">
                                            <!--<select id="subIndex" class="form-control m-bootstrap-select m_selectpicker" multiple="multiple" th:field="*{collectionPhaseIndex.collectionPhaseSubIndices}">-->
                                            <select id="subIndex" class="form-control m-bootstrap-select m_selectpicker">
                                                <option value="0" text="Нечего не выбрано!">

                                                </option>
                                                <option th:each="subInde : ${subIndex}"
                                                        th:value="${subInde.id}"
                                                        th:text="${subInde.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions m-form__actions">
                                    <div class="row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-6">
                                            <button sec:authorize="hasAnyAuthority('ADMIN','PERM_UPDATE_COLLECTIONPHASE')" type="submit" class="btn btn-primary" th:text="#{label.button.save}">
                                                Save
                                            </button>
                                            <button onclick="window.history.back()" type="button" class="btn btn-secondary" th:text="#{label.button.cancel}">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="layout/footer"/>
</div>
<div th:replace="fragments/footer :: footer-js"></div>

<script th:inline="javascript">

    /*<![CDATA[*/


    $('.m_selectpicker').selectpicker('refresh');
    $.getJSON("/subIndexByIndex/list", {
        indexId : $('#collectionPhaseIndex').val(),
        ajax : 'true'
    }, function(data) {
        console.log(data)

        $('#subIndex').empty();
        var len = data.length;
        for ( var i = 0; i < len; i++) {
            $('#subIndex').append("<option value='"+data[i].id+"'>"+data[i].name+"</option>");
        }

        $('#subIndex').selectpicker('refresh');
    });

    var debtorId=[[${debtorId}]];
    var procId=[[${procId}]];
    var phaseId=[[${phaseId}]];
    $("#valueOfSubIndex").val($("#subIndex").val());
    $("#subIndex").on('change',function () {
        // alert($("#subIndex").val());
        $("#valueOfSubIndex").val($("#subIndex").val());
    });

    $('#collectionPhaseIndex').change(
        function() {

            // alert(this);
            // updateIndex(this);

            // alert($('#collectionPhaseIndex').val());
            $.getJSON("/subIndexByIndex/list", {
                indexId : $('#collectionPhaseIndex').val(),
                ajax : 'true'
            }, function(data) {
                console.log(data)

                $('#subIndex').empty();
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                    $('#subIndex').append("<option value='"+data[i].id+"'>"+data[i].name+"</option>");
                }

                $('#subIndex').selectpicker('refresh');
            });
        });
</script>
</body>
</html>