<div>
<!--begin::Portlet-->
<div class="m-portlet m-portlet--mobile" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="m-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link m--font-primary active" data-toggle="tab" href="#main" th:text="#{label.collection.info.phase}" id="mainFunction"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link m--font-primary" data-toggle="tab" href="#debtorInfo" th:text="#{label.debtor}" id="debtorInfoFunction"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link m--font-primary" data-toggle="tab" href="#phaseEvent" th:text="#{label.collection.event}" id="phaseEventFunction"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link m--font-primary" data-toggle="tab" href="#phasePayment" th:text="#{label.loan.payments}" id="phasePaymentFunction"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link m--font-primary" data-toggle="tab" href="#phaseComputation" th:text="#{label.loan.loanSummary}" id="phaseComputationFunction"></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="main">
                <div class="m-portlet__body m-portlet__body--no-padding">
                    <div class="row m-row--no-padding m-row--col-separator-xl">
                        <div class="col-md-12 col-lg-12 col-xl-4">
                            <!--begin:: Widgets/Stats2-1 -->
                            <div class="m-widget1">
                                <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col">
                                            <h3 class="m-widget1__title" th:text="#{label.collection.phase.start.date}"></h3>
                                            <span class="m-widget1__desc m--font-brand" th:text="${#dates.format(phase.startDate, 'dd.MM.yyyy')}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col">
                                            <h3 class="m-widget1__title" th:text="#{label.collection.phase.paid}"></h3>
                                            <span class="m-widget1__desc m--font-brand" th:text="${#numbers.formatDecimal(phase.paid, 0, 'DEFAULT', 2, 'DEFAULT')}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col">
                                            <h3 class="m-widget1__title" th:text="#{label.collection.phase.start.amount}"></h3>
                                            <span id="startAmount" class="m-widget1__desc m--font-brand" th:text="${#numbers.formatDecimal(phase.start_amount, 0, 'DEFAULT', 2, 'DEFAULT')}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col">
                                            <h3 class="m-widget1__title" th:text="#{label.collection.phase.remainder}"></h3>
                                            <span class="m-widget1__desc m--font-brand" th:text="${#numbers.formatDecimal(remainder, 0, 'DEFAULT', 2, 'DEFAULT')}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col">
                                            <h3 class="m-widget1__title" th:text="#{label.collection.phase.doc.number}"></h3>
                                            <span class="m-widget1__desc m--font-brand" th:text="${phase.docNumber}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col">
                                            <h3 class="m-widget1__title" th:text="#{label.phase.paymentFromDate}"></h3>

                                            <button th:if="${phase.paymentFromDate!=null}" data-toggle="modal" data-target="#paymentFromDateModal" class="m-widget1__desc m--font-brand" th:text="${#dates.format(phase.paymentFromDate,'dd.MM.yyyy')}"></button>
                                            <button th:unless="${phase.paymentFromDate!=null}" data-toggle="modal" data-target="#paymentFromDateModal" class="m-widget1__desc m--font-brand" th:text="#{label.phase.setPaymentFromDate}"></button>
                                        </div>
                                    </div>
                                    <!-- Modal -->
                                    <div id="paymentFromDateModal" class="modal" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <form>
                                                    <div class="modal-body">
                                                        <div class="form-group m-form__group row">
                                                            <label class="col-form-label col-lg-4 col-sm-12">
                                                                <span th:text="#{label.phase.paymentFromDate}"></span>
                                                            </label>
                                                            <div class="col-lg-4 col-md-9 col-sm-12">
                                                                <div class="input-group date m_datetimepicker_6">
                                                                    <input id="paymentFromDate" type="text" class="form-control m-input" th:placeholder="#{label.select.date}" th:value="${#dates.format(phase.paymentFromDate,'dd.MM.yyyy')}"/>
                                                                    <span class="input-group-addon">
                                                            <i class="la la-calendar glyphicon-th"></i>
                                                        </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button onclick="savePhasePaymentFromDate()" type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                    <!--end Modal-->
                                </div>

                            </div>
                            <div class="m-widget1">
                                <div class="m-widget1__item" th:if="${phase.close_amount!= null}">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col"  >
                                            <h3 class="m-widget1__title" th:text="#{label.collection.phase.close.amount}"></h3>
                                            <span class="m-widget1__desc m--font-brand"th:text="${#numbers.formatDecimal(phase.close_amount, 0, 'DEFAULT', 2, 'DEFAULT')}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-widget1__item" th:if="${phase.resultDocNumber!= null}">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col" >
                                            <h3 class="m-widget1__title" th:text="#{label.collection.phase.resultDocNumber}"></h3>
                                            <span class="m-widget1__desc m--font-brand" th:text="${phase.resultDocNumber}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Stats2-1 -->
                        </div>

                        <div class="col-md-12 col-lg-12 col-xl-4">
                            <!--begin:: Widgets/Stats2-2 -->

                            <input id="phaseId" hidden="hidden" type="text" name="id" th:value="${phase.id}">
                            <div class="m-widget1">
                                <div class="modal fade" id="confirmModal" tabindex="-1"
                                     role="dialog" aria-labelledby="myModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="m-alert m-alert--icon m-alert--outline alert alert-primary" role="alert" >
                                                <div class="m-alert__icon">
                                                    <i class="la la-warning"></i>
                                                </div>
                                                <div class="m-alert__text" >
                                                    <strong>Уверенны?</strong>
                                                </div>
                                                <div class="m-alert__actions" style="width: 200px;">
                                                    <!--<form>-->
                                                        <div class="col">
                                                            <button onclick="deletePhase()" class="btn btn-brand btn-sm m-btn m-btn--pill m-btn--wide mb-2" data-dismiss="modal" type="submit" th:text="#{label.phase.delete}"></button>
                                                            <button class="btn btn-danger btn-sm m-btn m-btn--pill m-btn--wide"  type="button" th:text="#{label.cancel}" data-dismiss="modal"></button>
                                                        </div>
                                                    <!--</form>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a id="deleter" sec:authorize="hasAnyAuthority('ADMIN','PERM_UPDATE_COLLECTIONPHASE')" data-remote="false" data-toggle="modal"
                                   data-target="#confirmModal" role="button" class="btn btn-outline-danger" th:text="#{label.phase.delete}"></a>
                                <div id="type_content"></div>
                                <div id="status_content"></div>
                                <div id="proc_status_content"></div>
                                <div id="group_content"></div>
                                <div id="index_content"></div>
                                <div id="index2_content"></div>
                                <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col-md-7">
                                            <h3 class="m-widget1__title" th:text="#{label.collection.phase.edit}"></h3>
                                            <button id="edit_btn" data-toggle="modal" data-target="#editModal" class="m-widget1__desc m--font-brand" th:text="#{label.collection.phase.edit}"></button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div id="editModal" class="modal" role="dialog" >
                                    <div class="modal-dialog modal-full modal-lg">

                                        <!-- Modal content-->
                                        <div id="edit_content"></div>

                                    </div>
                                </div>
                                <a sec:authorize="hasAnyAuthority('ADMIN','PERM_UPDATE_COLLECTIONPHASE')" data-remote="false" data-toggle="modal"
                                   data-target="#confirmChangeRecordModal" role="button" class="btn btn-outline-danger" th:text="#{label.phase.changeRecord}"></a>
                                <div class="modal" id="confirmChangeRecordModal" tabindex="-1"
                                     role="dialog" aria-labelledby="myModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="m-alert m-alert--icon m-alert--outline alert alert-primary" role="alert" >
                                                <div class="m-alert__icon">
                                                    <i class="la la-warning"></i>
                                                </div>
                                                <div class="m-alert__text" >
                                                    <strong>Уверенны?</strong>
                                                </div>
                                                <div class="m-alert__actions" style="width: 200px;">
                                                    <!--<form method="post" >-->
                                                        <div class="row">
                                                            <button onclick="changeRecordStatus()" class="btn btn-brand btn-sm m-btn m-btn--pill m-btn--wide mb-2" data-dismiss="modal" th:text="#{label.phase.change.recordStatus}"></button>
                                                            <button class="btn btn-danger btn-sm m-btn m-btn--pill m-btn--wide"  type="button" th:text="#{label.back}" data-dismiss="modal"></button>
                                                        </div>
                                                    <!--</form>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Stats2-2 -->
                        </div>

                        <div class="col-md-12 col-lg-12 col-xl-4">
                            <!--begin:: Widgets/Stats2-2 -->
                            <div class="m-widget1">
                                <div class="m-widget1__item">
                                    <span id="phaseSpanDescription" class="m-widget1__desc m--font-brand" th:placeholder="#{label.description}" th:text="${phase.description}"></span>
                                    <textarea rows="5" id="phaseTxtDescription" class="form-control" onblur="savePhaseDescription()"></textarea>
                                </div>
                            </div>
                            <!--begin:: Widgets/Stats2-2 -->

                        </div>
                    </div>
                </div>
            </div>
            <div id="debtorInfo" class="tab-pane" >
                <div id="information_content"></div>
            </div>
            <div id="phaseEvent" class="tab-pane" >
                <div id="event_content"></div>
            </div>
            <div id="phasePayment" class="tab-pane" >
                <div id="payment_content"></div>
            </div>
            <div id="phaseComputation" class="tab-pane" >
                <div id="computation_content"></div>
            </div>
        </div>
    </div>

</div>
<script th:inline="javascript">
    var newIndexId=[[${indexId}]];
    if (newIndexId){
        indexId=newIndexId;
    }

    $('.my-select').selectpicker();

    var pId=$("#phaseId").val();


    contentLoad();
    // load phase information htmls
    function contentLoad() {
        var stUrl ="/phase/"+pId+"/getStatus";
        var tUrl ="/phase/"+pId+"/getType";
        var pSUrl ="/phase/"+pId+"/getProcedureStatus";
        var gUrl ="/phase/"+pId+"/getGroup";
        var iUrl ="/phase/"+pId+"/getIndex";
        var i2Url ="/phase/"+pId+"/index/"+indexId+"/getIndex2";

        $.get(stUrl, function(data) {

            $('#status_content').html(data);
        });

        $.get(tUrl, function(data) {

            $('#type_content').html(data);
        });

        $.get(pSUrl, function(data) {

            $('#proc_status_content').html(data);
        });


        if(phaseTypeId==13){
            $.get(gUrl, function(data) {

                $('#group_content').html(data);
            });

            $.get(iUrl, function(data) {

                $('#index_content').html(data);
            });

            $.get(i2Url, function(data) {

                $('#index2_content').html(data);
            });
        }
    }


    // reload information content
    function reloadContent(){
        $.get(contentUrl, function(data) {
            $('#content').html(data);
        });
    }

    // update status, reload content
    function savePhaseStatus() {
        var pSt=$("#statusOfPhase :selected").val();
        var pDate=$("#dateOfPhase").val();
        var pResDoc=$("#resultDocOfPhase").val();
        $.ajax({
            type:'post',
            data:{id:pId,stat:pSt,date:pDate,res:pResDoc},
            url:"/phaseStatus/instantUpdate",
            success:function (data) {
                reloadContent();
            }
        });
    }

    // update procedure status, reload content
    function savePhaseProcStatus() {
        var pDate=$("#dateOfProc").val();
        var pSt=$("#procStatusOfPhase :selected").val();
        $.ajax({
            type:'post',
            data:{id:pId,stat:pSt,date:pDate},
            url:"/phaseProcStatus/instantUpdate",
            success:function (data) {
                reloadContent();
            }
        });
    }

    // update group, reload content
    function savePhaseGroup() {
        var dataId=$("#groupOfPhase :selected").val();
        $.ajax({
            type:'post',
            data:{id:pId,data:dataId},
            url:"/phaseGroup/instantUpdate",
            success:function (data) {
                reloadContent();
            }
        });
    }

    // update index, reload content
    function savePhaseIndex() {
        var dataId=$("#indexOfPhase :selected").val();
        indexId=dataId;
        $.ajax({
            type:'post',
            data:{id:pId,data:dataId},
            url:"/phaseIndex/instantUpdate",
            success:function (data) {
                reloadContent();
            }
        });
    }

    // update index2, reload content
    function savePhaseIndex2() {
        var dataId=$("#index2OfPhase :selected").val();
        $.ajax({
            type:'post',
            data:{id:pId,data:dataId},
            url:"/phaseIndex2/instantUpdate",
            success:function (data) {
                reloadContent();
            }
        });
    }

    // update paymentFromDate, reload content
    function savePhasePaymentFromDate() {
        var dataId=$("#paymentFromDate").val();
        $.ajax({
            type:'post',
            data:{id:pId,data:dataId},
            url:"/phasePaymentFromDate/instantUpdate",
            success:function (data) {
                reloadContent();
            }
        });
    }

    // hide/show phase description fields
    if($("#phaseSpanDescription").text()=="" || $("#phaseSpanDescription").text()==null){
        $("#phaseSpanDescription").text("Примечание")
        $("#phaseTxtDescription").val();
    }
    else{
        $("#phaseTxtDescription").val($("#phaseSpanDescription").text());
    }
    $("#phaseTxtDescription").hide();
    $("#phaseSpanDescription").on("click",function () {
        $("#phaseTxtDescription").show();

        $(this).hide();
    });

    // edit/add phaseDescription
    function savePhaseDescription(){
        var txtAreaData=$('#phaseTxtDescription').val();
        $.ajax({
            type:'post',
            data:{id:pId,data:txtAreaData},
            url:"/phaseDescription/save",
            success:function () {
                $('#phaseTxtDescription').val("");
                reloadContent();
            }
        });
    }
    // main tab
    $("#mainFunction").on("click",function () {
        $("#phaseEvent").hide();
    });

    //load person tab
    $("#debtorInfoFunction").on("click",function () {
        var contentUrl="/owner/"+ownerId+"/getInformation";
        $("#phaseEvent").hide();

        $.get(contentUrl, function(data) {

            $('#information_content').html(data);
        });
    });

    // load phase events
    $("#phaseEventFunction").on("click",function () {
        var eventUrl="/phase/"+pId+"/getEvents";
        $("#phaseEvent").show();

        $.get(eventUrl, function(data) {

            $('#event_content').html(data);
        });
    });

    // loan payments tab
    $("#phasePaymentFunction").on("click",function () {
        var paymentUrl="/phase/"+pId+"/getPayments";
        $("#phasePayment").show();
        $.get(paymentUrl, function(data) {

            $('#payment_content').html(data);
        });
    });

    // loan computation tab
    $("#phaseComputationFunction").on("click",function () {
        var computationUrl="/phase/"+pId+"/getComputation";
        $("#phaseComputation").show();
        $.get(computationUrl, function(data) {

            $('#computation_content').html(data);
        });
    });

    // save state of tabs
    var listOfTabs=['#debtorInfo','#main','#phaseEvent','#phaseComputation','#phasePayment'];
    var tabName;
    $(document).ready(function() {
        if (sessionStorage.getItem("phaseTab")) {
            tabName=sessionStorage.getItem("phaseTab");
            $("a[href='" + tabName + "']").tab("show");
            $(tabName.toString()+"Function").click();
            $(window).on("popstate", function() {
                var anchor = tabName || $("a[data-toggle='tab']").first().attr("href");
                $("a[href='" + anchor + "']").tab("show");
            });
        }
        $(document.body).on("click", "a[data-toggle]", function(event) {
            if(listOfTabs.includes(this.getAttribute("href"))){
                var tabName1 = this.getAttribute("href");
                sessionStorage.setItem("phaseTab",tabName1);
            }
        });
    });

    // show/hide delete button
    $("#deleter").hide();
    if(phaseTypeId==1){
        $("#deleter").show();
    }

    // delete phase if phaseTypeId==1
    function deletePhase() {
        $.ajax({
            type: "post",
            data: {id: pId},
            url: "/delete/phase/phaseType1",
            success:function (data) {
                location.reload();
            }
        });
    }

    // change record status
    function changeRecordStatus() {
        $.ajax({
            type:"post",
            data:{id:pId},
            url:"/phase/changeRecordStatus",
            success:function (data) {
                reloadContent();
            }
        });
    }

    // edit phase
    $("#edit_btn").on("click",function () {
        var editUrl="/phase/"+pId+"/getEdit";
        $.get(editUrl, function(data) {
            $('#edit_content').html(data);
        });
    });

    // make start amount red if record status ==2
    if([[${phaseRecordStatus}]]==2){
        $("#startAmount").addClass("alert alert-danger");
    }
    else{
        $("#startAmount").removeClass("alert alert-danger");
    }

    // Payments sums
    var sumOfPTotal=0.0;
    var sumOfPPrincipal=0.0;
    var sumOfPInterest=0.0;
    var sumOfPPenalty=0.0;

</script>
<!--end::Portlet-->
</div>