<div xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="modal-content">
        <!--begin::Form-->
        <form id="editForm" th:action="@{/collectionphase/save}" th:object="${phase}" method="post" class="m-form m-form--fit m-form--label-align-right">

            <div class="modal-body">
                <input type="hidden" th:field="*{id}"/>
                <div class="m-portlet__body">
                    <div class="m-form__section">

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                <span th:text="#{label.collection.phase.startDate}"></span>
                            </label>
                            <div class="col-lg-4 col-md-9 col-sm-12">
                                <div class="input-group date m_datetimepicker_6">
                                    <input type="text" class="form-control m-input"  th:placeholder="#{label.select.date}" th:field="*{startDate}"/>
                                    <span class="input-group-addon">
                                                        <i class="la la-calendar glyphicon-th"></i>
                                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12">
                                <span th:text="#{label.collection.phase.type}"></span>
                                <span class="m--font-danger">*</span>
                            </label>
                            <div class="col-lg-4 col-md-9 col-sm-12">
                                <select class="form-control m-bootstrap-select m_selectpicker" th:field="*{phaseType}">
                                    <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12" th:text="#{label.agreement.loans}">
                                Loans <span class="m--font-danger">*</span>
                            </label>
                            <div class="col-lg-4 col-md-9 col-sm-12">
                                <select id="loanses" name="loanses" class="form-control m-bootstrap-select m_selectpicker" multiple>
                                    <option th:each="loan : ${tLoans}"
                                            th:value="${loan.id}"
                                            th:text="${loan.regNumber}"
                                            th:selected="${loanIds.contains(loan.id)}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-4 col-sm-12" th:text="#{label.collection.phase.docNumber}">
                                <span class="m--font-danger">*</span>
                            </label>
                            <div class="col-lg-4 col-md-9 col-sm-12">
                                <input type="text" class="form-control m-input" th:field="*{docNumber}">
                            </div>
                        </div>

                        <table id="phaseDetailsTable" >
                            <thead id="secondTableHead">
                            <th>#</th>
                            <th ></th>
                            <th>Регистрационный номер</th>
                            <th>Итого</th>
                            <th>По осн.с.</th>
                            <th>По проц.</th>
                            <th>По штр.</th>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button th:text="#{label.cancel}" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button th:text="#{label.save}" onclick="editPhase()" type="button" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
        </form>
        <!--end::Form-->
    </div>
    <!--end Modal-->
    <!--begin::Page Resources -->
    <script th:src="@{/assets/custom/demo/default/custom/components/forms/widgets/bootstrap-datetimepicker.js}" type="text/javascript"></script>
    <script th:src="@{/assets/custom/demo/default/custom/components/forms/widgets/bootstrap-select.js}" type="text/javascript"></script>
    <!--end::Page Resources -->
    <script th:inline="javascript">
        var editTable;
        var loans = /*[[${loanIds}]]*/ [];
        var phaseLoanIds=JSON.stringify(loans);

        function dt(info) {
            // console.log(info);
            editTable=$('#phaseDetailsTable').DataTable( {
                "columnDefs": [
                    { "orderable": false, "targets": [0,1,2,3,4,5,6] }
                ],
                "order": [],
                data: info,
                "dom": '',
                columns: [
                    { data: 'loanId'},
                    { data: 'id',
                        render: function (data, type, row) {
                            return '\
						<input hidden="hidden" type="text" id="id' + row.loanId+ '" value="' + (row.id) + '">\
					';
                        }
                    },
                    { data: 'loanRegNumber' },
                    {
                        data: 'startTotalAmount',
                        render: function (data, type, row) {
                            return '\
						<input type="text" class="form-control m-input p-2" id="total' + row.loanId + '" value="' + (row.startTotalAmount).toFixed(2) + '" disabled>\
					';
                        }
                    },
                    { data: 'startPrincipal' ,
                        render: function ( data, type, row ) {
                            return '\
						<input type="text" class="form-control m-input p-2" id="startPrinc' + row.loanId + '" value="' + (row.startPrincipal).toFixed(2)+ '">\
					';
                        }
                    },
                    { data: 'startInterest',
                        render: function ( data, type, row ) {
                            return '\
						<input type="text" class="form-control m-input p-2" id="startInt' + row.loanId + '" value="' + (row.startInterest).toFixed(2)+ '">\
					';
                        }
                    },
                    { data: 'startPenalty',
                        render: function ( data, type, row ) {
                            return '\
						<input type="text" class="form-control m-input p-2" id="startPen' + row.loanId + '" value="' + (row.startPenalty).toFixed(2)+ '">\
					';
                        }
                    }
                ]
            } );
        }
        function tableLoader(tt){
            $.ajax({
                type : 'POST',
                url : "/collectionPhase/"+pId+"/getPhaseDetails",
                data: {selectedLoans:tt},
                success:function (datas) {
                    var data = JSON.parse(datas);
                    console.log(data)
                    console.log(Object.keys(data).length ==0)
                    /*if(Object.keys(data).length == 0){
                        editTable.destroy();
                    }
                    else {
                        dt(data);
                    }*/
                    dt(data);
                    var saver=function(){
                        var phaseDetailsModels = [];
                        for (var i = 0; i < data.length; i++) {
                            var obj = data[i];
                            $.map(obj, function(val, key) {
                                if(key=='loanId')
                                {
                                    var PhaseDetailsModel = {};
                                    var detId="#id" + val;
                                    var startPrincInput ="#startPrinc" + val;
                                    var startIntInput ="#startInt" + val;
                                    var startPenInput ="#startPen" + val;
                                    var totalInput = "#total" + val;

                                    PhaseDetailsModel['loanId'] = val;
                                    PhaseDetailsModel['id'] = ($(detId).val());
                                    PhaseDetailsModel['startPrincipal'] = parseFloat($(startPrincInput).val());
                                    PhaseDetailsModel['startInterest'] = parseFloat($(startIntInput).val());
                                    PhaseDetailsModel['startPenalty'] = parseFloat($(startPenInput).val());
                                    PhaseDetailsModel['startTotalAmount'] = parseFloat($(totalInput).val());
                                    // PhaseDetailsModel['initDate'] = d;
                                    phaseDetailsModels.push(PhaseDetailsModel);
                                }
                            });
                            console.log(phaseDetailsModels);
                        }
                        // console.log(phaseDetailsModels);
                        phaseDetailsModels = JSON.stringify({
                            'phaseDetailsModels' : phaseDetailsModels
                        });
                        $.ajax({
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            type : 'POST',
                            url : "/collectionPhase/savePhaseDetails",
                            data: phaseDetailsModels,
                            dataType: 'json'
                        });
                    };
                    saver();
                    for (var i = 0; i < data.length; i++) {
                        var obj = data[i];
                        $.map(obj, function(val, key) {

                            if(key=="loanId"){
                                // alert(key+" : "+val);
                                var startPrincInput ="#startPrinc" + val;
                                var startIntInput ="#startInt" + val;
                                var startPenInput ="#startPen" + val;
                                var totalInput = "#total" + val;

                                $(startPrincInput).on('input', function () {
                                    if($(startPrincInput).val()[$(startPrincInput).val()-1]!='.')
                                        updateTotal();
                                });

                                $(startIntInput).on('input', function () {
                                    if($(startIntInput).val()[$(startIntInput).val()-1]!='.')
                                        updateTotal();
                                });

                                $(startPenInput).on('input', function () {
                                    if($(startPenInput).val()[$(startPenInput).val()-1]!='.')
                                        updateTotal();
                                });

                                function updateTotal() {
                                    var sum = 0.0;
                                    sum = ((parseFloat($(startPrincInput).val()) + parseFloat($(startIntInput).val()) + parseFloat($(startPenInput).val())));
                                    $(totalInput).val(sum.toFixed(2));
                                    saver();
                                }
                            }
                        });
                    }
                    // var divT = $('#phaseDetailsDiv');
                    // divT.collapse('show');
                    // mApp.scrollTo(divT, -200);
                }
            });
        }
        tableLoader(phaseLoanIds);
        $("#loanses").on("change",function () {
            var selectedOptions=$("#loanses").val();
            var oo=JSON.stringify(selectedOptions);
            console.log(oo)
            editTable.destroy();
            tableLoader(oo);
        });

        function editPhase() {
            $.ajax({
                type: 'POST',
                data: $('#editForm').serialize(),
                url: $('#editForm').attr('action'),
                success: function(data) {
                    reloadContent();
                },
            });
        }
    </script>
</div>