<div xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="m-widget1__item">
        <div class="row m-row--no-padding align-items-center">
            <div class="col-md-7">
                <h3 class="m-widget1__title" th:text="#{label.collection.phase.status}"></h3>
                <button data-toggle="modal" data-target="#statusModal" class="m-widget1__desc m--font-brand" th:text="${status.name}"></button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="statusModal" class="modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form th:object="${phase}">
                    <div class="modal-body">
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-4 col-sm-12">
                                    <span th:text="#{label.collection.phase.closeDate}"></span>
                                </label>
                                <div class="col-lg-7 col-md-9 col-sm-12">
                                    <div class="input-group date m_datetimepicker_6">
                                        <input id="dateOfPhase" type="text" class="form-control m-input" th:placeholder="#{label.select.date}" th:field="*{closeDate}" />
                                        <span class="input-group-addon">
                                                            <i class="la la-calendar glyphicon-th"></i>
                                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-4 col-sm-12">
                                    <span th:text="#{label.collection.phase.status}"></span>
                                    <span class="m--font-danger">*</span>
                                </label>
                                <div class="col-lg-7 col-md-9 col-sm-12">
                                    <select id="statusOfPhase" class="form-control m-bootstrap-select m_selectpicker" th:field="*{phaseStatus.id}" th:title="#{label.select}">
                                        <option th:each="status : ${statuses}" th:value="${status.id}" th:text="${status.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-4 col-sm-12" th:text="#{label.collection.phase.resultDocNumber}">
                                    <span class="m--font-danger">*</span>
                                </label>
                                <div class="col-lg-7 col-md-9 col-sm-12">
                                    <input id="resultDocOfPhase" type="text" class="form-control m-input" th:field="*{resultDocNumber}">
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button onclick="savePhaseStatus()" type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!--end Modal-->

</div>