/*************** login page ***********/

.login-bg {
	background: #2e6284;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__head .m-login__title {
	color: #ffffff;
	text-align: center;
	font-size: 1.8rem;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control, .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control.m-login__form-input--last {
	border-radius: 2px;
	border: 1px solid #c57171;
	padding: 1.5rem 1.5rem;
	margin-top: 1.5rem;
	font-size: 18px;
	font-weight: 900;
	color: #5b6f7c;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form {
	margin: 1rem auto;
}

.m-login__form-action .m-login__btn {
	font-weight: bold;
	font-size: 17px;
	margin-top: 0;

	display: inline-block;
	text-align: center;
	padding: 1.5rem 4rem;

	color: #fff;
	background-color: #4384b3;
	border-color: #6ba9a8;
}


/*************** main page ***********/


.m-stack.m-stack--desktop.m-stack--ver > .m-stack__item {
	background: #2e6284;
}

.m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text, .m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--hover > .m-menu__link .m-menu__link-text,
.m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link > .m-menu__hor-arrow, .m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--hover > .m-menu__link > .m-menu__hor-arrow,
.m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav > .m-menu__item .m-menu__submenu > .m-menu__subnav > .m-menu__item > .m-menu__link .m-menu__link-text, .m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav > .m-menu__item .m-menu__submenu > .m-menu__subnav > .m-menu__item.m-menu__item--hover > .m-menu__link .m-menu__link-text{
	color: #ffffff;
	font-weight: 700;
	font-size: 14px;
}


.m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav > .m-menu__item .m-menu__submenu > .m-menu__subnav {
	background-color: #003050;
}


.m-header-menu .m-menu__nav > .m-menu__item .m-menu__submenu.m-menu__submenu--classic > .m-menu__subnav {
	padding: 5px 5px;
	margin: 0px 10px;
}

.m-header-menu .m-menu__nav > .m-menu__item .m-menu__submenu > .m-menu__subnav > .m-menu__item > .m-menu__link {
	padding: 8px 0px;
}


.m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav.m-menu__nav--submenu-arrow > .m-menu__item.m-menu__item--submenu.m-menu__item--hover > .m-menu__submenu .m-menu__arrow {
	color: #2e6284;
}





.m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item:hover > .m-menu__link .m-menu__link-text, .m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--hover > .m-menu__link .m-menu__link-text,
.m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav > .m-menu__item .m-menu__submenu > .m-menu__subnav > .m-menu__item:hover > .m-menu__link .m-menu__link-text, .m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav > .m-menu__item .m-menu__submenu > .m-menu__subnav > .m-menu__item.m-menu__item--hover > .m-menu__link .m-menu__link-text{
	color: #5eb95e;
	text-decoration: underline;
}
.m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item:hover > .m-menu__link > .m-menu__hor-arrow, .m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--hover > .m-menu__link > .m-menu__hor-arrow
{
	color: #000;
}
/*.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-nav__link-icon > i:before {*/
	/*background: #000;*/
/*}*/





.m-header {
	height: 20px;
}
.m-brand .m-brand__logo, .m-brand .m-brand__tools {
	height: 20px !important;
}


/* sidebar */

.m-aside-left.m-aside-left--skin-dark {
	background-color: #003050;
}

.m-aside-left--minimize .m-aside-menu .m-menu__nav {
	padding: 20px 0 20px 0;
}

.m-aside-left--minimize .m-aside-left {
	width: 50px;
}

.m-header--fixed .m-body {
	padding-top: 35px !important;
}

.m-brand .m-brand__logo .m-brand__logo-wrapper {
	color: #fff;
}


/* datatable */

.m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell, .m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__foot .m-datatable__row > .m-datatable__cell,
.thead-default th{
	background: #4d728a;
}


.m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell > span, .m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__foot .m-datatable__row > .m-datatable__cell > span {
	font-weight: 800;
}
.m-datatable.m-datatable--default.m-datatable--loaded > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell, .m-datatable.m-datatable--default.m-datatable--loaded > .m-datatable__table > .m-datatable__body .m-datatable__row > .m-datatable__cell, .m-datatable.m-datatable--default.m-datatable--loaded > .m-datatable__table > .m-datatable__foot .m-datatable__row > .m-datatable__cell{
	border-bottom: 1px solid #c8cfd4;
}

.m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__body .m-datatable__row.m-datatable__row--even > .m-datatable__cell {
	background: #eaeaea;
}


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
	background: #3e8a9e;
	border-color: #0a6aa1;
}



a{
	font-weight: 500;
}
a:hover{
	font-weight: 800;
}



.m-input-icon.m-input-icon--left .form-control,
.m-bootstrap-select.bootstrap-select.btn-group.m-bootstrap-select--solid > .dropdown-toggle,
.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group > .btn, .input-group-btn:not(:last-child) > .dropdown-toggle, .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn,
.input-group .input-group-addon
{
	border: 1px solid #6c92ce;
	background-color: #f1fbff;
}

.form-control {
	background-color: #f1fbff;
	color: #000000;
	border: 1px solid #6c92ce;
}





.m-input-icon.m-input-icon--left .form-control::placeholder,
.bootstrap-select.btn-group .dropdown-toggle .filter-option,
.input-group .form-control::placeholder
{
	color: #000000;
	font-weight: 600;
}

.m-input-icon.m-input-icon--left .form-control, .m-bootstrap-select.bootstrap-select.btn-group.m-bootstrap-select--solid > .dropdown-toggle, .input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group > .btn, .input-group-btn:not(:last-child) > .dropdown-toggle, .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn, .input-group .input-group-addon::placeholder {
	font-weight: 600;
	color: #000000;
}



.m-grid.m-grid--ver-desktop.m-grid--desktop > .m-grid__item.m-grid__item--fluid {
	background-color: #cccccc;
}






.m--font-primary {
	color: #127eb5 !important;
}

/*.m--font-brand {*/
	/*color: #0456f9 !important;*/
/*}*/


.nav-tabs {
	border-bottom: 1px solid #c3c3c3;
}

.nav.nav-pills .nav-link, .nav.nav-tabs .nav-link {
	font-size: 0.9em;
}

.m-widget1 .m-widget1__item .m-widget1__title {
	font-size: 11px;
	font-weight: 400;
	color: #777777;
}

.m-widget1 .m-widget1__item .m-widget1__desc {
	margin-top: 4px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.25;
}


.m-widget1 {
	padding: 8px;
	background: #ffffff;
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
	font-size: 16px;
	text-align: center;
}



/*.bootstrap-select.btn-group .dropdown-menu.inner > li > a .text {*/
	/*color: #ffffff;*/
/*}*/

/*.dropdown-menu {*/
	/*background-color: #f1fbff;*/
/*}*/