<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- begin::Head -->
<head>
	<title th:text="#{label.entityDocument.title}"></title>

	<div th:replace="fragments/header :: header-css"/>
</head>
<!-- end::Head -->

<!-- end::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
	<!-- BEGIN: Header -->
	<div th:replace="layout/header"/>
	<!-- END: Header -->
	<!-- begin::Body -->
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
		<!-- BEGIN: Left Aside -->
		<div th:replace="layout/sidebar"/>
		<!-- END: Left Aside -->
		<div class="m-grid__item m-grid__item--fluid m-wrapper">
			<div class="m-content">
				<!--begin::Portlet-->
				<div class="m-portlet m-portlet--full-height">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text" th:text="${ed.registeredNumber}"></h3>
							</div>
						</div>
					</div>
					<div class="m-portlet__body m-portlet__body--no-padding">
						<div class="row m-row--no-padding m-row--col-separator-xl">
							<div class="col-md-12 col-lg-12 col-xl-4">
								<!--begin:: Widgets/Stats2-1 -->
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">ID</h3>
												<span class="m-widget1__desc m--font-brand" th:text="${ed.id}"></span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.entityDocument.name}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${ed.name}"></span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.entityDocument.completedBy}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${ed.completedBy}"></span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.entityDocument.completedDate}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${ed.completedDate}"></span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.entityDocument.completedDescription}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${ed.completedDescription}"></span>
											</div>
										</div>
									</div>
								</div>
								<!--end:: Widgets/Stats2-1 -->
							</div>
							<div class="col-md-12 col-lg-12 col-xl-4">
								<!--begin:: Widgets/Stats2-2 -->
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.entityDocument.approvedBy}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${ed.approvedBy}"></span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.entityDocument.approvedDate}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${ed.approvedDate}"></span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.entityDocument.approvedDescription}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${ed.approvedDescription}"></span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.entityDocument.registeredNumber}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${ed.registeredNumber}"></span>
											</div>
										</div>
									</div>
								</div>
								<!--begin:: Widgets/Stats2-2 -->
							</div>
							<div class="col-md-12 col-lg-12 col-xl-4">
								<!--begin:: Widgets/Stats2-3 -->
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.entityDocument.registeredDate}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${ed.registeredDate}"></span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.entityDocument.registeredBy}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${ed.registeredBy.name}"></span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.entityDocument.registeredDescription}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${ed.registeredDescription}"></span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.entityDocument.state}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${ed.entityDocumentState.name}"></span>
											</div>
										</div>
									</div>
								</div>
								<!--begin:: Widgets/Stats2-3 -->
							</div>
						</div>
					</div>
				</div>
				<!--end::Portlet-->

			</div>
		</div>
	</div>
	<!-- end:: Body -->
	<!-- begin::Footer -->
	<div th:replace="layout/footer"/>
	<!-- end::Footer -->
</div>
<!-- end:: Page -->

<div th:replace="fragments/footer :: footer-js"/>

</body>
<!-- end::Body -->
</html>