<div class="m-content">
	<div class="m-portlet">
		<div class="m-portlet__body">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item">
					<a th:text="#{label.information.tab}" class="nav-link active" data-toggle="tab" href="#informationListOfSystem">
						Информация
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="informationListOfSystem" role="tabpanel">
					<table class="table" id="districtTable">
						<thead class="thead-default">
						<tr>
							<th th:text="#{label.information.table.id}">Id</th>
							<th th:text="#{label.information.table.name}">Name</th>
							<!--<th th:text="#{label.information.table.description}">Descriontion</th>-->
							<th>&nbsp;</th>
						</tr>
						</thead>

						<tbody>

						<tr th:each="informationInList : ${informationList}">
							<td th:text="${informationInList.id}">Id</td>
							<td th:text="${informationInList.name}">Name</td>
							<!--<td th:text="${informationInList.description">Code</td>-->
							<td class="table-actions text-right">
								<span>
									<div class="dropdown">
										<a href="#" class="btn m-btn m-btn--hover-metal m-btn--icon m-btn--icon-only m-btn--pill btn-dropdown" data-toggle="dropdown">
											<i class="la la-ellipsis-h"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item"
											   th:href="@{/information/__${informationInList.id}__/details}"
											   role="button">
												<span th:text="#{label.table.view}"></span>
											</a>
											<a sec:authorize="hasAnyRole('ADMIN','PERM_UPDATE_INFORMATION')" class="dropdown-item"
											   th:href="@{/information/__${informationInList.id}__/edit}"
											   data-toggle="modal"
											   data-target="#informationFormModal">
												<span th:text="#{label.table.edit}"></span>
											</a>
											<a hidden="hidden" class="dropdown-item" href="#">
												<span>
													<form th:action="@{/information/__${informationInList.id}__/remove}" method="post">
														<input hidden="true" type="text" id="id" name="id" th:value="${informationInList.id}" />
														<button type="submit" class="btn btn-reset" th:text="#{label.table.delete}"></button>
													</form>
												</span>
											</a>
										</div>
									</div>
								</span>
							</td>
						</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>
</div>