<form th:action="@{/currencyRate/save}" th:object="${currencyRate}"
	  class="form-horizontal" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
	<div class="modal-header">
		<h5 class="modal-title" th:text="#{label.add.currencyRate}"></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="body">
			<div class="form-group  margin-top-20">
				<label class="col-form-label col-lg-4 col-sm-12">
					<span th:text="Rate"></span>
					<span class="m--font-danger">*</span>
				</label>
				<div class="col-md-4">
					<input hidden="true" type="text" id="id" name="id"
						th:field="*{id}" />



					<div class="input-icon right">
						<i class="fa"></i> <input type="text" class="form-control"
							name="name" th:field="*{rate}" />
					</div>
					
					
				</div>
			</div>

			<div class="form-group">
-				<label class="col-form-label col-lg-4 col-sm-12">
				<span th:text="Currency"></span>
				<span class="m--font-danger">*</span>
			</label>
				<div class="col-md-4">
					<select class="form-control" th:field="${currencyRate.currency.id}"  id="currency">
						<option th:each="curr : ${currencies}" th:value="${curr.id}" th:text="${curr.name}"></option>
					</select>
				</div>
			</div>

		<div class="form-group">
			<label class="col-form-label col-lg-4 col-sm-12">
				<span th:text="Date"></span>
				<span class="m--font-danger">*</span>
			</label>
			<div class="col-lg-8 col-md-9 col-sm-12">
				<div class="input-group date m_datetimepicker_6">
					<input type="text" class="form-control m-input" th:placeholder="#{select.date}" name="date"/>
					<span class="input-group-addon">
						<i class="la la-calendar glyphicon-th"></i>
					</span>
				</div>
			</div>
		</div>
		</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{label.currencyRate.button.cancel}"></button>
		<button type="submit" class="btn btn-primary" th:text="#{label.button.save}"></button>
	</div>

	</form>
<script>
    $('#currency').selectpicker('refresh');

    $('.m_datetimepicker_6').datetimepicker({
        format: "dd.mm.yyyy",
        todayHighlight: true,
        autoclose: true,
        startView: 2,
        minView: 2,
        forceParse: 0,
        pickerPosition: 'bottom-left'
    });
</script>
