<form th:action="@{/fixTerm/save}" id="myform" class="form-horizontal" method="post" th:object="${fixTerm}">
	<div class="modal-header">
		<h5 class="modal-title" th:text="#{label.fixTerm.modal.title}"></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">
				&times;
			</span>
		</button>
	</div>

	<div class="modal-body">

		<div class="alert alert-danger alert-dismissible alert-hidden" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
			<span th:text="#{label.fixTerm.modal.error.name}"></span>
		</div>

		<div class="form-group">
			<label for="name" class="form-control-label">Name<span class="required"> * </span></label>
			<input hidden="true" type="text" id="id" name="id" th:field="${objectField.id}" />
			<input hidden="true" type="text" id="objectTypeId" name="objectType.id"
				   th:field="${fixTerm.objectType.id}" />
			<input type="text" class="form-control" id="name" name="name" th:value="${fixTerm.name}">
		</div>

		<div class="form-group ">
			<label for="name" class="form-control-label">Description<span class="required"> * </span></label>
			<input type="text" class="form-control" id="description" name="description" th:value="${fixTerm.description}">
		</div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{label.fixTerm.button.cancel}"></button>
		<button type="submit" class="btn btn-primary" th:text="#{label.fixTerm.button.submit}"></button>
	</div>

</form>