
<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<!-- begin::Head -->
<head>
	<title th:text="#{label.information.page.title}"></title>

	<div th:replace="fragments/header :: header-css"/>

	<link th:href="@{/assets/global/plugins/select2/css/select2-bootstrap.min.css}" rel="stylesheet" type="text/css" />

</head>
<!-- end::Head -->
<!-- end::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-aside-left--minimize m-brand--minimize"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
	<!-- BEGIN: Header -->
	<div th:replace="layout/header"/>
	<!-- END: Header -->

	<!-- begin::Body -->
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
		<!-- BEGIN: Left Aside -->
		<div th:replace="layout/sidebar"/>
		<!-- END: Left Aside -->
		<div class="m-grid__item m-grid__item--fluid m-wrapper">
			<div class="m-content">
				<div class="m-portlet m-portlet--mobile">
					<input hidden="true" type="text" id="information_id"
						   name="information_id" th:value="${information.id}" />
					<input hidden="true" type="text" id="parentInformation_id"
						   name="parentInformation.id" th:value="${information.id}" />
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text" th:text="${information.name}"></h3>
							</div>
						</div>
						<div hidden="hidden" sec:authorize="hasRole('ADMIN')" class="m-portlet__head-tools">
							<ul class="m-portlet__nav">
								<li sec:authorize="hasAnyAuthority('ADMIN','PERM_ADD_INFORMATION')" class="m-portlet__nav-item">
									<a data-remote="false" data-toggle="modal"
									   data-target="#informationFormModal"
									   th:href="@{/information/add}" role="button"
									   class="m-portlet__nav-link btn btn-success m-btn m-btn--air" th:text="#{label.information.add.child}"> Add child information </a>
								</li>
								<li sec:authorize="hasAnyAuthority('ADMIN','PERM_ADD_ATTACHMENT')" class="m-portlet__nav-item">
									<a data-remote="false" data-toggle="modal"
									   data-target="#informationFormModal"
									   th:href="@{/attachment/add}" role="button"
									   class="m-portlet__nav-link btn btn-success m-btn m-btn--air" th:text="#{label.information.add.attachment}"> Add Attachment </a>
								</li>
							</ul>
						</div>
					</div>
					<div class="m-portlet__body">
						<div class="row">
							<div class="col-md-12">
								<div class="tabbable-custom ">


									<ul class="nav nav-tabs " role="tablist" id="organization_tabs">
										<li class="nav-item" ><a class="nav-link m--font-primary active" href="#tab_15_1" data-toggle="tab">
											Приложение </a></li>
										<li class="nav-item" ><a class="nav-link m--font-primary" href="#tab_15_2" data-toggle="tab">
											Основная информация</a></li>


									</ul>
									<div class="tab-content">

										<!--ADDRESS TAB-->
										<div class="tab-pane active" id="tab_15_1">

											<table class="table" id="attachmentTable">
												<thead class="thead-default">


												<thead>
												<tr>
													<th th:text="#{label.id}">Id</th>
													<th th:text="#{label.name}">Name</th>
													<th>&nbsp;</th>
												</tr>
												</thead>

												<tbody>

												<tr th:each="s : ${information.attachment}">
													<td th:text="${s?.id}">Id</td>
													<td th:text="${s?.name}">Name</td>

													<td class="table-actions text-right">
														<span>
															<div class="dropdown">
																<a href="#" class="btn m-btn m-btn--hover-metal m-btn--icon m-btn--icon-only m-btn--pill btn-dropdown" data-toggle="dropdown">
																	<i class="la la-ellipsis-h"></i>
																</a>
																<div class="dropdown-menu dropdown-menu-right">
																	<a class="dropdown-item"
																	   th:href="@{/attachment/__${s.id}__/details}"
																	   role="button">
																		<span th:text="#{label.table.view}"></span>
																	</a>
																	<a sec:authorize="hasAnyAuthority('ADMIN','PERM_UPDATE_ATTACHMENT')" class="dropdown-item"
																	   th:href="@{/attachment/__${s.id}__/edit}"
																	   data-toggle="modal"
																	   data-target="#informationFormModal">
																		<span th:text="#{label.table.edit}"></span>
																	</a>
																	<a hidden="hidden" class="dropdown-item" href="#">
																		<span>
																			<form th:action="@{/attachment/__${s.id}__/remove}" method="post">
																				<button type="submit" class="btn btn-reset" th:text="#{label.table.delete}"></button>
																			</form>
																		</span>
																	</a>
																</div>
															</div>
														</span>
													</td>

												</tr>
												</tbody>

											</table>


										</div>

										<div class="tab-pane" id="tab_15_2">
											<table class="table" id="parentInformationTable">
												<thead class="thead-default">


												<thead>
												<tr>
													<th>Id</th>
													<th>Name</th>
													<th>&nbsp;</th>
												</tr>
												</thead>

												<tbody>

												<tr th:each="s : ${information.childInformation}">
													<td th:text="${s?.id}">Id</td>
													<td th:text="${s?.name}">Name</td>

													<td class="table-actions text-right">
														<span>
															<div class="dropdown">
																<a href="#" class="btn m-btn m-btn--hover-metal m-btn--icon m-btn--icon-only m-btn--pill btn-dropdown" data-toggle="dropdown">
																	<i class="la la-ellipsis-h"></i>
																</a>
																<div class="dropdown-menu dropdown-menu-right">
																	<a class="dropdown-item"
																	   th:href="@{/information/__${s?.id}__/details}"
																	   role="button">
																		<span th:text="#{label.table.view}"></span>
																	</a>





																	<a class="dropdown-item"
																	   th:href="@{/information/__${s?.id}__/edit}"
																	   data-toggle="modal"
																	   data-target="#informationFormModal">
																		<span th:text="#{label.table.edit}"></span>
																	</a>
																	<a class="dropdown-item" href="#">
																		<span>
																			<form th:action="@{/information/attachment/__${s?.id}__}" method="post">
																				<button type="submit" class="btn btn-reset" th:text="#{label.table.delete}"></button>
																			</form>
																		</span>
																	</a>
																</div>
															</div>
														</span>
													</td>

												</tr>
												</tbody>









											</table>
										</div>





									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end:: Body -->
	<!-- begin::Footer -->
	<div th:replace="layout/footer"/>
	<!-- end::Footer -->
</div>

<div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
	<i class="la la-arrow-up"></i>
</div>

<div th:replace="fragments/footer :: footer-js"/>

<script th:src="@{/assets/global/plugins/datatables/datatables.js}" type="text/javascript"></script>

<script
		th:src="@{/assets/global/plugins/datatables/dataTables.keyTable.js}"
		type="text/javascript"></script>

<script
		th:src="@{/assets/global/plugins/select2/js/select2.js}"
		type="text/javascript"></script>


<script th:inline="javascript">

    /*<![CDATA[*/


    $("#informationFormModal").on("show.bs.modal", function(e) {

        var link = $(e.relatedTarget);


        var informationID = $("#information_id").val();

        if(link.attr("href").indexOf('attachment/add')>0)

        {

            $(this).find(".modal-title").html(link.attr("href").replace("/attachment/add","/information/"+informationID+"/attachment/add"));
            $(this).find(".modal-body").load(link.attr("href").replace("/attachment/add","/information/"+informationID+"/attachment/add"));
        }
        else
        if(link.attr("href").indexOf('information/add')>0)

        {
            var parentInformationID = $("#parentInformation_id").val();

            $(this).find(".modal-title").html(link.attr("href").replace("/information/add","/information/"+informationID+"/information/add"));
            $(this).find(".modal-body").load(link.attr("href").replace("/information/add","/information/"+informationID+"/information/add"));
        }
        else
        {

            $(this).find(".modal-title").html(link.attr("href"));
            $(this).find(".modal-body").load(link.attr("href"));
        }
    });


    /*]]>*/
</script>

</body>
<!-- end::Body -->
</html>


