<form th:action="@{/information/save}" class="form-horizontal" method="post" th:object="${information}"
	  xmlns:th="http://www.w3.org/1999/xhtml">
	<div class="modal-header">
		<h5 class="modal-title" th:text="#{label.add.information}"></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">

		<!--hidden-->
		<!--<input hidden="true" type="text" id="cSystemIde" name="cSystemId" th:field="${information.systemObjectId}"/>-->
		<input hidden="true" type="text" id="id" name="id" th:field="${information.id}" />
		<input hidden="true" type="text" id="parentInformation.id" name="parentInformation.id" th:field="${information.parentInformation.id}" />

		<input hidden="true" type="text" class="form-control" name="isTitle" th:field="${information.isTitle}"/>
		<input hidden="true" type="text" class="form-control" name="number" th:field="${information.number}"/>
		<input hidden="true" type="text" class="form-control" name="systemObjectId" th:field="${information.systemObjectId}"/>
		<input hidden="true" type="text" class="form-control" name="systemObjectTypeId" th:field="${information.systemObjectTypeId}"/>

		<div class="form-group m-form__group row">
			<label class="col-form-label col-lg-4 col-sm-12">
				<span th:text="#{label.information.name}"></span>
				<span class="m--font-danger">*</span>
			</label>
			<div class="col-lg-8 col-md-9 col-sm-12">
				<input type="text" class="form-control" name="name" th:field="${information.name}"/>
			</div>
		</div>

		<div class="form-group m-form__group row">
			<label class="col-form-label col-lg-4 col-sm-12">
				<span th:text="#{label.information.description}"></span>
				<span class="m--font-danger">*</span>
			</label>
			<div class="col-lg-8 col-md-9 col-sm-12">
				<textarea rows="2" class="form-control" name="description" th:field="${information.description}"></textarea>
			</div>
		</div>



		<!--<div class="form-group m-form__group row">-->
			<!--<label class="col-form-label col-lg-4 col-sm-12">-->
				<!--<span th:text="#{label.information.isTitle}"></span>-->
				<!--<span class="m&#45;&#45;font-danger">*</span>-->
			<!--</label>-->
			<!--<div class="col-lg-8 col-md-9 col-sm-12">-->
				<!--<input type="text" class="form-control" name="isTitle" th:field="${information.isTitle}"/>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div class="form-group m-form__group row">-->
			<!--<label class="col-form-label col-lg-4 col-sm-12">-->
				<!--<span th:text="#{label.information.date}"></span>-->
				<!--<span class="m&#45;&#45;font-danger">*</span>-->
			<!--</label>-->
			<!--<div class="col-lg-8 col-md-9 col-sm-12">-->
				<!--<div class="input-group date m_datetimepicker_6">-->
					<!--<input type="text" class="form-control m-input" th:placeholder="#{label.select.date}" name="date" th:value="${information.date}"/>-->
					<!--<span class="input-group-addon">-->
						<!--<i class="la la-calendar glyphicon-th"></i>-->
					<!--</span>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div class="form-group m-form__group row">-->
			<!--<label class="col-form-label col-lg-4 col-sm-12">-->
				<!--<span th:text="#{label.information.number}"></span>-->
				<!--<span class="m&#45;&#45;font-danger">*</span>-->
			<!--</label>-->
			<!--<div class="col-lg-8 col-md-9 col-sm-12">-->
				<!--<input type="text" class="form-control" name="number" th:field="${information.number}"/>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div class="form-group m-form__group row">-->
			<!--<label class="col-form-label col-lg-4 col-sm-12">-->
				<!--<span th:text="#{label.information.objectId}"></span>-->
				<!--<span class="m&#45;&#45;font-danger">*</span>-->
			<!--</label>-->
			<!--<div class="col-lg-8 col-md-9 col-sm-12">-->
				<!--<input type="text" class="form-control" name="systemObjectId" th:field="${information.systemObjectId}"/>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div class="form-group m-form__group row">-->
			<!--<label class="col-form-label col-lg-4 col-sm-12">-->
				<!--<span th:text="#{label.information.objectTypeId}"></span>-->
				<!--<span class="m&#45;&#45;font-danger">*</span>-->
			<!--</label>-->
			<!--<div class="col-lg-8 col-md-9 col-sm-12">-->
				<!--<input type="text" class="form-control" name="systemObjectTypeId" th:field="${information.systemObjectTypeId}"/>-->
			<!--</div>-->
		<!--</div>-->

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{label.orgForm.button.cancel}"></button>
		<button type="submit" class="btn btn-primary" th:text="#{label.button.save}"></button>
	</div>
</form>

<script>
    $('.m_selectpicker').selectpicker('refresh');

    $('.m_datetimepicker_6').datetimepicker({
        format: "yyyy-mm-dd",
        todayHighlight: true,
        autoclose: true,
        startView: 2,
        minView: 2,
        forceParse: 0,
        pickerPosition: 'bottom-left'
    });
</script>