<div class="m-content">
	<div class="row">
		<div class="col-6">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Message information
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div class="m-widget13">
						<div class="m-widget13__item">
					<span class="m-widget13__desc m--align-right m-widget13__text m-widget13__text-bolder">
						MessageKey
					</span>
							<span class="m-widget13__text" th:text="${messageResource.messageKey}">${Village.name}</span>
						</div>
						<div class="m-widget13__item">
					<span class="m-widget13__desc m--align-right m-widget13__text m-widget13__text-bolder">
						ENG
					</span>
							<span class="m-widget13__text" th:text="${messageResource.eng}">${Village.name}</span>
						</div>
						<div class="m-widget13__item">
					<span class="m-widget13__desc m--align-right m-widget13__text m-widget13__text-bolder">
						RUS
					</span>
							<span class="m-widget13__text" th:text="${messageResource.rus}">${Village.name}</span>
						</div>
						<div class="m-widget13__item">
					<span class="m-widget13__desc m--align-right m-widget13__text m-widget13__text-bolder">
						KGZ
					</span>
							<span class="m-widget13__text" th:text="${messageResource.kgz}">${Village.name}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

