<form th:action="@{/messageResource/save}" id="myform"	class="form-horizontal" method="post" th:object="${messageResource}">
	<div class="modal-header">
		<h5 class="modal-title" th:text="#{label.messageResource.modal.title}"></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">
			&times;
		</span>
		</button>
	</div>

	<div class="modal-body">

		<div class="form-group">
			<label for="name" class="form-control-label" th:text="#{label.messageResource.modal.messageKey}">MessageKey<span class="required"> * </span></label>
			<input hidden="true" type="text" id="id" name="id" th:field="${messageResource.id}" />
			<input type="text" class="form-control" id="messageKey" name="messageKey" th:value="${messageResource.messageKey}">
		</div>

		<div class="form-group ">
			<label for="eng" class="form-control-label" th:text="#{label.messageResource.modal.eng}">Eng<span class="required"> * </span></label>
			<input type="text" class="form-control" id="eng" name="eng" th:value="${messageResource.eng}">
		</div>

		<div class="form-group ">
			<label for="rus" class="form-control-label" th:text="#{label.messageResource.modal.rus}">Rus<span class="required"> * </span></label>
			<input type="text" class="form-control" id="rus" name="rus" th:value="${messageResource.rus}">
		</div>

		<div class="form-group ">
			<label for="kgz" class="form-control-label" th:text="#{label.messageResource.modal.kgz}">KGZ<span class="required"> * </span></label>
			<input type="text" class="form-control" id="kgz" name="kgz" th:value="${messageResource.kgz}">
		</div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{label.messageResource.button.cancel}"></button>
		<button type="submit" class="btn btn-primary" th:text="#{label.messageResource.button.submit}"></button>
	</div>

</form>
