<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- begin::Head -->
<head>
    <title th:text="#{label.change.password}">Редактировать пароль</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<!-- end::Head -->

<!-- end::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-aside-left--minimize m-brand--minimize"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- BEGIN: Header -->
    <div th:replace="layout/header"/>
    <!-- END: Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
        <div th:replace="layout/sidebar"/>
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-content">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--full-height">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text" th:text="#{label.change.password}">Изменить пароль</h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <form onsubmit="event.preventDefault()" class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="m-form__section">
                                <div class="m-form__content">
                                    <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text" >
                                            Не правильный пароль!!!
                                        </div>
                                        <div class="m-alert__close">
                                            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-4 col-sm-12" th:text="#{label.old.password}">
                                        Name
                                        <span class="m--font-danger">*</span>
                                    </label>
                                    <div class="col-lg-4 col-md-9 col-sm-12">
                                        <input type="text" class="form-control m-input" th:placeholder="#{label.old.password}" id="old_password" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-4 col-sm-12" th:text="#{label.new.password}">
                                        Name
                                        <span class="m--font-danger">*</span>
                                    </label>
                                    <div class="col-lg-4 col-md-9 col-sm-12">
                                        <input type="text" class="form-control m-input" name="name" id="new_password">
                                    </div>
                                </div>
                                <div class="m-form__content">
                                    <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_2_msg">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text" >
                                            Пароли не совпадают!!!
                                        </div>
                                        <div class="m-alert__close">
                                            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-4 col-sm-12" th:text="#{label.new.password.confirm}">
                                        Name
                                        <span class="m--font-danger">*</span>
                                    </label>
                                    <div class="col-lg-4 col-md-9 col-sm-12">
                                        <input type="text" class="form-control m-input" name="name" id="new_password_confirm">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions m-form__actions">
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-6">
                                        <button th:text="#{label.form.save}"  type="submit" class="btn btn-primary" id="changePassword">
                                            Save
                                        </button>
                                        <button th:text="#{label.form.cancel}" onclick="window.history.back()" type="button" class="btn btn-secondary" id="back_button">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>
        </div>
    </div>
    <!-- end:: Body -->
    <!-- begin::Footer -->
    <div th:replace="layout/footer"/>
    <!-- end::Footer -->
</div>
<!-- end:: Page -->

<div th:replace="fragments/footer :: footer-js"/>

<!--begin::Page Resources -->
<script th:inline="javascript">
    var id = /*[[${id}]]*/ [];
    $("#new_password_confirm").on('change',function () {
        if($("#new_password").val()!=$("#new_password_confirm").val()){
            var alert = $('#m_form_2_msg');
            alert.removeClass('m--hide').show();
            mApp.scrollTo(alert, -200);
        }
    });
    $("#changePassword").on("click",function () {
        $.ajax({
            type:'post',
            data:{"newPassword":$("#new_password").val(),"oldPassword":$("#old_password").val()},
            url:"/user/"+id+"/changePassword",
            success:function (data) {
                if(data=="OK"){
                    $("#back_button").click();
                }
                else{
                    var alert = $('#m_form_1_msg');
                    alert.removeClass('m--hide').show();
                    mApp.scrollTo(alert, -200);
                }

            }
        });
    });
</script>
<!--end::Page Resources -->

</body>
<!-- end::Body -->
</html>