.pagination{
    margin: 0;
    float: right;
}
.pagination li a{
    line-height: 20px;
}
.page-size-group > *{
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}
.page-size-select{
    width: auto;
    font-size: 12px;
}