/* Chat */

.chat {
    height: 100%;
}

.chat-container {
    height: 100%;
}

/* Conversation */

.conversation {
    height: 100%;
    z-index: 0;
}


.conversation .conversation-container {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Messages */

.center {
    position: relative;
    float: left;
    clear: both;
    text-align: center;
    left: 50%;
}

.date-title {
    color: #000;
    padding: 5px;
    background: #a2d9ff;
    border: 1px solid #c5bdbd;
    border-radius: 5px;
}

.message {
    color: #000;
    clear: both;
    line-height: 18px;
    padding: 8px;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
}

.message.sent {
    background: #e1ffc7;
    border: 1px solid #8fd580;
    border-radius: 5px;
    float: right;
}

.message.received {
    background: #fff;
    border: 1px solid #c5bdbd;
    border-radius: 5px;
    float: left;
}

.message.received .metadata {
    padding: 0 0 0 16px;
}

.metadata {
    display: inline-block;
    font-size: 6pt;
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
}