*, *:before, *:after {
    box-sizing: inherit;
}

/* Chat */

.chat {
    height: 100%;
}

.chat-container {
    height: 100%;
}

/* Conversation */

.conversation {
    height: 100%;
    z-index: 0;
}


.conversation .conversation-container {
    height: 100%;
    overflow-x: hidden;
}

.conversation .conversation-container:after {
    content: "";
    display: table;
    clear: both;
}

/* Messages */

.date-title {
    color: #000;
    clear: both;
    padding: 3px;
    position: relative;
    background: #a2d9ff;
    border: 1px solid #c5bdbd;
    border-radius: 5px;
    float: left;
}

.date-title:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
}

.message {
    color: #000;
    clear: both;
    line-height: 18px;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
}

.message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
}

.metadata {
    display: inline-block;
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
}

.metadata .time {
    color: rgba(0, 0, 0, .45);
    font-size: 11px;
    display: inline-block;
}

.message:first-child {
    margin: 16px 0 8px;
}

.message.received {
    background: #fff;
    border: 1px solid #c5bdbd;
    border-radius: 5px;
    float: left;
}

.message.received .metadata {
    padding: 0 0 0 16px;
}

.message.received:after {
    top: 0;
    left: -10px;
}

.message.sent {
    background: #e1ffc7;
    border: 1px solid #8fd580;
    border-radius: 5px;
    float: right;
}

.message.sent:after {
    top: 0;
    right: -10px;
}