<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div class="modal fade" id="chat_window" tabindex="-1" role="dialog" aria-labelledby="chat_window" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chatModalTitle" th:text="${@userServiceJpaImpl.findByUsername(#authentication.name)?.staff?.name}">Chat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light p-0" id="chat-page">

                <!--*******************************-->

                        <div class="row">
                            <div class="col-5">
                                <input type="text" id="usersearch" onkeyup="searchUser()" placeholder="Поиск..." style="width: 100%; height: 40px; padding-left: 20px; border: 1px solid transparent; ">
                                <div class="pre-scrollable">
                                    <table class="table table-hover" id="userlist" style="cursor: pointer">
                                        <tr th:each="user : ${@userServiceJpaImpl.findAll()}"
                                            th:if="${user.staff != null}">
                                            <td th:id="${user.username}" th:text="${user.staff?.name}" height="40px" th:title="${user.username}"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-7">
                                <!--div id="messageArea" class="m-3"></div-->
                                <!-- Start -->
                                <div class="chat">
                                    <div class="chat-container">
                                        <div class="conversation">
                                            <div class="conversation-container pre-scrollable" id="messageArea">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End -->

                            </div>
                        </div>

                <!--*******************************-->

            </div>
            <div class="modal-footer">
                <div style="width: 100%">
                    <form id="messageForm" name="messageForm">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<header class="m-grid__item    m-header "  data-minimize-mobile="hide" data-minimize-offset="200" data-minimize-mobile-offset="200" data-minimize="minimize" >
<div class="m-container m-container--fluid m-container--full-height">
        <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- BEGIN: Brand -->
            <div class="m-stack__item m-brand  m-brand--skin-dark ">
                <div class="m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-stack__item--middle m-brand__logo">
                        <a th:href="@{/}" class="m-brand__logo-wrapper">
                            <img th:src="@{/assets/custom/app/media/img/logos/logo_default_dark.png}"/>
                        </a>
                    </div>
                    <div class="m-stack__item m-stack__item--middle m-brand__tools">
                        <!-- BEGIN: Left Aside Minimize Toggle -->
                        <a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                        <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Responsive Header Menu Toggler -->
                        <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Topbar Toggler -->
                        <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                            <i class="flaticon-more"></i>
                        </a>
                        <!-- BEGIN: Topbar Toggler -->
                    </div>
                </div>
            </div>
            <!-- END: Brand -->

            <!--<div class="container">-->
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="dropdown">
                                    <button sec:authorize="hasAnyRole('ADMIN','LOAN_SUPERVISOR','PERM_VIEW_LAON_MENU')" class="btn btn-primary dropdown-toggle m-lg-3" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="m-menu__link-text">
                                            Кредитование
                                        </span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <a th:href="@{/loanView/list}" class="dropdown-item">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                Список кредитов
                                            </span>
                                        </a>
                                        <a th:href="@{/paymentView/list}" class="dropdown-item">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                Список погашений
                                            </span>
                                        </a>
                                        <a th:href="@{/paymentScheduleView}" class="dropdown-item">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                Список графиков
                                            </span>
                                        </a>
                                        <a th:href="@{/supervisorPlanView}" class="dropdown-item">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                Список плановых показателей
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="dropdown">
                                    <button sec:authorize="hasAnyRole('ADMIN','COLLATERAL_SUPERVISOR','PERM_COLLATERAL_LAON_MENU')" class="btn btn-primary dropdown-toggle m-lg-3" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="m-menu__link-text">
                                            Залоговое обеспечение
                                        </span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <a th:href="@{/manage/collateralItemViews/list}" class="dropdown-item">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                Список предметов залога
                                            </span>
                                        </a>
                                        <a th:href="@{/collateralInspectionView}" class="dropdown-item ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                Список актов обследования залога
                                            </span>
                                        </a>
                                        <a th:href="@{/collateralArrestFreeView}" class="dropdown-item ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                Список снятий залога с ареста
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dropdown">
                                    <button sec:authorize="hasAnyRole('ADMIN','COLLECTION_SUPERVISOR','PERM_VIEW_COLLECTION_MENU')" class="btn btn-primary dropdown-toggle m-lg-3" type="button"
                                            id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="m-menu__link-text">
                                            Взыскание
                                        </span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                                        <a th:href="@{/collectionPhaseViews}" class="dropdown-item ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                Список стадий взыскания
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">

                    </div>
                    <div class="col">
                        <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                            <!-- BEGIN: Horizontal Menu -->

                            <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark "  >
                                <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                                    <!--<li class="m-menu__item m-menu__item&#45;&#45;submenu m-menu__item&#45;&#45;rel "  aria-haspopup="true" data-menu-submenu-toggle="click">-->
                                    <!--<a href="javscript:;" class="m-menu__link m-menu__toggle" >-->
                                    <!--<i class="m-menu__link-icon flaticon-add"></i>-->
                                    <!--<span class="m-menu__link-text">Actions</span>-->
                                    <!--<i class="m-menu__hor-arrow la la-angle-down"></i>-->
                                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                                    <!--</a>-->
                                    <!--<div class="m-menu__submenu m-menu__submenu&#45;&#45;classic m-menu__submenu&#45;&#45;left">-->
                                    <!--<span class="m-menu__arrow m-menu__arrow&#45;&#45;adjust" style="left: 71px;"></span>-->
                                    <!--<ul class="m-menu__subnav" >-->
                                    <!--<li id="first" class="m-menu__item  m-menu__item&#45;&#45;active " aria-haspopup="true" >-->
                                    <!--<a href="?page=header/actions&amp;demo=default" class="m-menu__link ">-->
                                    <!--<i class="m-menu__link-icon flaticon-file"></i>-->
                                    <!--<span class="m-menu__link-text">Create New Post</span>-->
                                    <!--</a>-->
                                    <!--</li>-->
                                    <!--</ul>-->
                                    <!--</div>-->
                                    <!--</li>-->
                                    <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click" aria-haspopup="true" th:switch="__${#locale}__">
                                        <a href="#" class="m-menu__link m-menu__toggle">
                                            <span class="lang-img">
                                                <img  alt="" th:src="@{/assets/global/img/flags/} + ${#locale} + '.png'" />
                                            </span>
                                            <span class="m-menu__link-text langname" th:text="${#strings.toUpperCase(#locale)}"></span>
                                            <i class="m-menu__hor-arrow la la-angle-down"></i>
                                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                                        </a>
                                        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                                            <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                            <ul class="m-menu__subnav" th:case="'kg'">
                                                <li class="m-menu__item" aria-haspopup="true">
                                                    <a th:href="'?language=ru'" class="m-menu__link ">
                                                        <span class="lang-img">
                                                            <img  alt="" th:src="@{/assets/global/img/flags/ru.png}"/>
                                                        </span>
                                                        <span class="m-menu__link-text">
                                                            Русский
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-menu__item" aria-haspopup="true">
                                                    <a th:href="'?language=en'" class="m-menu__link ">
                                                        <span class="lang-img">
                                                            <img  alt="" th:src="@{/assets/global/img/flags/en.png}"/>
                                                        </span>
                                                        <span class="m-menu__link-text">
                                                            English
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="m-menu__subnav" th:case="'ru'">
                                                <li class="m-menu__item" aria-haspopup="true">
                                                    <a th:href="'?language=kg'" class="m-menu__link ">
                                                        <span class="lang-img">
                                                            <img  alt="" th:src="@{/assets/global/img/flags/kg.png}"/>
                                                        </span>
                                                        <span class="m-menu__link-text">
                                                            Кыргызча
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-menu__item" aria-haspopup="true">
                                                    <a th:href="'?language=en'" class="m-menu__link ">
                                                        <span class="lang-img">
                                                            <img  alt="" th:src="@{/assets/global/img/flags/en.png}"/>
                                                        </span>
                                                        <span class="m-menu__link-text">
                                                            English
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="m-menu__subnav" th:case="*">
                                                <li class="m-menu__item" aria-haspopup="true">
                                                    <a th:href="'?language=kg'" class="m-menu__link ">
                                                        <span class="lang-img">
                                                            <img  alt="" th:src="@{/assets/global/img/flags/kg.png}"/>
                                                        </span>
                                                        <span class="m-menu__link-text">
                                                            Кыргызча
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="m-menu__item" aria-haspopup="true">
                                                    <a th:href="'?language=ru'" class="m-menu__link ">
                                                        <span class="lang-img">
                                                            <img  alt="" th:src="@{/assets/global/img/flags/ru.png}"/>
                                                        </span>
                                                        <span class="m-menu__link-text">
                                                            Русский
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- END: Horizontal Menu -->
                            <!-- BEGIN: Topbar -->
                            <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                                <div class="m-stack__item m-topbar__nav-wrapper">
                                    <ul class="m-topbar__nav m-nav m-nav--inline">
                                        <li class="m-nav__item m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light  m-list-search m-list-search--skin-light"
                                            id="mchat" m-search-type="dropdown">
                                            <a href="#" class="m-nav__link" data-toggle="modal" data-target="#chat_window">
                                                <span class="m-nav__link-icon">
                                                    <i class="flaticon-speech-bubble"></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light	m-list-search m-list-search--skin-light"
                                            m-dropdown-toggle="click" m-dropdown-persistent="true" id="m_quicksearch" m-search-type="dropdown">
                                            <a href="#" class="m-nav__link m-dropdown__toggle">
                                                <span class="m-nav__link-icon">
                                                    <i class="flaticon-search-1"></i>
                                                </span>
                                            </a>
                                            <div class="m-dropdown__wrapper">
                                                <span class="m-dropdown__arrow m-dropdown__arrow--right"></span>
                                                <div class="m-dropdown__inner ">
                                                    <div class="m-dropdown__header">
                                                        <form  class="m-list-search__form">
                                                            <div class="m-list-search__form-wrapper">
                                                                <span class="m-list-search__form-input-wrapper">
                                                                    <input id="m_quicksearch_input" autocomplete="off" type="text" name="q" class="m-list-search__form-input" value="" placeholder="Изде...">
                                                                </span>
                                                                <span class="m-list-search__form-icon-close" id="m_quicksearch_close">
                                                                    <i class="la la-remove"></i>
                                                                </span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="m-dropdown__body">
                                                        <div class="m-dropdown__scrollable m-scrollable" data-scrollable="true" data-max-height="300" data-mobile-max-height="200">
                                                            <div class="m-dropdown__content"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                                            <a href="#" class="m-nav__link m-dropdown__toggle">
                                                <span class="m-nav__link-icon">
                                                    <!--<img th:src="@{/assets/custom/app/media/img/users/user4.jpg}" class="m&#45;&#45;img-rounded m&#45;&#45;marginless m&#45;&#45;img-centered" alt=""/>-->
                                                    <i class="flaticon-information"></i>
                                                </span>
                                                <span class="m-topbar__username m--hide">
                                                    Nick
                                                </span>
                                            </a>
                                            <div class="m-dropdown__wrapper">
                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                <div class="m-dropdown__inner">
                                                    <div class="m-dropdown__header m--align-center" style="background: url(/assets/custom/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
                                                        <div class="m-card-user m-card-user--skin-dark">
                                                            <!--<div class="m-card-user__pic">-->
                                                            <!--<img th:src="@{/assets/custom/app/media/img/users/user4.jpg}" class="m&#45;&#45;img-rounded m&#45;&#45;marginless" alt=""/>-->
                                                            <!--</div>-->
                                                            <div class="m-card-user__details">
                                                                <a th:href="@{/user/__${@userServiceJpaImpl.findByUsername(#authentication.name).getId()}__/details}">
                                                                    <span class="m-card-user__name m--font-weight-500" th:text="${@userServiceJpaImpl.findByUsername(#authentication.name)?.staff?.name}">
                                                                        Mark Andre
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-dropdown__body">
                                                        <div class="m-dropdown__content">
                                                            <ul class="m-nav m-nav--skin-light">
                                                                <li class="m-nav__section m--hide">
                                                                    <span class="m-nav__section-text">
                                                                        Section
                                                                    </span>
                                                                </li>
                                                                <!--<li class="m-nav__item">-->
                                                                <!--<a href="#" class="m-nav__link">-->
                                                                <!--<i class="m-nav__link-icon flaticon-profile-1"></i>-->
                                                                <!--<span class="m-nav__link-title">-->
                                                                <!--<span class="m-nav__link-wrap">-->

                                                                <!--</span>-->
                                                                <!--</span>-->
                                                                <!--</a>-->
                                                                <!--</li>-->
                                                                <!--<li class="m-nav__item">-->
                                                                <!--<a href="#" class="m-nav__link">-->
                                                                <!--<i class="m-nav__link-icon flaticon-share"></i>-->
                                                                <!--<span class="m-nav__link-text">-->
                                                                <!--Activity-->
                                                                <!--</span>-->
                                                                <!--</a>-->
                                                                <!--</li>-->
                                                                <!--<li class="m-nav__item">-->
                                                                <!--<a href="#" class="m-nav__link">-->
                                                                <!--<i class="m-nav__link-icon flaticon-chat-1"></i>-->
                                                                <!--<span class="m-nav__link-text">-->
                                                                <!--Messages-->
                                                                <!--</span>-->
                                                                <!--</a>-->
                                                                <!--</li>-->
                                                                <li class="m-nav__separator m-nav__separator--fit"></li>
                                                                <li class="m-nav__item">
                                                                    <a th:href="@{/logout}" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                                                        Logout
                                                                    </a>

                                                                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/startMigration}" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                                                        Start Migration
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- END: Topbar -->
                        </div>
                    </div>
                </div>
            <!--</div>-->
        </div>
    </div>

</header>