<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- begin::Head -->
<head>
    <title th:text="#{label.paymentSchedule}"></title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<!-- end::Head -->

<!-- end::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-aside-left--minimize m-brand--minimize"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- BEGIN: Header -->
    <div th:replace="layout/header"/>
    <!-- END: Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
        <div th:replace="layout/sidebar"/>
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title m-subheader__title--separator" th:text="#{label.judgement}"></h3>
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                            <li class="m-nav__item m-nav__item--home">
                                <a th:href="@{/}" class="m-nav__link m-nav__link--icon">
                                    <i class="m-nav__link-icon la la-home"></i>
                                </a>
                            </li>
                            <li class="m-nav__separator">
                                -
                            </li>
                            <li class="m-nav__item">
                                <span class="m-nav__link-text"th:text="#{label.paymentSchedule}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: Subheader -->
            <div class="m-content">
                <div class="m-content">
                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--full-height">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text" th:text="#{label.paymentSchedule}"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet m-portlet--mobile">
                        <div class="m-portlet__body">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link m--font-primary active" data-toggle="tab" href="#main" th:text="#{label.loan.credit}"></a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="main" role="tabpanel">
                                    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                                        <div class="row align-items-center">
                                            <div class="col-xl-9 order-1 order-xl-1">
                                                <div class="form-group m-form__group row align-items-center">
                                                    <div class="col-lg-6">
                                                        <div class="m-input-icon m-input-icon--left">
                                                            <input type="text" class="form-control m-input m-input--solid" th:placeholder="#{label.search}" id="search">
                                                            <span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
                                                        </div>
                                                    </div>
                                                    <col-lg-2>
                                                        <form th:action="@{/orderterm/printout/paymentschedules/pdf}" method="post">
                                                            <input hidden="hidden" name="paymentSchedules" th:value="${jsonPaymentSchedules}">
                                                            <button class="btn btn-sm btn-accent m-1" type="submit">GET PDF</button>
                                                        </form>
                                                    </col-lg-2>
                                                    <col-lg-2>
                                                        <form th:action="@{/orderterm/printout/paymentschedules/excel}" method="post">
                                                            <input hidden="hidden" name="paymentSchedules" th:value="${jsonPaymentSchedules}">
                                                            <button class="btn btn-sm btn-accent m-1" type="submit">GET EXCEL</button>
                                                        </form>
                                                    </col-lg-2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-portlet__body m-portlet__body--no-padding">
                                        <div class="m_datatable" id="paymentScheduleTable"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Body -->
    <!-- begin::Footer -->
    <div th:replace="layout/footer"/>
    <!-- end::Footer -->
</div>
<!-- end:: Page -->

<div th:replace="fragments/footer :: footer-js"/>

<!--begin::Page Resources -->
<!--end::Page Resources -->
<script th:inline="javascript">
    var jsonPaymentSchedules = [[${jsonPaymentSchedules}]]

    var DatatableDataLocalPaymentSchedule= function () {
        //== Private functions

        // demo initializer
        var mainTableInit = function () {

            var dataJSONArray = JSON.parse(jsonPaymentSchedules);

            var datatable = $('#paymentScheduleTable').mDatatable({
                // datasource definition
                data: {
                    type: 'local',
                    source: dataJSONArray
                },

                // layout definition
                layout: {
                    theme: 'default', // datatable theme
                    class: '', // custom wrapper class
                    scroll: false, // enable/disable datatable scroll both horizontal and vertical when needed.
                    height: 450, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting(refer to Kendo UI)
                sortable: true,

                // column based filtering(refer to Kendo UI)
                filterable: false,

                pagination: true,

                // inline and bactch editing(cooming soon)
                // editable: false,

                // columns definition
                columns: [{
                    field: "expectedDate",
                    title: "Дата"
                },{
                    field: "disbursement",
                    title: "Освоение",
                    template: function (row) {
                        return (row.disbursement).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ').replace(".", ",");
                    }
                }, {
                    field: "principalPayment",
                    title: "Осн.сумма",
                    template: function (row) {
                        return (row.principalPayment).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ').replace(".", ",");
                    }
                }, {
                    field: "interestPayment",
                    title: "Проценты",
                    template: function (row) {
                        return (row.interestPayment).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ').replace(".", ",");
                    }
                }, {
                    field: "collectedInterestPayment",
                    title: "Нак.проценты",
                    template: function (row) {
                        return (row.collectedInterestPayment).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ').replace(".", ",");
                    }
                }, {
                    field: "collectedPenaltyPayment",
                    title: "Нак.штр.",
                    template: function (row) {
                        return (row.collectedPenaltyPayment).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ').replace(".", ",");
                    }
                }, /*{
                field: "installmentStateName",
                title: "Статус"
            }, */{
                    field: "record_status",
                    title: "Статус",
                    width: 100,
                    template: function (row) {

                        if(row.record_status==2){
                            return '<span class="m-badge m-badge--danger m-badge--wide"> Отменен</span>';
                        }
                        else{
                            return '<span class="m-badge m-badge--success m-badge--wide">Действует</span>';
                        }
                    }
                }],
                translate: {
                    records: {
                        processing: 'Подождите пожалуйста...',
                        noRecords: 'Записей не найдено'
                    },
                    toolbar: {
                        pagination: {
                            items: {
                                default: {
                                    first: 'Первая страница',
                                    prev: 'Предыдущая страница',
                                    next: 'Следующая страница',
                                    last: 'Последняя страница',
                                    more: 'Другие страницы',
                                    input: 'Номер страницы',
                                    select: 'Выбрать размер страницы'
                                },
                                info: 'Отображение {{start}} - {{end}} из {{total}} записей'
                            }
                        }
                    }
                },

                toolbar: {
                    items: {
                        // pagination
                        pagination: {
                            // page size select
                            pageSizeSelect: [5, 10, 20, 50, 100]
                        }
                    }
                }
            });

            var query = datatable.getDataSourceQuery();

            $('#search').on('keyup', function (e) {
                datatable.search($(this).val().toLowerCase());
            }).val(query.generalSearch);
        };

        return {
            //== Public functions
            init: function () {
                mainTableInit();
            }
        };
    }();
    jQuery(document).ready(function () {
       DatatableDataLocalPaymentSchedule.init();
    });
</script>
</body>
<!-- end::Body -->
</html>