<form th:action="@{/orderTerm/calculate}" th:object="${term}" class="form-horizontal" method="post"
      xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal-header">
        <h5 class="modal-title" id="orgFormFormModalTitle" th:text="#{label.orderTerm.calculate}"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">
				&times;
			</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="alert alert-danger alert-dismissible alert-hidden" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            <span th:text="#{label.village.modal.error.name}"></span>
        </div>

        <div class="form-group ">
            <label class="form-control-label" th:text="#{label.loan.amount}"><span class="required"> * </span></label>
            <input type="text" class="form-control" name="amount" th:value="0.0">
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{label.cancel}"></button>
        <button type="submit" class="btn btn-primary" th:text="#{label.calculate}"></button>
    </div>

</form>