<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- begin::Head -->
<head>
	<title>Добавить/Редактировать кредитное условие</title>

	<div th:replace="fragments/header :: header-css"/>
</head>
<!-- end::Head -->

<!-- end::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-aside-left--minimize m-brand--minimize"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
	<!-- BEGIN: Header -->
	<div th:replace="layout/header"/>
	<!-- END: Header -->
	<!-- begin::Body -->
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
		<!-- BEGIN: Left Aside -->
		<div th:replace="layout/sidebar"/>
		<!-- END: Left Aside -->
		<div class="m-grid__item m-grid__item--fluid m-wrapper">
			<!-- BEGIN: Subheader -->
			<div class="m-subheader ">
				<div class="d-flex align-items-center">
					<div class="mr-auto">
						<h3 class="m-subheader__title m-subheader__title--separator">
							Кредитное условие
						</h3>
						<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
							<li class="m-nav__item m-nav__item--home">
								<a th:href="@{/}" class="m-nav__link m-nav__link--icon">
									<i class="m-nav__link-icon la la-home"></i>
								</a>
							</li>
							<li class="m-nav__separator">
								-
							</li>
							<li class="m-nav__item">
								<a th:href="@{/manage/order/list}" class="m-nav__link">
											<span class="m-nav__link-text">
												Список решений
											</span>
								</a>
							</li>
							<li class="m-nav__separator">
								-
							</li>
							<li class="m-nav__item">
								<a th:href="@{/manage/order/__${orderId}__/view}" class="m-nav__link">
											<span class="m-nav__link-text" th:text="${order.regNumber}">
												Решение
											</span>
								</a>
							</li>
							<li class="m-nav__separator">
								-
							</li>
							<li class="m-nav__item">
								<span class="m-nav__link-text">
												Добавить/Редактировать кредитное условие
											</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- END: Subheader -->
			<div class="m-content">
				<!--begin::Portlet-->
				<div class="m-portlet m-portlet--full-height">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text" th:text="#{label.orderTerm.add}"></h3>
							</div>
						</div>
					</div>
					<!--begin::Form-->
					<form th:action="@{/manage/order/__${orderId}__/orderterm/save}" method="post" class="m-form m-form--fit m-form--label-align-right">
						<input hidden="true" type="text" id="id" name="id" th:value="${term.id}"/>
						<div class="m-portlet__body">
							<div class="m-form__section">

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12" for="description">
										<span th:text="#{label.order.term.description}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<textarea class="form-control m-input" id="description" rows="3" name="description" th:value="${term.description}"></textarea>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.fund}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control m-bootstrap-select m_selectpicker" th:field="${term.fund.id}"  id="fund" th:title="#{label.select}">
											<option th:each="fund : ${funds}" th:value="${fund.id}" th:text="${fund.name}"></option>
										</select>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.amount}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="amount" th:value="${term.amount}">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.currency}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control m-bootstrap-select m_selectpicker" th:field="${term.currency.id}" id="currency" th:title="#{label.select}">
											<option th:each="curr : ${currencies}" th:value="${curr.id}" th:text="${curr.name}"></option>
										</select>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.freqQuantity}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="frequencyQuantity" th:value="${term.frequencyQuantity}">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.freqType}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control m-bootstrap-select m_selectpicker" th:field="${term.frequencyType.id}" id="frequencyType" th:title="#{label.select}">
											<option th:each="freq : ${freqTypes}" th:value="${freq.id}" th:text="${freq.name}"></option>
										</select>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.installmentQuantity}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="installmentQuantity" th:value="${term.installmentQuantity}">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.insFirstDay}"></span>
										<span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="installmentFirstDay" th:value="${term.installmentFirstDay}">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.firstInstallmentDate}"></span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<div class="input-group date m_datetimepicker_6">
											<input type="text" class="form-control m-input" th:placeholder="#{label.select.date}" name="firstInstallmentDate" th:value="${#dates.format(term.firstInstallmentDate,'dd.MM.yyyy')}" />
											<span class="input-group-addon">
													<i class="la la-calendar glyphicon-th"></i>
												</span>
										</div>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.lastInstallmentDate}"></span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<div class="input-group date m_datetimepicker_6">
											<input type="text" class="form-control m-input" th:placeholder="#{label.select.date}" name="lastInstallmentDate" th:value="${#dates.format(term.lastInstallmentDate,'dd.MM.yyyy')}" />
											<span class="input-group-addon">
													<i class="la la-calendar glyphicon-th"></i>
												</span>
										</div>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.minDaysDisbFirstInst}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="minDaysDisbFirstInst" th:value="${term.minDaysDisbFirstInst}">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.maxDaysDisbFirstInst}"></span>
										<span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="maxDaysDisbFirstInst" th:value="${term.maxDaysDisbFirstInst}">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.graceOnPrinciplePaymentInst}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="graceOnPrinciplePaymentInst" th:value="${term.graceOnPrinciplePaymentInst}">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.graceOnPrinciplePaymentDays}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="graceOnPrinciplePaymentDays" th:value="${term.graceOnPrinciplePaymentDays}">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.graceOnInterestPaymentInst}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="graceOnInterestPaymentInst" th:value="${term.graceOnInterestPaymentInst}">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.graceOnInterestPaymentDays}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="graceOnInterestPaymentDays" th:value="${term.graceOnInterestPaymentDays}">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.graceOnInterestAccrInst}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="graceOnInterestAccrInst" th:value="${term.graceOnInterestAccrInst}">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.graceOnInterestAccrDays}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="graceOnInterestAccrDays" th:value="${term.graceOnInterestAccrDays}">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.interestRateValue}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="interestRateValue" th:value="${term.interestRateValue}">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.interestRateValuePerPeriod}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control m-bootstrap-select m_selectpicker" th:field="${term.interestRateValuePerPeriod.id}"  id="interestRateValuePerPeriod" th:title="#{label.select}">
											<option th:each="period : ${ratePeriods}" th:value="${period.id}" th:text="${period.name}"></option>
										</select>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
										<span th:text="#{label.order.term.interestType}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control m-bootstrap-select m_selectpicker" th:field="${term.interestType.id}"  id="interestType" th:title="#{label.select}">
											<option th:each="type : ${rateTypes}" th:value="${type.id}" th:text="${type.name}"></option>
										</select>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
										<span th:text="#{label.order.term.penaltyOnPrincipleOverdueRateValue}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="penaltyOnPrincipleOverdueRateValue" th:value="${term.penaltyOnPrincipleOverdueRateValue}">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.penaltyOnPrincipleOverdueType}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control m-bootstrap-select m_selectpicker" th:field="${term.penaltyOnPrincipleOverdueType.id}"  id="penaltyOnPrincipleOverdueType" th:title="#{label.select}">
											<option th:each="type : ${rateTypes}" th:value="${type.id}" th:text="${type.name}"></option>
										</select>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
										<span th:text="#{label.order.term.penaltyOnInterestOverdueRateValue}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="penaltyOnInterestOverdueRateValue" th:value="${term.penaltyOnInterestOverdueRateValue}">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.penaltyOnInterestOverdueType}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control m-bootstrap-select m_selectpicker" th:field="${term.penaltyOnInterestOverdueType.id}"  id="penaltyOnInterestOverdueType" th:title="#{label.select}">
											<option th:each="type : ${rateTypes}" th:value="${type.id}" th:text="${type.name}"></option>
										</select>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.daysInYearMethod}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control m-bootstrap-select m_selectpicker" th:field="${term.daysInYearMethod.id}"  id="daysInYearMethod" th:title="#{label.select}">
											<option th:each="method : ${daysMethods}" th:value="${method.id}" th:text="${method.name}"></option>
										</select>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.daysInMonthMethod}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control m-bootstrap-select m_selectpicker" th:field="${term.daysInMonthMethod.id}"  id="daysInMonthMethod" th:title="#{label.select}">
											<option th:each="method : ${daysMethods}" th:value="${method.id}" th:text="${method.name}"></option>
										</select>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.transactionOrder}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control m-bootstrap-select m_selectpicker" th:field="${term.transactionOrder.id}"  id="transactionOrder" th:title="#{label.select}">
											<option th:each="order : ${txOrders}" th:value="${order.id}" th:text="${order.name}"></option>
										</select>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.interestAccrMethod}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<select class="form-control m-bootstrap-select m_selectpicker" th:field="${term.interestAccrMethod.id}"  id="interestAccrMethod" th:title="#{label.select}">
											<option th:each="method : ${accrMethods}" th:value="${method.id}" th:text="${method.name}"></option>
										</select>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.earlyRepaymentAllowed}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<div class="m-checkbox-inline">
											<label class="m-checkbox">
												<input type="checkbox" name="earlyRepaymentAllowed"  th:checked="${term.earlyRepaymentAllowed} ? 'checked'">
												<span></span>
											</label>
										</div>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.penaltyLimitPercent}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<input type="text" class="form-control m-input" name="penaltyLimitPercent" th:value="${term.penaltyLimitPercent}">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-4 col-sm-12">
                                        <span th:text="#{label.order.term.collateralFree}"></span>
                                        <span class="m--font-danger">*</span>
									</label>
									<div class="col-lg-4 col-md-9 col-sm-12">
										<div class="m-checkbox-inline">
											<label class="m-checkbox">
												<input type="checkbox" name="collateralFree" th:checked="${term.collateralFree} ? 'checked'">
												<span></span>
											</label>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="m-portlet__foot m-portlet__foot--fit">
							<div class="m-form__actions m-form__actions">
								<div class="row">
									<div class="col-lg-4"></div>
									<div class="col-lg-6">
										<button type="submit" class="btn btn-primary">
											<span th:text="#{label.form.save}"></span>
										</button>
										<button onclick="window.history.back()" type="button" class="btn btn-secondary">
											<span th:text="#{label.form.cancel}"></span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>
					<!--end::Form-->
				</div>
				<!--end::Portlet-->
			</div>
		</div>
	</div>
	<!-- end:: Body -->
	<!-- begin::Footer -->
	<div th:replace="layout/footer"/>
	<!-- end::Footer -->
</div>
<!-- end:: Page -->

<div th:replace="fragments/footer :: footer-js"/>

<!--begin::Page Resources -->
<script th:src="@{/assets/custom/demo/default/custom/components/forms/widgets/bootstrap-datetimepicker.js}" type="text/javascript"></script>
<script th:src="@{/assets/custom/demo/default/custom/components/forms/widgets/bootstrap-select.js}" type="text/javascript"></script>
<!--end::Page Resources -->

</body>
<!-- end::Body -->
</html>