<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- begin::Head -->
<head>
	<title th:text="${item.name}"></title>
	<div th:replace="fragments/header :: header-css"/>
</head>
<!-- end::Head -->

<!-- end::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-aside-left--minimize m-brand--minimize"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
	<!-- BEGIN: Header -->
	<div th:replace="layout/header"/>
	<!-- END: Header -->
	<!-- begin::Body -->
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
		<!-- BEGIN: Left Aside -->
		<div th:replace="layout/sidebar"/>
		<!-- END: Left Aside -->
		<div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title m-subheader__title--separator" th:text="#{label.collateral.item}">
                            Предмет залога
                        </h3>
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                            <li class="m-nav__item m-nav__item--home">
                                <a th:href="@{/}" class="m-nav__link m-nav__link--icon">
                                    <i class="m-nav__link-icon la la-home"></i>
                                </a>
                            </li>
                            <li class="m-nav__separator">
                                -
                            </li>
                            <li class="m-nav__item">
                                <a th:href="@{/manage/debtor/list}" class="m-nav__link">
											<span class="m-nav__link-text" th:text="#{label.debtor.list}">
												Список заемщиков
											</span>
                                </a>
                            </li>
                            <li class="m-nav__separator">
                                -
                            </li>
                            <li class="m-nav__item">
                                <a th:href="@{/manage/debtor/__${debtorId}__/view}" class="m-nav__link">
											<span class="m-nav__link-text" th:text="${debtor.name}">
												Заемщик
											</span>
                                </a>
                            </li>
                            <li class="m-nav__separator">
                                -
                            </li>
                            <li class="m-nav__item">
                                <a th:href="@{/manage/debtor/__${debtorId}__/collateralagreement/__${agreementId}__/view}" class="m-nav__link">
											<span class="m-nav__link-text" th:text="${agreement.agreementNumber}">
												Заемщик
											</span>
                                </a>
                            </li>
                            <li class="m-nav__separator">
                                -
                            </li>
                            <li class="m-nav__item">
								<span class="m-nav__link-text"th:text="#{label.collateral.item}">
												Предмет залога
											</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END: Subheader -->
            <div class="m-content">
			    <div class="m-content">
				<!--begin::Portlet-->
                    <div class="m-portlet m-portlet--full-height">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text" th:text="${item.name}"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet m-portlet--mobile">
                        <div class="m-portlet__body">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link m--font-primary active" data-toggle="tab" href="#tab1" th:text="#{label.collateralitem.tab.info}"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link m--font-primary" data-toggle="tab" href="#tab2" th:text="#{label.collateralitem.tab.collateralInspection}"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link m--font-primary" data-toggle="tab" href="#tab3" th:text="#{label.collateralitem.tab.collateralArrestFree}"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link m--font-primary" data-toggle="tab" href="#information" th:text="#{label.information}"></a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1" role="tabpanel">
                                    <div th:if="${arrest}" sec:authorize="hasAnyAuthority('ADMIN','PERM_UPDATE_COLLATERALITEM')" class="col-xl-12 order-3 order-xl-3 m--align-right">
                                        <div >
                                            <div>
                                                <a th:href="@{/manage/debtor/__${debtorId}__/collateralagreement/__${agreement.id}__/collateralitem/__${item.id}__/save}" class="btn btn-outline-danger" title="Редактировать">
                                                    <span>
                                                        <i class="la la-edit"></i>
                                                        <span th:text="#{label.table.edit}"></span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-portlet__body m-portlet__body--no-padding">
                                        <div class="row m-row--no-padding m-row--col-separator-xl">
                                            <div class="col-md-12 col-lg-12 col-xl-4">
                                                <!--begin:: Widgets/Stats2-1 -->
                                                <div class="m-widget1">
                                                    <div class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 class="m-widget1__title" th:text="#{label.collateralItem.inspectionStatus}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${item?.inspectionStatus?.name}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="item_type" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 class="m-widget1__title" th:text="#{label.collateralItem.type}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${item.itemType.name}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="quantity" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 class="m-widget1__title" th:text="#{label.collateralItem.quantity}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${item.quantity + ' ' + item.quantityType.name}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="description" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 class="m-widget1__title" th:text="#{label.collateralItem.description}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${item.description}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="incomplete_reason" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 class="m-widget1__title" th:text="#{label.collateralItem.incompleteReason}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${item.getCollateralItemDetails()?.incomplete_reason}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="collateral_value" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 class="m-widget1__title" th:text="#{label.collateralItem.collateralValue}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${#numbers.formatDecimal(item.collateralValue, 0, 'DEFAULT', 2, 'DEFAULT')}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id= "estimated_value" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 class="m-widget1__title" th:text="#{label.collateralItem.estimatedValue}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${#numbers.formatDecimal(item.estimatedValue, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-widget1__item" th:if="${item.inspection_needed}==false">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 class="m-widget1__title" th:text="#{label.collateralItem.inspectionNeededDesc}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${item.inspection_needed_description}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end:: Widgets/Stats2-1 -->
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-xl-4">
                                                <!--begin:: Widgets/Stats2-3 -->
                                                <div class="m-widget1">

                                                    <div id="guarantor" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 class="m-widget1__title" th:text="#{label.collateralItem.guarantor}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${ownerName}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="document" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 class="m-widget1__title" th:text="#{label.collateralItem.document}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${item.getCollateralItemDetails()?.document}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="condition_type" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 class="m-widget1__title" th:text="#{label.collateralItem.conditionType}"></h3>
                                                                <a sec:authorize="hasAnyAuthority('ADMIN')" class="btn btn-success"
                                                                   th:href="@{/manage/debtor/__${debtorId}__/collateralagreement/__${agreementId}__/collateralitem/__${item.id}__/conditiontype/change}"
                                                                   data-toggle="modal"
                                                                   data-target="#conditionTypeModal">
                                                                    <span class="m-widget1__desc m--font-brand" th:text="${item.conditionType?.name}"></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="arrest_by" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 class="m-widget1__title" th:text="#{label.collateralItem.arrestBy}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${organizationName}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 class="m-widget1__title" th:text="#{label.createdBy}"></h3>
                                                                <span th:if="${createdBy}!=null" class="m-widget1__desc m--font-brand" th:text="${createdBy}+' ('+${#dates.format(item.auCreatedDate,'dd.MM.yyyy HH:mm:ss')}+')'"></span>
                                                                <span th:unless="${createdBy}!=null" class="m-widget1__desc m--font-brand">-</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 class="m-widget1__title" th:text="#{label.modifiedBy}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:if="${modifiedBy}!=null" th:text="${modifiedBy}+' ('+${#dates.format(item.auLastModifiedDate,'dd.MM.yyyy  HH:mm:ss')}+')'"></span>
                                                                <span class="m-widget1__desc m--font-brand" th:unless="${modifiedBy}!=null">-</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--begin:: Widgets/Stats2-3 -->
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-xl-4">
                                                <!--begin:: Widgets/Stats2-3 -->
                                                <div class="m-widget1">
                                                    <div id="goods_type" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 id="detailsLabel8" class="m-widget1__title" th:text="#{label.collateralItem.goodsType}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${item.getCollateralItemDetails()?.goods_type}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="goods_id" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 id="detailsLabel6" class="m-widget1__title" th:text="#{label.collateralItem.goodsId}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${item.getCollateralItemDetails()?.goods_id}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="details1" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 id="detailsLabel1" class="m-widget1__title" th:text="#{label.collateralItem.details1}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${item.getCollateralItemDetails()?.getDetails1()}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="details2" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 id="detailsLabel2" class="m-widget1__title" th:text="#{label.collateralItem.details2}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${item.getCollateralItemDetails()?.getDetails2()}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="details3" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 id="detailsLabel3" class="m-widget1__title" th:text="#{label.collateralItem.details3}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${item.getCollateralItemDetails()?.getDetails3()}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="details4" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 id="detailsLabel4" class="m-widget1__title" th:text="#{label.collateralItem.details4}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${item.getCollateralItemDetails()?.getDetails4()}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="details5" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 id="detailsLabel5" class="m-widget1__title" th:text="#{label.collateralItem.details5}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${item.getCollateralItemDetails()?.getDetails5()}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="goods_address" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 class="m-widget1__title" th:text="#{label.collateralItem.goodsAdress}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${item.getCollateralItemDetails()?.getGoods_address()}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="prod_date" class="m-widget1__item">
                                                        <div class="row m-row--no-padding align-items-center">
                                                            <div class="col">
                                                                <h3 id="detailsLabel7" class="m-widget1__title" th:text="#{label.collateralItem.details7}"></h3>
                                                                <span class="m-widget1__desc m--font-brand" th:text="${item.getCollateralItemDetails()?.getProdDate()}"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!--begin:: Widgets/Stats2-3 -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2" role="tabpanel">
                                    <!--begin::Portlet-->
                                    <div class="m-portlet m-portlet--mobile">
                                        <div class="m-portlet__body">

                                            <!--begin: Search Form -->
                                            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                                                <div class="row align-items-center">
                                                    <div class="col-xl-9 order-1 order-xl-1">
                                                        <div class="form-group m-form__group row align-items-center">
                                                            <div class="col-lg-6">
                                                                <div class="m-input-icon m-input-icon--left">
                                                                    <input type="text" class="form-control m-input m-input--solid" th:placeholder="#{label.search}" id="m_form_search1">
                                                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                                                <span>
                                                                    <i class="la la-search"></i>
                                                                </span>
                                                            </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-3 order-3 order-xl-3 m--align-right" th:if="${arrest}">
                                                        <a sec:authorize="hasAnyAuthority('ADMIN','PERM_ADD_COLLATERALITEMINSPECTIONRESULT')" th:href="@{/manage/debtor/__${debtorId}__/collateralagreement/__${agreementId}__/collateralitem/__${item.id}__/insresult/0/save}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                                    <span>
                                                        <i class="la la-plus"></i>
                                                        <span th:text="#{label.add.collateral.inspection.result}">
                                                            Добавить акт обследования
                                                        </span>
                                                    </span>
                                                        </a>
                                                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end: Search Form -->
                                            <!--begin: Datatable -->
                                            <div class="m_datatable" id="inspectionsTable"></div>
                                            <!--end: Datatable -->

                                        </div>
                                    </div>
                                    <!--end::Portlet-->
                                </div>
                                <div class="tab-pane" id="tab3" role="tabpanel">
                                <!--begin::Portlet-->
                                <div class="m-portlet m-portlet--mobile">
                                    <div class="m-portlet__head">
                                        <div class="m-portlet__head-caption">
                                            <div class="m-portlet__head-title">
                                                <h3 class="m-portlet__head-text" th:text="#{label.collateralItem.arrestFreeInfo}"></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-portlet__body">

                                        <!--begin: Search Form -->
                                        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                                            <div class="row align-items-center">
                                                <div class="col-xl-9 order-1 order-xl-1">
                                                    <div class="form-group m-form__group row align-items-center">
                                                        <div class="col-lg-6">
                                                            <div class="m-input-icon m-input-icon--left">
                                                                <input type="text" class="form-control m-input m-input--solid" th:placeholder="#{label.search}" id="m_form_search2">
                                                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                                            <span>
                                                                <i class="la la-search"></i>
                                                            </span>
                                                        </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div th:if="${arrest}" class="col-xl-3 order-3 order-xl-3 m--align-right" id="arrestFreeAddButton">
                                                    <a sec:authorize="hasAnyAuthority('ADMIN','PERM_ADD_COLLATERALARRESTFREE')" th:href="@{/manage/debtor/__${debtorId}__/collateralagreement/__${agreementId}__/collateralitem/__${item.id}__/arrestfree/0/save}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                                <span>
                                                    <i class="la la-plus"></i>
                                                    <span th:text="#{label.add.collateral.arrestFree}">
                                                        Добавить снятие с залога
                                                    </span>
                                                </span>
                                                    </a>
                                                    <div class="m-separator m-separator--dashed d-xl-none"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end: Search Form -->
                                        <!--begin: Datatable -->
                                        <div class="m_datatable" id="arrestFreesTable"></div>
                                        <!--end: Datatable -->
                                    </div>
                                </div>
                                <!--end::Portlet-->
                            </div>
                                <div id="information" class="tab-pane"  role="tabpanel">
                                    <!--begin: Search Form -->
                                    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                                        <div class="row align-items-center">
                                            <div class="col-xl-9 order-1 order-xl-1">
                                                <div class="form-group m-form__group row align-items-center">
                                                    <div class="col-lg-6">
                                                        <div class="m-input-icon m-input-icon--left">
                                                            <input type="text" class="form-control m-input m-input--solid" placeholder="Искать..." id="searchFile">
                                                            <span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div th:if="${arrest}" class="col-xl-3 order-3 order-xl-3 m--align-right">
                                                <div class="row">
                                                    <a sec:authorize="hasAnyAuthority('ADMIN','PERM_ADD_INFORMATION_AGREEMENT')" th:href="@{/manage/debtor/__${debtorId}__/agreement/__${agreement.id}__/item/__${item.id}__/addInformation}"
                                                       role="button" class="btn btn-success" th:text="#{label.add.attachment}"> Add
                                                        Attachment</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end: Search Form -->
                                    <!--begin: Datatable -->
                                    <div class="m_datatable" id="filesTable"></div>
                                    <!--end: Datatable -->
                                </div>
                            </div>
                        </div>
                    </div>
			    </div>
                <!--condition type change modal-->
                <div class="modal" id="conditionTypeModal" role="dialog" aria-labelledby="ConditionType" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<!-- end:: Body -->
	<!-- begin::Footer -->
	<div th:replace="layout/footer"/>
	<!-- end::Footer -->
</div>
<!-- end:: Page -->

<div th:replace="fragments/footer :: footer-js"/>

<!--begin::Page Resources -->
<script th:src="@{/js/data-debtor-agreement-item-inspections.js}" th:inline="javascript" type="text/javascript"></script>
<script th:src="@{/js/data-debtor-agreement-item-arrestFrees.js}" th:inline="javascript" type="text/javascript"></script>
<!--end::Page Resources -->

<div th:with="isAdmin = ${#authorization.expression('hasRole(''ADMIN'')')}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var hasRoleAdmin = /*[[${isAdmin}]]*/ [];
        /*]]>*/
    </script>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var jsonInspections = /*[[${inspections}]]*/ [];
    var jsonArrestFrees = /*[[${arrestFrees}]]*/ [];
    var debtorId = /*[[${debtor.id}]]*/ [];
    var agreementId = /*[[${agreement.id}]]*/ [];
    var itemId = /*[[${item.id}]]*/ [];
    /*]]>*/

    // files datatable
    var jsonFiles=[[${files}]]
    var DatatableDataLocalFiles = function () {
        //== Private functions

        // demo initializer
        var mainTableInit = function () {

            var dataJSONArray = JSON.parse(jsonFiles);

            var datatable = $('#filesTable').mDatatable({
                // datasource definition
                data: {
                    type: 'local',
                    source: dataJSONArray
                },

                // layout definition
                layout: {
                    theme: 'default', // datatable theme
                    class: '', // custom wrapper class
                    scroll: false, // enable/disable datatable scroll both horizontal and vertical when needed.
                    height: 450, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting(refer to Kendo UI)
                sortable: false,

                // column based filtering(refer to Kendo UI)
                filterable: false,

                pagination: false,

                // inline and bactch editing(cooming soon)
                // editable: false,

                // columns definition
                columns: [{
                    field: "id",
                    title: "#",
                    responsive: {hidden: 'xl'},
                },{
                    field: "attachment_name",
                    title: "Название файла"
                },  {
                    field: "sys_name",
                    title: "Название"
                },{
                    field: "action",
                    width: 110,
                    title: "",
                    sortable: false,
                    template: function (row) {

                        var result = '';

                        result = result + '\
						<a href="/systemFile/' + row.system_file_id +'/download" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Редактировать">\
							<i class="la la-download"></i>\
						</a>\
						<a href="/attachment/' + row.attachment_id +'/details" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Документ">\
							<i class="fa fa-file-o"></i>\
						</a>\
					';


                        return result;
                    }
                }],
                translate: {
                    records: {
                        processing: 'Подождите пожалуйста...',
                        noRecords: 'Записей не найдено'
                    },
                    toolbar: {
                        pagination: {
                            items: {
                                default: {
                                    first: 'Первая страница',
                                    prev: 'Предыдущая страница',
                                    next: 'Следующая страница',
                                    last: 'Последняя страница',
                                    more: 'Другие страницы',
                                    input: 'Номер страницы',
                                    select: 'Выбрать размер страницы'
                                },
                                info: 'Отображение {{start}} - {{end}} из {{total}} записей'
                            }
                        }
                    }
                },

                toolbar: {
                    items: {
                        // pagination
                        pagination: {
                            // page size select
                            pageSizeSelect: [5, 10, 20, 50, 100]
                        }
                    }
                }
            });

            var query = datatable.getDataSourceQuery();

            $('#searchFile').on('keyup', function (e) {
                datatable.search($(this).val().toLowerCase());
            }).val(query.generalSearch);


        };

        return {
            //== Public functions
            init: function () {
                // init dmeo
                mainTableInit();
            }
        };
    }();

    jQuery(document).ready(function () {
        DatatableDataLocalFiles.init();
    });

    $("#conditionTypeModal").on("show.bs.modal", function(e)
    {
        var link = $(e.relatedTarget);
        $(this).find(".modal-content").load(link.attr("href"));
    });

    var isArrestFreeEmpty = ((JSON.parse(jsonArrestFrees).length == 0) ? true: false);
    console.log(isArrestFreeEmpty);
    if(isArrestFreeEmpty)
        $('#arrestFreeAddButton').show();
    else
    {
        $('#arrestFreeAddButton').hide();
    }

</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function(){

        var itemId = /*[[${item.itemType.id}]]*/ [];

        function updateText()
        {
            var det1 = [];

            var det11=/*[[#{label.collateralItem.details1.type1}]]*/ 'default';
            var det12=/*[[#{label.collateralItem.details1.type2}]]*/ 'default';
            var det13=/*[[#{label.collateralItem.details1.type3}]]*/ 'default';
            var det14=/*[[#{label.collateralItem.details1.type4}]]*/ 'default';
            var det15=/*[[#{label.collateralItem.details1.type5}]]*/ 'default';
            var det16=/*[[#{label.collateralItem.details1.type6}]]*/ 'default';
            var det17=/*[[#{label.collateralItem.details1.type7}]]*/ 'default';
            var det18=/*[[#{label.collateralItem.details1.type8}]]*/ 'default';


            det1.push(det11);
            det1.push(det12);
            det1.push(det13);
            det1.push(det14);
            det1.push(det15);
            det1.push(det16);
            det1.push(det17);
            det1.push(det18);

            var det2 = [];

            var det21=/*[[#{label.collateralItem.details2.type1}]]*/ 'default';
            var det22=/*[[#{label.collateralItem.details2.type2}]]*/ 'default';
            var det23=/*[[#{label.collateralItem.details2.type3}]]*/ 'default';
            var det24=/*[[#{label.collateralItem.details2.type4}]]*/ 'default';
            var det25=/*[[#{label.collateralItem.details2.type5}]]*/ 'default';
            var det26=/*[[#{label.collateralItem.details2.type6}]]*/ 'default';
            var det27=/*[[#{label.collateralItem.details2.type7}]]*/ 'default';
            var det28=/*[[#{label.collateralItem.details2.type8}]]*/ 'default';


            det2.push(det21);
            det2.push(det22);
            det2.push(det23);
            det2.push(det24);
            det2.push(det25);
            det2.push(det26);
            det2.push(det27);
            det2.push(det28);


            var det3 = [];

            var det31=/*[[#{label.collateralItem.details3.type1}]]*/ 'default';
            var det32=/*[[#{label.collateralItem.details3.type2}]]*/ 'default';
            var det33=/*[[#{label.collateralItem.details3.type3}]]*/ 'default';
            var det34=/*[[#{label.collateralItem.details3.type4}]]*/ 'default';
            var det35=/*[[#{label.collateralItem.details3.type5}]]*/ 'default';
            var det36=/*[[#{label.collateralItem.details3.type6}]]*/ 'default';
            var det37=/*[[#{label.collateralItem.details3.type7}]]*/ 'default';
            var det38=/*[[#{label.collateralItem.details3.type8}]]*/ 'default';


            det3.push(det31);
            det3.push(det32);
            det3.push(det33);
            det3.push(det34);
            det3.push(det35);
            det3.push(det36);
            det3.push(det37);
            det3.push(det38);

            var det4 = [];

            var det41=/*[[#{label.collateralItem.details4.type1}]]*/ 'default';
            var det42=/*[[#{label.collateralItem.details4.type2}]]*/ 'default';
            var det43=/*[[#{label.collateralItem.details4.type3}]]*/ 'default';
            var det44=/*[[#{label.collateralItem.details4.type4}]]*/ 'default';
            var det45=/*[[#{label.collateralItem.details4.type5}]]*/ 'default';
            var det46=/*[[#{label.collateralItem.details4.type6}]]*/ 'default';
            var det47=/*[[#{label.collateralItem.details4.type7}]]*/ 'default';
            var det48=/*[[#{label.collateralItem.details4.type8}]]*/ 'default';


            det4.push(det41);
            det4.push(det42);
            det4.push(det43);
            det4.push(det44);
            det4.push(det45);
            det4.push(det46);
            det4.push(det47);
            det4.push(det48);



            var det5 = [];

            var det51=/*[[#{label.collateralItem.details5.type1}]]*/ 'default';
            var det52=/*[[#{label.collateralItem.details5.type2}]]*/ 'default';
            var det53=/*[[#{label.collateralItem.details5.type3}]]*/ 'default';
            var det54=/*[[#{label.collateralItem.details5.type4}]]*/ 'default';
            var det55=/*[[#{label.collateralItem.details5.type5}]]*/ 'default';
            var det56=/*[[#{label.collateralItem.details5.type6}]]*/ 'default';
            var det57=/*[[#{label.collateralItem.details5.type7}]]*/ 'default';
            var det58=/*[[#{label.collateralItem.details5.type8}]]*/ 'default';


            det5.push(det51);
            det5.push(det52);
            det5.push(det53);
            det5.push(det54);
            det5.push(det55);
            det5.push(det56);
            det5.push(det57);
            det5.push(det58);

            var det6 = [];

            var det61=/*[[#{label.collateralItem.details6.type1}]]*/ 'default';
            var det62=/*[[#{label.collateralItem.details6.type2}]]*/ 'default';
            var det63=/*[[#{label.collateralItem.details6.type3}]]*/ 'default';
            var det64=/*[[#{label.collateralItem.details6.type4}]]*/ 'default';
            var det65=/*[[#{label.collateralItem.details6.type5}]]*/ 'default';
            var det66=/*[[#{label.collateralItem.details6.type6}]]*/ 'default';
            var det67=/*[[#{label.collateralItem.details6.type7}]]*/ 'default';
            var det68=/*[[#{label.collateralItem.details6.type8}]]*/ 'default';


            det6.push(det61);
            det6.push(det62);
            det6.push(det63);
            det6.push(det64);
            det6.push(det65);
            det6.push(det66);
            det6.push(det67);
            det6.push(det68);

            var det7 = [];

            var det71=/*[[#{label.collateralItem.details7.type1}]]*/ 'default';
            var det72=/*[[#{label.collateralItem.details7.type2}]]*/ 'default';
            var det73=/*[[#{label.collateralItem.details7.type3}]]*/ 'default';
            var det74=/*[[#{label.collateralItem.details7.type4}]]*/ 'default';
            var det75=/*[[#{label.collateralItem.details7.type5}]]*/ 'default';
            var det76=/*[[#{label.collateralItem.details7.type6}]]*/ 'default';
            var det77=/*[[#{label.collateralItem.details7.type7}]]*/ 'default';
            var det78=/*[[#{label.collateralItem.details7.type8}]]*/ 'default';


            det7.push(det71);
            det7.push(det72);
            det7.push(det73);
            det7.push(det74);
            det7.push(det75);
            det7.push(det76);
            det7.push(det77);
            det7.push(det78);


            var det8 = [];

            var det81=/*[[#{label.collateralItem.details8.type1}]]*/ 'default';
            var det82=/*[[#{label.collateralItem.details8.type2}]]*/ 'default';
            var det83=/*[[#{label.collateralItem.details8.type3}]]*/ 'default';
            var det84=/*[[#{label.collateralItem.details8.type4}]]*/ 'default';
            var det85=/*[[#{label.collateralItem.details8.type5}]]*/ 'default';
            var det86=/*[[#{label.collateralItem.details8.type6}]]*/ 'default';
            var det87=/*[[#{label.collateralItem.details8.type7}]]*/ 'default';
            var det88=/*[[#{label.collateralItem.details8.type8}]]*/ 'default';


            det8.push(det81);
            det8.push(det82);
            det8.push(det83);
            det8.push(det84);
            det8.push(det85);
            det8.push(det86);
            det8.push(det87);
            det8.push(det88);



            var index = itemId-1;

            $('#detailsLabel1').html(det1[index]);
            $('#detailsLabel2').html(det2[index]);
            $('#detailsLabel3').html(det3[index]);
            $('#detailsLabel4').html(det4[index]);
            $('#detailsLabel5').html(det5[index]);
            $('#detailsLabel6').html(det6[index]);
            $('#detailsLabel7').html(det7[index]);
            $('#detailsLabel8').html(det8[index]);



        }

        function hideDivs()
        {
            if(itemId==1||itemId==4||itemId==5||itemId==8)
            {
                $("#goods_address").hide();
            }

            if(itemId==6)
            {
                $("#goods_address").hide();
                $("#goods_type").hide();
                $("#prod_date").hide();
                $("#goods_id").hide();
                $("#expl_date").hide();
            }

            if(itemId==2)
            {
                $("#goods_address").hide();
                $("#goods_id").hide();
                $("#details1").hide();
                $("#details2").hide();
                $("#details3").hide();
                $("#details4").hide();
                $("#details5").hide();
            }

            if(itemId==3 || itemId==7)
            {
                $("#details5").hide();
            }
        }

        updateText();
        hideDivs();
    });
    /*]]>*/
</script>

</body>
<!-- end::Body -->
</html>