<form th:action="@{/asset/__${asset.id}__/payment/save}" class="form-horizontal" method="post" th:object="${asset}"
      xmlns:th="http://www.w3.org/1999/xhtml">
    <link th:href="@{/assets/global/plugins/select2/css/select2-bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <div class="modal-header">
        <h5 class="modal-title" th:text="#{label.role.modal.title}"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">
				&times;
			</span>
        </button>
    </div>
    <div class="modal-body">
        <input hidden="hidden" name="id" th:value="*{id}">
        <div class="alert alert-danger alert-dismissible alert-hidden" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            <span th:text="#{label.role.modal.error.name}"></span>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-form-label col-lg-2 col-sm-12">
                <span th:text="#{label.debtor}"></span>
                <span class="m--font-danger">*</span>
            </label>
            <div class="col-lg-10 col-md-9 col-sm-12">
                <select id="debtorPicker" class="form-control" th:field="*{fromDebtorIds}" multiple="multiple" style="width: 100%" data-ajax--url="/api/debtors/search">
                    <option th:each="r : *{fromDebtorIds}"
                            th:text="${@debtorService.getById(__${r}__).name}"
                            th:value="${r}"></option>
                </select>
            </div>
        </div>
        <div id="loansDropDown"></div>
        <div class="form-group m-form__group row">
            <label class="col-form-label col-lg-2 col-sm-12">
                <span th:text="#{label.payment}"></span>
                <span class="m--font-danger">*</span>
            </label>
            <div class="col-lg-10 col-md-9 col-sm-12">
                <select id="paymentPicker" class="form-control" th:field="*{paymentIds}" multiple="multiple" style="width: 100%" data-ajax--url="/api/payments/search">
                    <option th:each="r : *{paymentIds}"
                            th:text="${@paymentService.getPaymentDateAmountNumberById(__${r}__)}"
                            th:value="${r}"></option>
                </select>
            </div>
        </div>
        <!--<div class="form-group m-form__group row">-->
            <!--<label class="col-form-label col-lg-2 col-sm-12">-->
                <!--<span th:text="#{label.asset.secondaryPayment}"></span>-->
                <!--<span class="m&#45;&#45;font-danger">*</span>-->
            <!--</label>-->
            <!--<div class="col-lg-10 col-md-9 col-sm-12">-->
                <!--<select id="secondaryPaymentPicker" class="form-control" th:field="*{secondaryPaymentIds}" multiple="multiple" style="width: 100%" data-ajax&#45;&#45;url="/api/payments/search">-->
                    <!--<option th:each="r : *{secondaryPaymentIds}"-->
                            <!--th:text="${@paymentService.getPaymentDateAmountNumberById(__${r}__)}"-->
                            <!--th:value="${r}"></option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{label.role.button.cancel}"></button>
        <button type="submit" class="btn btn-primary" onclick="saver()" th:text="#{label.role.button.submit}"></button>
    </div>
    <script th:src="@{/assets/global/plugins/select2/js/select2.js}" type="text/javascript"></script>
    <script th:inline="javascript">
        var debtorOption = {
            minimumInputLength: 2,
            placeholder: "Поиск ...",
            language: {
                inputTooShort: function () {
                    return "";
                },
                noResults: function () {
                    return "Не найден";
                },
                searching: function () {
                    return "";
                },
            },
            ajax: {
                url: '/api/debtors/search',
                data: function (params) {
                    var query = {
                        name: params.term
                    }
                    return query;
                },
                processResults: function (data) {
                    console.log(data)
                    return {
                        results: data
                    };
                }
            }
        }
        $('#debtorPicker').select2(debtorOption);

        var strSelectedDebtors='';
        var selectedDebtors=$("#debtorPicker").val();
        debtorSelectFunction();
        function debtorSelectFunction() {
            selectedDebtors=$("#debtorPicker").val();
            strSelectedDebtors="";
            for (var i = 0; i < selectedDebtors.length; i++) {
                if(strSelectedDebtors==""){
                    strSelectedDebtors=selectedDebtors[i];
                }
                else{
                    strSelectedDebtors=strSelectedDebtors+','+selectedDebtors[i];
                }
            }
        }
        getLoans();

        $("#debtorPicker").on("change",function () {
            debtorSelectFunction();
            getLoans();
        });

        function getLoans(){
            var dropDownUrl ="/asset/debtor/"+strSelectedDebtors+"/loans/1/"+assetId;

            $.get(dropDownUrl, function(data) {

                $('#loansDropDown').html(data);
            });
        };


        var loanOption = {
            minimumInputLength: 2,
            placeholder: "Поиск ...",
            language: {
                inputTooShort: function () {
                    return "";
                },
                noResults: function () {
                    return "Не найден";
                },
                searching: function () {
                    return "";
                },
            },
            ajax: {
                url: '/api/search/loans',
                data: function (params) {
                    var query = {
                        debtors: strSelectedDebtors,
                        name: params.term
                    }
                    return query;
                },
                processResults: function (data) {
                    console.log(data)
                    return {
                        results: data
                    };
                }
            }
        }
        $('#loanPicker').select2(loanOption);

        var paymentOption = {
            minimumInputLength: 2,
            placeholder: "Поиск ...",
            language: {
                inputTooShort: function () {
                    return "";
                },
                noResults: function () {
                    return "Не найден";
                },
                searching: function () {
                    return "";
                },
            },
            ajax: {
                url: '/api/payments/search',
                data: function (params) {
                    var query = {
                        loans: strSelectedLoans,
                        name: params.term
                    }
                    return query;
                },
                processResults: function (data) {
                    console.log(data)
                    return {
                        results: data
                    };
                }
            }
        }
        $('#paymentPicker').select2(paymentOption);
        // $('#secondaryPaymentPicker').select2(paymentOption);
    </script>
</form>