<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- begin::Head -->
<head>
	<title th:text="${'Решение: ' + order.regNumber}"></title>

	<div th:replace="fragments/header :: header-css"/>
</head>
<!-- end::Head -->

<!-- end::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-aside-left--minimize m-brand--minimize"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
	<!-- BEGIN: Header -->
	<div th:replace="layout/header"/>
	<!-- END: Header -->
	<!-- begin::Body -->
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
		<!-- BEGIN: Left Aside -->
		<div th:replace="layout/sidebar"/>
		<!-- END: Left Aside -->
		<div class="m-grid__item m-grid__item--fluid m-wrapper">
			<!-- BEGIN: Subheader -->
			<div class="m-subheader ">
				<div class="d-flex align-items-center">
					<div class="mr-auto">
						<h3 class="m-subheader__title m-subheader__title--separator">
							Решение
						</h3>
						<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
							<li class="m-nav__item m-nav__item--home">
								<a th:href="@{/}" class="m-nav__link m-nav__link--icon">
									<i class="m-nav__link-icon la la-home"></i>
								</a>
							</li>
							<li class="m-nav__separator">
								-
							</li>
							<li class="m-nav__item">
								<a th:href="@{/manage/order/list}" class="m-nav__link">
											<span class="m-nav__link-text">
												Список решений
											</span>
								</a>
							</li>
							<li class="m-nav__separator">
								-
							</li>
							<li class="m-nav__item">
								<span class="m-nav__link-text">
												Решение на выдачу кредита
											</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- END: Subheader -->
			<div class="m-content">
				<!--begin::Portlet-->
				<div class="m-portlet m-portlet--full-height">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text" th:text="${order.regNumber}"></h3>
							</div>
						</div>
					</div>
					<div class="m-portlet__body m-portlet__body--no-padding">
						<div class="row m-row--no-padding m-row--col-separator-xl">
							<div class="col-md-12 col-lg-12 col-xl-4">
								<!--begin:: Widgets/Stats2-1 -->
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.order.type}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${order.creditOrderType.name}"></span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.order.description}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${order.description}"></span>
											</div>
										</div>
									</div>
								</div>
								<!--end:: Widgets/Stats2-1 -->
							</div>
							<div class="col-md-12 col-lg-12 col-xl-4">
								<!--begin:: Widgets/Stats2-2 -->
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.order.registrationNumber}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${order.regNumber}"></span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item" sec:authorize="hasRole('ADMIN')">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.order.state}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${order.creditOrderState.name}"></span>
											</div>
										</div>
									</div>
								</div>
								<!--begin:: Widgets/Stats2-2 -->
							</div>
							<div class="col-md-12 col-lg-12 col-xl-4">
								<!--begin:: Widgets/Stats2-3 -->
								<div class="m-widget1">
									<div class="m-widget1__item">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title" th:text="#{label.order.registrationDate}"></h3>
												<span class="m-widget1__desc m--font-brand" th:text="${order.regDate}"></span>
											</div>
										</div>
									</div>
									<div class="m-widget1__item" sec:authorize="hasRole('ADMIN')">
										<div class="row m-row--no-padding align-items-center">
											<div class="col">
												<h3 class="m-widget1__title">ID</h3>
												<span class="m-widget1__desc m--font-brand" th:text="${order.id}"></span>
											</div>
										</div>
									</div>
								</div>
								<!--begin:: Widgets/Stats2-3 -->
							</div>
						</div>
					</div>
				</div>
				<!--end::Portlet-->

				<!--begin::Portlet-->
				<div class="m-portlet m-portlet--mobile">
					<div class="m-portlet__body">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link m--font-primary" data-toggle="tab" href="#appliedEntities" th:text="#{label.entities}"></a>
							</li>
							<li class="nav-item" sec:authorize="hasRole('ADMIN')">
								<a class="nav-link m--font-primary active" data-toggle="tab" href="#documentPackages" th:text="#{label.order.documentPackages}"></a>
							</li>
							<li class="nav-item" sec:authorize="hasRole('ADMIN')">
								<a class="nav-link m--font-primary" data-toggle="tab" href="#appliedEntityLists" th:text="#{label.order.entityLists}"></a>
							</li>
							<li class="nav-item" sec:authorize="hasRole('ADMIN')">
								<a class="nav-link m--font-primary" data-toggle="tab" href="#orderTerms" th:text="#{label.order.terms}"></a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane " th:classappend="${#authorization.expression('hasRole(''ADMIN'')')} ? '' : 'active'" id="appliedEntities" role="tabpanel">
								<!--begin: Search Form -->
								<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
									<div class="row align-items-center">
										<div class="col-xl-9 order-1 order-xl-1">
											<div class="form-group m-form__group row align-items-center">
												<div class="col-lg-6">
													<div class="m-input-icon m-input-icon--left">
														<input type="text" class="form-control m-input m-input--solid" placeholder="Искать..." id="m_form_search4">
														<span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--end: Search Form -->
								<!--begin: Datatable -->
								<div class="m_datatable" id="entitiesTable"></div>
								<!--end: Datatable -->
							</div>
							<div class="tab-pane active" id="documentPackages" role="tabpanel" sec:authorize="hasRole('ADMIN')">
								<!--begin: Search Form -->
								<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
									<div class="row align-items-center">
										<div class="col-xl-9 order-1 order-xl-1">
											<div class="form-group m-form__group row align-items-center">
												<div class="col-lg-6">
													<div class="m-input-icon m-input-icon--left">
														<input type="text" class="form-control m-input m-input--solid" placeholder="Искать..." id="m_form_search2">
														<span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>

										<div class="col-xl-3 order-3 order-xl-3 m--align-right">
											<a sec:authorize="hasRole('ADMIN')" th:href="@{/manage/order/__${order.id}__/orderdocumentpackage/0/save}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
												<span>
													<i class="la la-plus"></i>
													<span>
														Добавить пакет
													</span>
												</span>
											</a>
											<div class="m-separator m-separator--dashed d-xl-none"></div>
										</div>
									</div>
								</div>
								<!--end: Search Form -->
								<!--begin: Datatable -->
								<div class="m_datatable" id="packagesTable"></div>
								<!--end: Datatable -->
							</div>
							<div class="tab-pane" id="appliedEntityLists" role="tabpanel" sec:authorize="hasRole('ADMIN')">
								<!--begin: Search Form -->
								<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
									<div class="row align-items-center">
										<div class="col-xl-9 order-1 order-xl-1">
											<div class="form-group m-form__group row align-items-center">
												<div class="col-lg-6">
													<div class="m-input-icon m-input-icon--left">
														<input type="text" class="form-control m-input m-input--solid" placeholder="Искать..." id="m_form_search1">
														<span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>

										<div class="col-xl-3 order-3 order-xl-3 m--align-right">
											<a sec:authorize="hasRole('ADMIN')" th:href="@{/manage/order/__${order.id}__/entitylist/0/save}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
												<span>
													<i class="la la-plus"></i>
													<span>
														Добавить список
													</span>
												</span>
											</a>
											<div class="m-separator m-separator--dashed d-xl-none"></div>
										</div>
									</div>
								</div>
								<!--end: Search Form -->
								<!--begin: Datatable -->
								<div class="m_datatable" id="listsTable"></div>
								<!--end: Datatable -->
							</div>
							<div class="tab-pane" id="orderTerms" role="tabpanel" sec:authorize="hasRole('ADMIN')">
								<!--begin: Search Form -->
								<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
									<div class="row align-items-center">
										<div class="col-xl-9 order-1 order-xl-1">
											<div class="form-group m-form__group row align-items-center">
												<div class="col-lg-6">
													<div class="m-input-icon m-input-icon--left">
														<input type="text" class="form-control m-input m-input--solid" placeholder="Искать..." id="m_form_search3">
														<span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>

										<div class="col-xl-3 order-3 order-xl-3 m--align-right">
											<a sec:authorize="hasRole('ADMIN')" th:href="@{/manage/order/__${order.id}__/orderterm/0/save}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
												<span>
													<i class="la la-plus"></i>
													<span>
														Добавить условие
													</span>
												</span>
											</a>
											<div class="m-separator m-separator--dashed d-xl-none"></div>
										</div>
									</div>
								</div>
								<!--end: Search Form -->
								<!--begin: Datatable -->
								<div class="m_datatable" id="termsTable"></div>
								<!--end: Datatable -->
							</div>
						</div>
					</div>
				</div>
				<!--end::Portlet-->
			</div>
		</div>
	</div>
	<!-- end:: Body -->
	<!-- begin::Footer -->
	<div th:replace="layout/footer"/>
	<!-- end::Footer -->
</div>
<!-- end:: Page -->

<div th:replace="fragments/footer :: footer-js"/>

<div th:with="isAdmin = ${#authorization.expression('hasRole(''ADMIN'')')}">
	<script th:inline="javascript">
        /*<![CDATA[*/
        var hasRoleAdmin = /*[[${isAdmin}]]*/ [];
        /*]]>*/
	</script>
</div>

<script th:src="@{/js/data-order-lists.js}" th:inline="javascript" type="text/javascript"></script>
<script th:src="@{/js/data-order-packages.js}" th:inline="javascript" type="text/javascript"></script>
<script th:src="@{/js/data-order-terms.js}" th:inline="javascript" type="text/javascript"></script>
<script th:src="@{/js/data-order-entities.js}" th:inline="javascript" type="text/javascript"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var jsonLists = /*[[${entityLists}]]*/ [];
    var jsonPackages = /*[[${orderDocumentPackages}]]*/ [];
    var jsonTerms = /*[[${orderTerms}]]*/ [];
    var jsonEntities = /*[[${entities}]]*/ [];
    var orderId = /*[[${order.id}]]*/ [];
    /*]]>*/
</script>

</body>
<!-- end::Body -->
</html>